

@import "../../base/fn";
@import "aiui-tabbar";
@import "aiui-navbar";

.aiui-tab {
  display: flex;
  height:100%;
  box-sizing: border-box;
  flex-direction: column;
}

.aiui-tab__panel {
    box-sizing: border-box;
    flex:1;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}
.aiui-tab__content{
    display: none;
}
