@import "../../base/fn";

.aiui-btn {
  position: relative;
  display: inline-block;
  padding-left: @aiuiBtnDefaultGap;
  padding-right: @aiuiBtnDefaultGap;
  text-align: center;
  text-decoration: none;
  .setTapColor();
}

.aiui-btn--block {
  display: block;
  width: 100%;
}
// size
.aiui-btn--tiny {
  line-height: 40px;
  font-size: 24px;
}
.aiui-btn--small {
  line-height: 54px;
  font-size: 26px;
}
.aiui-btn--medium {
  line-height: 70px;
  font-size: 28px;
}
.aiui-btn--large {
  line-height: 80px;
  font-size: 30px;
}
.aiui-btn--giant {
  line-height: 98px;
  font-size: 40px;
}
// default
.aiui-btn--default {
  color: @aiuiBtnDefaultFontColor;
  background-color: @aiuiBtnDefaultBg;
  &:active {
    background-color: @aiuiBtnDefaultActiveBg;
  }
  &:disabled {
    color: @aiuiBtnDisabledFontColor;
    background-color: @aiuiBtnDisabledBg;
  }
}
.aiui-btn--light-blue {
  color: @aiuiColorBlue;
  background-color: @aiuiBgColorDefault;
  &:disabled {
    color: @aiuiBtnDisabledFontColor;
    background-color: @aiuiBtnDisabledBg;
  }
}
// primary
.aiui-btn--primary {
  background-image: @aiuiBtnPrimaryBgi;
  color: @aiuiBtnPrimaryFontColor;
  &:active {
    background-image: none;
    background-color: @aiuiBtnPrimaryActiveBg;
  }
  &:disabled {
    background-image: none;
    color: @aiuiBtnDisabledFontColor;
    background-color: @aiuiBtnDisabledBg;
  }
}

.aiui-btn--gray {
  color: @aiuiBtnGrayFontColor;
  background-color: @aiuiBtnGrayBg;
  &:active {
    background-color: @aiuiBtnGrayActiveBg;
  }
  &:disabled {
    color: @aiuiBtnDisabledFontColor;
    background-color: @aiuiBtnDisabledBg;
  }
}

//brown
.aiui-btn--brown {
  background-color: @aiuiColorBrown;
  color: @aiuiBtnPrimaryFontColor;
  &:active {
    background-color: @aiuiBtnBrownActiveBg;
  }
  &:disabled {
    color: @aiuiBtnDisabledFontColor;
    background-color: @aiuiBtnDisabledBg;
  }
}
// disabled
.aiui-btn--disabled {
  color: @aiuiBtnDisabledFontColor;
  background-color: @aiuiBtnDisabledBg;
}
// 小圆角
.aiui-btn--rounded {
  border-radius: 10px;
  &.aiui-btn--plain {
    &:before {
      border-radius: 20px;
    }
  }
}
// 大圆角
.aiui-btn--pill {
  border-radius: 200px;
  &.aiui-btn--plain {
    &:before {
      border-radius: 400px;
    }
  }
}
// plain
.aiui-btn--plain {
  &:before {
    .setFullLine();
  }
  &.aiui-btn--default {
    background-color: transparent;
    color: @aiuiBtnPlainDefaultFontColor;
    &:before {
      border-color: @aiuiBtnPlainDefaultBorderColor;
    }
  }
  &.aiui-btn--primary {
    background-image: none;
    background-color: transparent;
    color: @aiuiBtnPlainPrimaryFontColor;
    &:before {
      border-color: @aiuiBtnPlainPrimaryBorderColor;
    }
  }
}
// text-btn
.aiui-btn--text {
  &.aiui-btn--default {
    background-color: transparent;
    color: @aiuiBtnPlainDefaultFontColor;
  }
  &.aiui-btn--primary {
    background-image: none;
    background-color: transparent;
    color: @aiuiBtnPlainPrimaryFontColor;
  }
}

// cell btn
.aiui-btn--cell {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  padding: @aiuiCellGapV @aiuiCellGapH;
  .setTapColor();
  overflow: hidden;
  background-color: #ffffff;
  &:active {
    background-color: @aiuiBgColorActive;
  }
}

.aiui-btn--cell-warn {
  color: @aiuiColorRed;
}
