@import "../../base/fn";
@import "../aiui-button/aiui-button";

.aiui-msg {
  text-align: center;
  &__hd {
    padding: 64px;
    min-height: 320px;
  }
  &__success {
    background-color: @aiuiColorPrimary;
  }
  &__warn {
    background-color: @aiuiColorWarn;
  }
  &__title {
    color: @aiuiColorWhite;
    font-size: 34px;
    font-weight: normal;
  }
  &__bd {
    padding: 50px 48px 0 48px;
  }
  &__desc {
    font-size: 28px;
  }
  &__ft {
    padding: 40px 100px;
    .aiui-btn {
      padding: 0 35px;
      &:not(:last-child) {
        margin-right: 48px;
      }
    }
  }
}
.aiui-icon__msg {
  width: 120px;
  height: 120px;
  background-color: @aiuiColorWhite;
}
