// color
@aiuiColorPrimary: #19cf77;
@aiuiColorBlue: #4d97ff;
@aiuiColorBrown: #794000;
@aiuiColorWarn: #ff9500;
@aiuiColorBlack: #000000;
@aiuiColorWhite: #ffffff;
@aiuiColorRed: #ff2741;
@aiuiColorGray: #333333;
@aiuiColorMedGray: #666666;
@aiuiColorDeepGray: #999999;
@aiuiColorLightGray: #cccccc;
@aiuiColorDisabledGray: #dddddd;

// active mask
@aiuiActiveMaskWhite: rgba(0, 0, 0, 0.05);
@aiuiActiveMaskColored: rgba(0, 0, 0, 0.1);
@aiuiActiveMaskBlack: rgba(0, 0, 0, 0.15);

// link
@aiuiLinkColorDefault: #576b95;

// background
@aiuiBgColorDefault: #f5f5f5;
@aiuiBgColorPrimary: #fff3f5;
@aiuiBgColorActive: #ececec;
@aiuiBgColorMain: #7fd688;

// line
@aiuiLineColorLight: rgba(0, 0, 0, 0.1);
@aiuiLineColorDark: rgba(0, 0, 0, 0.3);
@aiuiBorderLineColor: #ededed;

// text
@aiuiTextColorTitle: #333333;
@aiuiTextColorDesc: #666666;
@aiuiTextColorTips: #999999;
@aiuitextcolortxt: #196236;
@aiuiTextColorWarn: @aiuiColorWarn;
