

// color
@aiuiColorPrimary: #07C160;
@aiuiColorWarn: #FA5151;

// active mask
@aiuiActiveMaskWhite:rgba(0,0,0,.05);
@aiuiActiveMaskColored:rgba(0,0,0,.1);
@aiuiActiveMaskBlack:rgba(0,0,0,.15);

// link
@aiuiLinkColorDefault: #576B95;

// background
@aiuiBgColorDefault: #EDEDED;
@aiuiBgColorPrimary: #F7F7F7;
@aiuiBgColorActive: #ECECEC;

// line
@aiuiLineColorLight: rgba(0,0,0,.1);
@aiuiLineColorDark: rgba(0,0,0,.3);

// text
@aiuiTextColorTitle: rgba(0,0,0,.9);
@aiuiTextColorDesc: rgba(0,0,0,.5);
@aiuiTextColorTips: rgba(0,0,0,.3);
@aiuiTextColorWarn: @aiuiColorWarn;




