// font
@aiuiFontEN: -apple-system-font, "Helvetica Neue";
@aiuiFontCN: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei";
@aiuiFontSans: sans-serif;
@aiuiFontDefault: @aiuiFontEN, @aiuiFontSans;
@aiuiFontDefaultSize: 28px;

// button
@aiuiBtnDefaultGap: 24px;

@aiuiBtnDefaultFontColor: #333333;
@aiuiBtnPlainDefaultFontColor: #333333;
@aiuiBtnPlainDefaultBorderColor: #333333;
@aiuiBtnDefaultBg: #ffffff;
@aiuiBtnDefaultActiveBg: #d9d9d9;
@aiuiBtnPlainDefaultFontColor: #333333;
@aiuiBtnPlainDefaultBorderColor: #333333;
@aiuiBtnGrayFontColor: #ffffff;
@aiuiBtnGrayBg: #666666;
@aiuiBtnGrayActiveBg: #555555;

@aiuiBtnPrimaryFontColor: #ffffff;
@aiuiBtnPlainPrimaryFontColor: #19cf77;
@aiuiBtnPlainPrimaryBorderColor: #19cf77;
@aiuiBtnPrimaryBg: #19cf77;
@aiuiBtnPrimaryBgi: linear-gradient(90deg, #2de080 5%, rgba(25, 207, 119, 0.99) 100%);
@aiuiBtnPrimaryActiveBg: #27a964;

@aiuiBtnBrownActiveBg: #683802;

@aiuiBtnDisabledFontColor: #ffffff;
@aiuiBtnDisabledBg: #dddddd;

// cell

@aiuiCellBg: #ffffff;
@aiuiCellBorderColor: @aiuiLineColorLight;
@aiuiCellGapV: 30px;
@aiuiCellGapH: 24px;
@aiuiCellInnerGapH: 20px;
@aiuiCellHeight: 112px;
@aiuiCellFontSize: 28px;
@aiuiCellTipsFontSize: 28px;
@aiuiCellLabelWidth: 210px;

@aiuiCellLineHeight: unit((@aiuiCellHeight - 2 * @aiuiCellGapV) / @aiuiCellFontSize); // 高度减去上下padding的行高
@aiuiCellsMarginTop: 16px;

// aiui switch
@aiuiSwitchHeight: 64px;

// aiui uploader
@aiuiUploaderBorderColor: #a3a3a3;
@aiuiUploaderActiveBorderColor: overlay(@aiuiActiveMaskBlack, @aiuiUploaderBorderColor);
@aiuiUploaderFileSpacing: 16px;
@aiuiUploaderSize: 112px;
@aiuiUploaderBorderWidth: 1px;

// dialog
@aiuiDialogBackgroundColor: #ffffff;
@aiuiDialogLineColor: rgba(0, 0, 0, 0.1);
@aiuiDialogLinkColor: @aiuiLinkColorDefault;
@aiuiDialogLinkActiveBc: @aiuiBgColorActive;
@aiuiDialogWidth: 600px;
@aiuiDialogGapXWidth: 60px;
@aiuiDialogGapYWidth: 40px;
@aiuiDialogRadius: 28px;

// gird
@aiuiGridBorderColor: #d9d9d9;
@aiuiGridFontSize: 28px;
@aiuiGridIconSize: 56px;
@aiuiGridColumnCount: 3;

// msg
@aiuiMsgPaddingTop: 96px;
@aiuiMsgTitleGap: 32px;

// progress
@aiuiProgressBg: @aiuiBgColorDefault;
@aiuiProgressColor: @aiuiColorPrimary;
@aiuiProgressHeight: 6px;
@aiuiProgressCloseBg: #ef4f4f;
@aiuiProgressActiveBg: #c13e3e;

// tab

@aiuiNavBarHeight: 112px;
@aiuiTabBarHeight: 120px;
