

// font
@aiuiFontEN:-apple-system-font,"Helvetica Neue";
@aiuiFontCN:"PingFang SC","Hiragino Sans GB","Microsoft YaHei";
@aiuiFontSans:sans-serif;
@aiuiFontDefault:@aiuiFontEN,@aiuiFontSans;

// button
@aiuiBtnDefaultGap:24px;

@aiuiBtnDefaultFontColor:#333333;
@aiuiBtnPlainDefaultFontColor: #333333;
@aiuiBtnPlainDefaultBorderColor: #333333;
@aiuiBtnDefaultBg:#FFFFFF;
@aiuiBtnDefaultActiveBg:#D9D9D9;


@aiuiBtnPrimaryFontColor:#FFFFFF;
@aiuiBtnPlainPrimaryFontColor: #19CF77;
@aiuiBtnPlainPrimaryBorderColor: #19CF77;
@aiuiBtnPrimaryBg:#19CF77;
@aiuiBtnPrimaryBgi:linear-gradient(90deg, #2DE080 5%, rgba(25,207,119,0.99) 100%);
@aiuiBtnPrimaryActiveBg:#27A964;

@aiuiBtnDisabledFontColor:rgba(255,255,255,.4);
@aiuiBtnDisabledBg: #DDDDDD;



// cell

@aiuiCellBg: #ffffff;
@aiuiCellBorderColor: @aiuiLineColorLight;
@aiuiCellGapV: 32px;
@aiuiCellGapH: 32px;
@aiuiCellInnerGapH: 32px;
@aiuiCellHeight: 112px;
@aiuiCellFontSize: 34px;
@aiuiCellTipsFontSize: 28px;
@aiuiCellLabelWidth: 210px;

@aiuiCellLineHeight: unit(
  (@aiuiCellHeight - 2 * @aiuiCellGapV) / @aiuiCellFontSize
); // 高度减去上下padding的行高
@aiuiCellsMarginTop: 16px;

// aiui switch
@aiuiSwitchHeight: 64px;

// aiui uploader
@aiuiUploaderBorderColor: #a3a3a3;
@aiuiUploaderActiveBorderColor: overlay(
  @aiuiActiveMaskBlack,
  @aiuiUploaderBorderColor
);
@aiuiUploaderFileSpacing: 16px;
@aiuiUploaderSize: 192px;
@aiuiUploaderBorderWidth: 1PX;

// dialog
@aiuiDialogBackgroundColor: #FFFFFF;
@aiuiDialogLineColor: rgba(0,0,0,.1);
@aiuiDialogLinkColor: @aiuiLinkColorDefault;
@aiuiDialogLinkActiveBc: @aiuiBgColorActive;
@aiuiDialogWidth: 600px;
@aiuiDialogGapXWidth: 60px;
@aiuiDialogGapYWidth: 40px;
@aiuiDialogRadius: 28px;

// gird
@aiuiGridBorderColor:#D9D9D9;
@aiuiGridFontSize: 28px;
@aiuiGridIconSize: 56px;
@aiuiGridColumnCount: 3;

// msg
@aiuiMsgPaddingTop:96px;
@aiuiMsgTitleGap:32px;

// progress
@aiuiProgressBg: @aiuiBgColorDefault;
@aiuiProgressColor: @aiuiColorPrimary;
@aiuiProgressHeight: 6px;
@aiuiProgressCloseBg: #EF4F4F;
@aiuiProgressActiveBg: #C13E3E;

// tab

@aiuiNavBarHeight:112px;
@aiuiTabBarHeight:120px;
