@import "../../base/fn";

.aiui-cells {
  background-color: @aiuiCellBg;
  font-size: @aiuiCellFontSize; 
  overflow: hidden; 

}
.aiui-cells__title {
  margin-top: 32px;
  margin-bottom: 6px;
  padding-left: @aiuiCellGapH;
  padding-right: @aiuiCellGapH;
  color: @aiuiTextColorDesc;
  font-size: @aiuiCellTipsFontSize;
  line-height: 1.4;

  & + .aiui-cells {
    margin-top: 0;
  }
}

.aiui-cells__tips {
  margin-top: 8px; // 8px - 行高
  color: @aiuiTextColorDesc;
  padding-left: @aiuiCellGapH;
  padding-right: @aiuiCellGapH;
  font-size: @aiuiCellTipsFontSize;
}

.aiui-cell {
  padding: @aiuiCellGapV @aiuiCellGapH;
  position: relative; //这个是为了兼容cells容器onepx方案被before挡住而做的
  display: flex;
  align-items: center;
  &:before {
    .setTopLine(@aiuiCellBorderColor);
    left: @aiuiCellGapH;
    z-index: 2;
  }
  &:first-child {
    &:before {
      display: none;
    }
  }
}
.aiui-cell_primary {
  align-items: flex-start;
}
.aiui-cell__bd {
  flex: 1;
}
.aiui-cell__ft {
  text-align: right;
  color: @aiuiTextColorDesc;
}
