@import "../../../base/fn";

.aiui-cells__checkbox {
  .aiui-icon-checked {
    &:before {
      content: "\EA01";
      color: @aiuiLineColorDark;
      font-size: 46px;
      display: block;
      margin: 0;
    }
  }
}

.aiui-check {
  .aiui-cells__checkbox & {
    &:checked {
      & + .aiui-icon-checked {
        &:before {
          content: "\EA06";
          color: @aiuiColorPrimary;
        }
      }
    }
  }
}
