@import "../../base/fn";

@aiuiBadgeSize: 24px;
@aiuiBadgeColor: @aiuiColorWhite;
@aiuiBadgePadding: 0 6px;
@aiuiBadgeFontSize: 18px;
@aiuiBadgeBgColor: @aiuiColorOrange;
@aiuiBadgeDotSize: 16px;

.aiui-badge {
  padding: @aiuiBadgePadding;
  min-width: @aiuiBadgeSize;
  line-height: @aiuiBadgeSize;
  border-radius: @aiuiBadgeFontSize;
  background-color: @aiuiBadgeBgColor;
  color: @aiuiBadgeColor;
  font-weight: normal;
  text-align: center;
  font-size: @aiuiBadgeFontSize;
}
.aiui-badge--dot {
  width: @aiuiBadgeDotSize;
  min-width: 0;
  height: @aiuiBadgeDotSize;
  background-color: @aiuiBadgeBgColor;
  border-radius: 100%;
}
