@import "../../base/fn";

.aiui-popup-wrap {
  display: none;
  position: relative;
  z-index: 5000;
}
.aiui-popup {
  position: fixed;
  left: auto;
  right: auto;
  bottom: 0;
  width: 100%;
  max-width: @maxWidth;
  margin: auto;
  transform: translate(0, 100%);
  height: 75%;
  z-index: 5000;
  line-height: 1.4;
  background-color: #ffffff;
  border-top-left-radius: @aiuiDialogRadius;
  border-top-right-radius: @aiuiDialogRadius;
  //slide up animation
  transition: transform 0.3s;
  display: flex;
  flex-direction: column;
  &.toggle {
    transform: translate(0, 0);
  }
}
.aiui-popup__content {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: auto;
}
.popup-box__scroll {
  flex: 1;
  overflow: auto;
  .aiui-cell {
    &:after {
      right: 24px;
    }
  }
}
.popup-box__ft {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 24px;
  
}
.aiui-popup__hd {
  position: relative;
  &:after {
    .setBottomLine(@aiuiLineColorLight);
  }
  .toolbar {
    padding: 30px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    &-title {
      font-size: 32px;
    }
    .icon-close {
      position: absolute;
      left: 24px;
      top: 50%;
      margin-top: -24px;
      width: 48px;
      height: 48px;
      background-color: @aiuiColorGray;
    }
  }
}

.aiui-popup__bd {
  .hyphens();
  overflow-y: auto;
}

.aiui-popup__ft {
  padding: 30px 24px;
}

.aiui-popup--right {
  z-index: 5000;
  position: fixed;
  right: 0;
  bottom: 0;
  top: 0;
  transform: translate(100%, 0);
  transition: transform 0.3s;
  &.toggle {
    transform: translate(0, 0);
  }
}
