

@import "../../base/fn";

.aiui-dialog {
    position: fixed;
    z-index: 5000;
    top: 50%;
    left: 32px;
    right: 32px;
    transform: translate(0, -50%);

    background-color: @aiuiDialogBackgroundColor;
    text-align: center;
    border-radius: 3px;
    overflow: hidden;
}
.aiui-dialog__hd {
    padding: 64px @aiuiDialogGapWidth 32px;
}
.aiui-dialog__title {
    font-weight: 700;
    font-size: 34px;
    line-height:1.4;
}
.aiui-dialog__bd {
    padding: 0 @aiuiDialogGapWidth 64px;
    min-height: 80px;
    font-size: 34px;
    line-height: 1.4;
    word-wrap: break-word;
    word-break: break-all;
    color: @aiuiTextColorDesc;
    &:first-child{
        padding:64px @aiuiDialogGapWidth;
        color:@aiuiTextColorTitle;
    }
}
.aiui-dialog__ft {
    position: relative;
    line-height: 128px;
    font-size: 34px;
    display: flex;
    &:after {
        content: " ";
        .setTopLine(@aiuiDialogLineColor);
    }
}
.aiui-dialog__btn {
    display: block;
    flex: 1;
    color: @aiuiDialogLinkColor;
    font-weight:700;
    text-decoration: none;
    .setTapColor();
    &:active {
        background-color: @aiuiDialogLinkActiveBc;
    }

    position: relative;
    &:after {
        content: " ";
        .setLeftLine(@aiuiDialogLineColor);
    }
    &:first-child {
        &:after {
            display: none;
        }
    }
}
.aiui-dialog__btn_default {
    color: @aiuiTextColorTitle;
}

.aiui-skin_android{
    .aiui-dialog {
        text-align: left;
        box-shadow: 0 12px 60px 0 rgba(0, 0, 0, .1);
    }
    .aiui-dialog__title{
      font-size:44px;
      line-height:1.4;
    }
    .aiui-dialog__hd{
        text-align: left;
    }
    .aiui-dialog__bd{
        color:@aiuiTextColorDesc;
        font-size: 34px;
        text-align: left;
        &:first-child{
            color:@aiuiTextColorTitle;
        }
    }
    .aiui-dialog__ft{
        display: block;
        text-align: right;
        line-height: 80px;
        padding:0 @aiuiDialogGapWidth 64px;
        &:after{
            display: none;
        }
    }
    .aiui-dialog__btn{
        display: inline-block;
        vertical-align: top;
        padding:0 24px;
        &:after{
            display: none;
        }
        &:last-child{
            margin-right: -24px;
        }
    }
    .aiui-dialog__btn_default {
        color: @aiuiTextColorTitle;
    }
}

@media screen and (min-width: 1024px) {
    .aiui-dialog {
        width: 35%;
    }
}
