@aiuiSearchInputHeight: 70px;

@import "../../base/fn";
.aiui-search-bar__clear-btn {
  display: none;
}
.aiui-search-bar {
  position: relative;
  padding: 20px 24px;
  display: flex;
  background-color: @aiuiBgColorDefault;
  -webkit-text-size-adjust: 100%;
  align-items: center;
  &.aiui-search-bar_focusing {
    .aiui-search-bar__cancel-btn,
    .aiui-search-bar__clear-btn {
      display: block;
    }
    .aiui-search-bar__label {
      display: none;
    }
  }
}
.aiui-search-bar__form {
  position: relative;
  flex: 1;
  background-color: #ffffff;
  border-radius: @aiuiSearchInputHeight / 2;
}
.aiui-search-bar__box {
  display: flex;
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;
  .aiui-search-bar__input {
    padding: 0 10px;
    .flex-grow();
    height: @aiuiSearchInputHeight;
    border: 0;
    line-height: normal;
    font-size: 28px;
    background: transparent;
    caret-color: @aiuiColorPrimary;
    &:focus {
      outline: none;
    }
  }
  .icon-search {
    width: 38px;
    height: 38px;
    background-color: @aiuiColorDeepGray;
  }
  .icon-close-fill {
    width: 38px;
    height: 38px;
    background-color: @aiuiColorDisabledGray;
  }
}
.aiui-search-bar__label {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  font-size: 0;
  border-radius: 35px;
  line-height: 64px;
  text-align: center;
  color: @aiuiTextColorDesc;
  background: #ffffff;
  span {
    display: inline-block;
    font-size: 28px;
    vertical-align: middle;
  }
  .icon-search {
    display: inline-block;
    vertical-align: middle;
    width: 38px;
    height: 38px;
    background-color: @aiuiColorGray;
    margin-right: 8px;
  }
}
.aiui-search-bar__cancel-btn {
  display: none;
  padding-left: 24px;
  padding-right: 24px;
}
.aiui-search-bar__input:not(:valid) ~ .icon-close-fill {
  display: none;
}

//干掉input[search]默认的clear button
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.aiui-search-bar {
  .arrow-select {
    margin-right: 24px;
    &__value {
      max-width: 100px;
      .ellipsis;
    }
  }
  .aiui-btn {
    min-width: 104px;
    margin-left: 24px;
  }
}
