@import "../../base/fn";

@pickerItemHeight: 96px;
.aiui-picker {
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  left: 0;
  bottom: 0;
  z-index: 5000;
  background-color: #fff;
  border-top-left-radius: @aiuiDialogRadius;
  border-top-right-radius: @aiuiDialogRadius;
  padding-bottom: calc(100px ~"+ constant(safe-area-inset-bottom)");
  padding-bottom: calc(100px ~"+ env(safe-area-inset-bottom)");
  backface-visibility: hidden;
  transform: translate(0, 100%);
  //slide up animation
  transition: transform 0.3s;
}

.aiui-picker__hd {
  display: flex;
  align-items: center;
  padding: 25px;
  padding: 25px calc(25px ~"+ constant(safe-area-inset-right)") 25px
    calc(25px ~"+ constant(safe-area-inset-left)");
  padding: 25px calc(25px ~"+ env(safe-area-inset-right)") 25px
    calc(25px ~"+ env(safe-area-inset-left)");
  position: relative;
  text-align: center;
  font-size: 34px;
  line-height: 1.4;
  &:after {
    .setBottomLine(@aiuiLineColorLight);
  }
}
.aiui-picker__title {
  font-size: 32px;
  font-weight: normal;
  flex: 1;
}
.aiui-picker__btn {
  display: block;
  width: 100px;
  line-height: 54px;
  background-color: transparent;
  position: relative;
  &:before{
    .setFullLine(@aiuiLineColorLight,27px);
  }
  &:first-child {
    color: @aiuiColorDeepGray;
    &:before{
      border-color: @aiuiColorDeepGray;
    }
  }
  &:last-child {
    color: @aiuiColorPrimary;
    &:before{
      border-color: @aiuiColorPrimary;
    }
  }
}

.aiui-picker__bd {
  display: flex;
  position: relative;
  background-color: #fff;
  height: 480px;
  overflow: hidden;
}

.aiui-picker__group {
  flex: 1;
  position: relative;
  height: 100%;
  //-webkit-mask-box-image: -webkit-linear-gradient(bottom,transparent,transparent 5%,#fff 50%,#fff 50%,transparent 95%,transparent);
  &:first-child {
    .aiui-picker__item {
      padding-left: constant(safe-area-inset-left);
      padding-left: env(safe-area-inset-left);
    }
  }
  &:last-child {
    .aiui-picker__item {
      padding-right: constant(safe-area-inset-right);
      padding-right: env(safe-area-inset-right);
    }
  }
}

.aiui-picker__mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  z-index: 3;
  background: linear-gradient(
      180deg,
      hsla(0, 0%, 100%, 0.95),
      hsla(0, 0%, 100%, 0.6)
    ),
    linear-gradient(0deg, hsla(0, 0%, 100%, 0.95), hsla(0, 0%, 100%, 0.6));
  background-position: top, bottom;
  background-size: 100% 192px;
  background-repeat: no-repeat;
  transform: translateZ(0);
}

.aiui-picker__indicator {
  width: 100%;
  height: @pickerItemHeight;
  position: absolute;
  left: 0;
  top: 192px;
  z-index: 3;
  &:before {
    .setTopLine(@aiuiLineColorLight);
  }
  &:after {
    .setBottomLine(@aiuiLineColorLight);
  }
}

.aiui-picker__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.aiui-picker__item {
  height: @pickerItemHeight;
  line-height: @pickerItemHeight;
  text-align: center;
  color: @aiuiTextColorTitle;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 30px;
}

.aiui-picker__item_disabled {
  color: @aiuiTextColorDesc;
}
