// 启动页
.app-start {
  min-height: 1334px;
  background: url("../images/login_bg.png") no-repeat center top;
  background-size: contain;
  display: flex;
  flex-direction: column;
  align-items: center;
  .logo {
    margin-top: 275px;
    margin-bottom: 20px;
    width: 400px;
    height: 250px;
  }
  .slogan {
    font-weight: 700;
    font-size: 40px;
    color: #ffffff;
    text-shadow: 0 4px 0 #84d8fa;
    margin-bottom: 40px;
  }
  .btns {
    display: flex;
    flex-direction: column;
    .aiui-btn {
      width: 327px;
      margin-top: 40px;
    }
  }
}
// 登录注册
.app-sign {
  min-height: 1334px;
  padding: 180px 48px 0;
  background: #ffffff url("../images/login_logo_bg.png") no-repeat center bottom;
  background-size: auto 430px;
  .title {
    font-size: 64px;
    margin-bottom: 40px;
  }
  .aiui-cell {
    padding-left: 0;
    padding-right: 0;
    min-height: 130px;

    &:not(.aiui-check__label) {
      align-items: flex-end;
    }
    &:before {
      left: 0;
    }
  }
  .aiui-check__label {
    font-size: 30px;
    color: @aiuiColorMedGray;
  }
  .tips {
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin-top: 10px;
    color: @aiuiColorMedGray;
  }
  .app-login__btn {
    margin-top: 56px;
  }
  .reg-btn__cell {
    &:before {
      display: none;
    }
  }
  .login-btn__cell {
    padding-top: 80px;
  }
}
// 我的农场
.app-farm {
  .game {
    position: relative;
    height: 855px;
    background: url("../images/farm_header_bg03.png") no-repeat;
    background-size: contain;
  }
  .user-info {
    padding: 10px 24px;
    .main {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 84px;
      border-radius: 42px;
      background-color: rgba(0, 0, 0, 0.2);
      padding-left: 24px;
      padding-right: 24px;
      position: relative;
      .sunshine {
        display: flex;
        align-items: center;
        color: #fff;
        font-size: 30px;
        img {
          width: 48px;
          height: 48px;
          margin-right: 10px;
        }
      }
      .name {
        .abs-center;
        max-width: 50%;
        text-align: center;
        color: #fff;
        font-size: 38px;
        .ellipsis;
      }
      .icon-setting-2px {
        font-size: 60px;
        color: #fff;
      }
    }
    .level-wrap {
      display: flex;
      justify-content: center;
      color: #fff;
      .level {
        display: flex;
        height: 30px;
        align-items: center;
        font-size: 20px;
        background-color: fade(#000, 20);
        line-height: 1;
        &-bar {
          margin-left: 6px;
          margin-right: 6px;
          text-align: center;
          width: 170px;
          height: 20px;
          border-radius: 10px;
          overflow: hidden;
          background-color: fade(#fff, 20);
          position: relative;
          .loading {
            height: 100%;
            background-color: #ffa200;
          }
          .text {
            .abs-center;
          }
        }
      }
      &:before,
      &:after {
        content: "";
        width: 40px;
        height: 30px;
        background: url("../images/fillet-bg.png") no-repeat;
        background-size: contain;
      }
      &:after {
        transform: rotateY(180deg);
      }
    }
  }
}
