//我的地块
.button-thumb{
    margin-left: 24px;
}
.myarea-list{
    background-color: @aiuiColorWhite;
    border-radius: 28px;
    display: flex;
    flex-direction: column;
    padding: 30px 24px;
    margin: 24px;
    &_item{
        display: flex;
    }
    .thumb {
        width: 180px;
        height: 180px;
        margin-right: 24px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    .bd{
        .Cell.\-fill;
        h3{
            font-size: 36px;
            margin-bottom: 20px;
            .ellipsisLn(1);
        }
    }
    .ft{
        display: flex;
        justify-content: flex-end;
        padding-top: 20px;
        button{
            margin-left: 20px;
        }
    }
}