//我的地块
.button-thumb {
    margin-left: 24px;
}
.shop-list{
    background-color: @aiuiColorWhite;
    border-radius: 28px;
    display: flex;
    flex-direction: column;
    padding: 30px 24px;
    margin: 24px;
    .ft {
        display: flex;
        justify-content: flex-end;
        padding-top: @aiuiCellInnerGapH;

        button {
            margin-left: @aiuiCellInnerGapH;
        }
    }
}
.shop-list_item  {
    display: flex;
    .thumb {
        width: 180px;
        height: 180px;
        margin-right: 24px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .bd {
        .Cell.\-fill;

        h3 {
            font-size: 36px;
            margin-bottom: 20px;
            .ellipsisLn(2);
        }
    } 
}

.aiui-cells-mt {
    margin-top: @aiuiCellInnerGapH;

}

.paintgrow-form {
    .aiui-cell__bd {
        font-size: @aiuiCellTipsFontSize;
        color: @aiuiColorMedGray
    }

    .aiui-cells__title {
        padding-bottom: @aiuiCellInnerGapH;
        color: @aiuiColorMedGray
    }
}

// 雇农首页
.farmhand-bg {
    height: 100vh;
    background: @aiuiColorWhite;
}

.farmhand-index {
    position: relative;
    width: 750px;
    background: url("../images/farm_header_bg01.png") no-repeat;
    background-size: 750px;
    overflow: hidden;

    .user-bg {
        margin: 290px auto 0;
        width: 180px;
        height: 180px;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.farmhand-balance {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    padding: 0 72px;
    .md {

        .title {
            font-size: @aiuiCellTipsFontSize;
            color: @aiuiColorMedGray
        }

        .price {
            font-size: 60px;
            color: @aiuiColorGray;

            small {
                display: inline-block;
                margin-left: 10px;
                font-size: 30px;
                color: @aiuiColorMedGray
            }
        }
    }
}

.farmhand-list {
    display: flex;
    flex-wrap: wrap;
    padding: 50px 24px 0;
    text-align: center;
    .title {
        font-size: 30px;
        padding-bottom:  @aiuiCellInnerGapH;
        text-align: center;
    }
    .aiui-btn {
        min-width: 170px;
        margin: 0 auto;
    }

    a {
        width: 340px;
        height: 300px;
        border-radius: 28px;

        &:first-child {
            background: #FCF1F5;
            margin-right:  @aiuiCellInnerGapH;
            margin-bottom:  @aiuiCellInnerGapH;
            .aiui-btn{
                color:@aiuiColorRed;
                &:before{
                    border-color:@aiuiColorRed;
                }
            }
        }
        &:nth-child(2) {
            background: #FBF5EA;
            margin-bottom:  @aiuiCellInnerGapH;
         
            .aiui-btn{
                color:@aiuiColorWarn;
                &:before{
                    border-color:@aiuiColorWarn;
                }
            }
        }
        &:nth-child(3) {
            background: #EEF4FC;
            margin-right:  @aiuiCellInnerGapH;
          
            .aiui-btn{
                color:@aiuiColorBlue;
                &:before{
                    border-color:@aiuiColorBlue;
                }
            }
        }

        &:last-child {
            background: #E4F5F1
        }
    }

    .icon-img {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 148px;
        img{
            width: 64px;
        }
    }
}
.cash-out__item{
    background: #FBF5EA;
    border-radius: 28px;
    margin: @aiuiCellInnerGapH 24px;
    padding: 48px;
    .title{
        
    }
}
