{% extends 'app.nunjucks' %}
{% block title %}蔬游-我的农场{% endblock %}
{% block content %}
<!-- 热门活动入口 start -->
<a class="hot-event" href="javascript:;">
  <p class="text">热门活动</p>
</a>
<!-- 热门活动入口 end -->

<div class="farm-container">
  <!-- 滚动消息栏 start -->
  <div class="swiper-container scroll-notice">
    <div class="swiper-wrapper">
      <div class="swiper-slide swiper-no-swiping">
        <a href="javaScript:;" class="scroll-notice__item">
          <div class="avatar avatar-40">
            <img src="../images/avatar.png">
          </div>
          <p class="content-text">帮你浇水了</p>
        </a>
      </div>
      <div class="swiper-slide swiper-no-swiping">
        <a href="javaScript:;" class="scroll-notice__item">
          <div class="avatar avatar-40">
            <img src="../images/avatar.png">
          </div>
          <p class="content-text">帮你浇水了</p>
        </a></div>
      <div class="swiper-slide swiper-no-swiping">
        <a href="javaScript:;" class="scroll-notice__item">
          <div class="avatar avatar-40">
            <img src="../images/avatar.png">
          </div>
          <p class="content-text">帮你浇水了</p>
        </a>
      </div>
    </div>
  </div>
  <!-- 滚动消息栏 end -->

  <!-- user-info start -->
  <div class="user-info">
    <div class="header">
      <a class="sunshine" href="04.03.01-我的阳光值.html">
        <div class="thumb"><img src="../images/sunshine.png" alt="阳光" /></div>
        <strong>3467</strong>
      </a>
      <h3 class="name">豆豆的农场</h3>
      <a href="03.01-片区列表-全部农场.html" class="icon-setting-2px"></a>
    </div>
    <div class="level-wrap">
      <div class="level">
        <strong>LV.1</strong>
        <div class="level-bar">
          <div class="loading" style="width: 54%;"></div>
          <div class="text"><span>54</span>/<span>90</span></div>
        </div>
        <a href="javascript:;" class="level-link">攻略<i class="icon-arrow-right"></i></a>
      </div>
    </div>
  </div>
  <!-- user-info end -->

  <div class="farm-game">

    <!-- 装饰物 start -->
    <div class="decoration-group">
      <div class="decoration-grass"></div>
      <div class="decoration-flower -medium"></div>
      <div class="decoration-mushroom -small"></div>
    </div>
    <div class="decoration-mushroom -medium"></div>
    <div class="decoration-flower -small"></div>
    <div class="decoration-flower -large"></div>
    <!-- 装饰物 end -->

    <!-- 土地 start -->
    <div class="land-bg">
      <!-- 土地背景扩展 start -->
      <div class="land-bg__add"></div>
      <!-- 土地背景扩展 end -->

      <!-- 地块组合 start -->
      <div class="land-groups">
        <div class="land-group land-group__top">
          <div class="land land-lock">
          </div>
          <div class="land land-lock">
          </div>
          <div class="land land-lock">
          </div>
        </div>

        <div class="land-group land-group__middle">
          <div class="land land-terrestrial">
            <div class="land-fence"></div>
            <div class="chickens" onclick="window.location.href='06.03-查看生命周期.html'">
              <div class="chicken chicken--left">
                <img src="../images/chicken-growing.png" alt="成长中的鸡">
              </div>
              <div class="chicken chicken--right">
                <img src="../images/chicken-growing.png" alt="成长中的鸡">
              </div>
            </div>
          </div>
          <div class="land land-unplanted ">
            <button class="land-new">
              <img src="../images/icon-terrestrial-add.png" alt="陆产新增按钮">
            </button>
          </div>
          <div class="land land-pool">
            <div class="fishes" onclick="window.location.href='06.03-查看生命周期.html'">
              <div class="fish fish--left"><img src="../images/fish-seedling.png" alt="鱼幼苗"></div>
              <div class="fish fish--right"><img src="../images/fish-seedling.png" alt="鱼幼苗"></div>
            </div>
          </div>
        </div>

        <div class="land-group land-group__bottom">
          <div class="land land-terrestrial">
            <div class="land-tree land-tree--jump">
              <img src="../images/tomato-tree-mature.png" alt="西红柿树">
            </div>
            <button type="button" class="planting-operation-btn jiaoshui-btn"></button>
            <div class="land-mark">租种</div>
          </div>
        </div>
      </div>
      <!-- 地块组合 end -->

    </div>
    <!-- 土地 end -->

    <!-- 游戏操作 start -->
    <div class="game-operate">
      <div class="items">
        <a href="04.12.01-查看交易记录.html" class="item -orange">
          <div class="thumb"><img src="../images/icon-jiaoyi.png" alt="交易"></div>
          <div class="tag">订单</div>
        </a>
        <a href="javascript:;" class="item -blue" id="showfriendFarmRanking">
          <div class="thumb"><img src="../images/icon-hync.png" alt="好友农场"></div>
          <div class="tag">好友农场</div>
        </a>
        <a href="javascript:;" class="item -red">
          <div class="thumb"><img src="../images/icon-mall.png" alt="商城"></div>
          <div class="tag">商城</div>
        </a>
        <a href="javascript:;" class="item -purple">
          <div class="thumb"><img src="../images/icon-zygz.png" alt="赚阳光值"></div>
          <div class="tag">赚阳光值</div>
        </a>
      </div>
      <a href="04.13.01-任务管理.html" class="item -yellow">
        <div class="thumb"><img src="../images/icon-rwgl.png" alt="任务"></div>
        <div class="tag">任务</div>
      </a>
    </div>
    <!-- 游戏操作 end -->
  </div>
  <div class="farm-info">
    <!-- 消息栏 start -->
    <div class="farm-info__item">
      <div class="header">
        <h3 class="Cell -fill fz34">消息栏</h3>
        <a href="04.13.01-任务管理.html" class="fz26 text-deep__gray">更多</a>
      </div>
      <div class="message">
        <div class="message-item">
          <div class="thumb">
            <img src="../images/message-thumb_01.png">
          </div>
          <div class="bd">
            <h3>巴马乡片区a1096地块南瓜已浇水</h3>
            <p>2019-07 23 17:43</p>
          </div>
          <div class="Grid -middle">
            <a href="04.13.01-任务管理.html" class="aiui-btn aiui-btn__primary aiui-btn__mini aiui-btn__pill">去验收</a>
          </div>
        </div>
        <div class="message-item">
          <div class="thumb">
            <img src="../images/message-thumb_02.png">
          </div>
          <div class="bd">
            <h3>巴马乡片区a1096地块南瓜已施肥</h3>
            <p>2019-07 23 17:43</p>
          </div>
          <div class="Grid -middle">
            <a href="04.13.01-任务管理.html" class="aiui-btn aiui-btn__primary aiui-btn__mini aiui-btn__pill">去验收</a>
          </div>
        </div>
      </div>
    </div>
    <!-- 消息栏 end -->
    <!-- 好友动态 start -->
    <div class="farm-info__item">
      <div class="header">
        <h3 class="Cell -fill fz34">好友动态</h3>
        <a href="javascript:;" class="fz26 text-deep__gray">详情</a>
      </div>
      <ul class="friend-updates">
        <li class="friend-updates__item">
          <div class="ripple"></div>
          <div class="avatar avatar-50">
            <img src="../images/avatar.png">
          </div>
          <strong class="name">小石头</strong>
          <div class="Cell -fill">
            <p class="text-deep__gray">帮你浇水了</p>
          </div>
          <span class="fz24 text-deep__gray">06-15</span>
        </li>
        <li class="friend-updates__item">
          <div class="ripple"></div>
          <div class="avatar avatar-50">
            <img src="../images/avatar.png">
          </div>
          <strong class="name">小石头</strong>
          <div class="Cell -fill">
            <p class="text-deep__gray">帮你浇水了</p>
          </div>
          <span class="fz24 text-deep__gray">06-15</span>
        </li>
        <li class="friend-updates__item">
          <div class="ripple"></div>
          <div class="avatar avatar-50">
            <img src="../images/avatar.png">
          </div>
          <strong class="name">小石头</strong>
          <div class="Cell -fill">
            <p class="text-deep__gray">帮你浇水了</p>
          </div>
          <span class="fz24 text-deep__gray">06-15</span>
        </li>
        <li class="friend-updates__item">
          <div class="ripple"></div>
          <div class="avatar avatar-50">
            <img src="../images/avatar.png">
          </div>
          <strong class="name">小石头</strong>
          <div class="Cell -fill">
            <p class="text-deep__gray">帮你浇水了</p>
          </div>
          <span class="fz24 text-deep__gray">06-15</span>
        </li>
      </ul>
    </div>
    <!-- 好友动态 end -->
  </div>
</div>

<!-- 返回顶部 start -->
<div class="aiui-gotop__wrap aiui-gotop-hook">
  <button class="aiui-gotop">
    <i class="icon-gotop"></i>
    <span class="text">回顶部</span>
  </button>
</div>
<!-- 返回顶部 end -->
</div>

<div id="dailyOperation">
  <!-- 浇水提醒弹窗 start -->
  <div class="aiui-dialog__wrap" id="jiaoshuiTipsDialog">
    <div class="aiui-mask"></div>
    <div class="aiui-dialog__custom farm-tips__dialog">
      <div class="hd">
        <div class="thumb">
          <img src="../images/icon-jiaoshui.png" alt="浇水">
        </div>
      </div>
      <div class="bd">
        <div class="content">
          <h3 class="title">您要浇水吗？</h3>
          <div class="desc">浇水需要花掉200阳光值，是否现在浇水？</div>
        </div>

        <div class="btns">
          <button type="button"
            class="aiui-btn aiui-btn aiui-btn__medium aiui-btn__pill aiui-btn__gray close-dialog__btn" id="jiaoshuiCancelBtn">再考虑一下</button>
          <button type="button"
            class="aiui-btn aiui-btn aiui-btn__medium aiui-btn__pill aiui-btn__primary" id="jiaoshuiSubmitBtn">立即浇水</button>
        </div>
      </div>
    </div>
  </div>
  <!-- 浇水提醒弹窗 end -->
  <!-- 浇水动画弹窗  start-->
  <div class="aiui-dialog__wrap" id="jiaoshuiDialog">
    <div class="aiui-mask"></div>
    <div class="aiui-dialog__custom daily-operation">
      <button class="daily-operation__close"></button>
      <div class="daily-operation__shine"></div>
      <div class="daily-operation__tree">
        <img src="../images/tomato-tree-mature.png" alt="">
      </div>
      <div class="daily-operation__gif jiaoshui-gif">
        <img src="../images/gif/jiaoshui.gif" alt="浇水">
      </div>
      <div class="daily-operation__info">
        <h3 class="title">浇水成功啦！</h3>
        <p class="desc">任务已提交给雇农，请督促雇农尽快完成实地浇水任务哦~</p>
        <button type="button" class="aiui-btn aiui-btn__large aiui-btn__primary aiui-btn__pill">好的</button>
      </div>
    </div>
  </div>
  <!-- 浇水动画弹窗 end -->
</div>
<!-- 好友农场排行榜 start-->
<div class="aiui-popup__wrap" id="friendFarmRanking">
  <div class="aiui-mask"></div>
  <div class="aiui-popup friend-farm__ranking">
    <div class="header">
      <div class="info">
        <div class="avatar">
          <img src="../images/avatar-friend-demo.png">
        </div>
        <h3 class="title">好友农场排行榜</h3>
      </div>
      <button type="button" class="icon-close-outline aiui-popup__close"></button>
    </div>
    <div class="popup-box__scroll">
      <div class="tips">
        <p>和好友互动赚更多阳光值</p>
      </div>
      <div class="ranking">
        <h4 class="ranking-title">我的好友</h4>
        <div class="ranking-list">
          <a href="02.01-好友农场.html" class="ranking-list__item">
            <div class="number">1</div>
            <div class="avatar">
              <img src="../images/avatar.png">
            </div>
            <div class="Cell -fill">
              <span>小石头</span>
            </div>
            <div class="info">
              <p class="level">LV.6</p>
              <span class="aiui-btn aiui-btn__plain aiui-btn__tiny aiui-btn__primary aiui-btn__pill">可浇水</span>
            </div>
          </a>
          <a href="02.01-好友农场.html" class="ranking-list__item">
            <div class="number">2</div>
            <div class="avatar">
              <img src="../images/avatar.png">
            </div>
            <div class="Cell -fill">
              <span>瓜子脸美女</span>
            </div>
            <div class="info">
              <p class="level">LV.4</p>
              <p class="fz24 text-deep__gray">农场等级</p>
            </div>
          </a>
          <a href="02.01-好友农场.html" class="ranking-list__item">
            <div class="number">3</div>
            <div class="avatar">
              <img src="../images/avatar.png">
            </div>
            <div class="Cell -fill">
              <span>刘老师的农场</span>
            </div>
            <div class="info">
              <p class="level">LV.3</p>
              <p class="fz24 text-deep__gray">农场等级</p>
            </div>
          </a>
          <a href="02.01-好友农场.html" class="ranking-list__item">
            <div class="number">4</div>
            <div class="avatar">
              <img src="../images/avatar.png">
            </div>
            <div class="Cell -fill">
              <span>刘老师的农场</span>
            </div>
            <div class="info">
              <p class="level">LV.2</p>
              <span class="aiui-btn aiui-btn__plain aiui-btn__tiny aiui-btn__primary aiui-btn__pill">可除草</span>
            </div>
          </a>
          <a href="02.01-好友农场.html" class="ranking-list__item">
            <div class="number">5</div>
            <div class="avatar">
              <img src="../images/avatar.png">
            </div>
            <div class="Cell -fill">
              <span>隔壁一枝花</span>
            </div>
            <div class="info">
              <p class="level">LV.2</p>
              <p class="fz24 text-deep__gray">农场等级</p>
            </div>
          </a>
          <a href="02.01-好友农场.html" class="ranking-list__item">
            <div class="number">6</div>
            <div class="avatar">
              <img src="../images/avatar.png">
            </div>
            <div class="Cell -fill">
              <span>隔壁一枝花</span>
            </div>
            <div class="info">
              <p class="level">LV.2</p>
              <p class="fz24 text-deep__gray">农场等级</p>
            </div>
          </a>
          <a href="02.01-好友农场.html" class="ranking-list__item">
            <div class="number">7</div>
            <div class="avatar">
              <img src="../images/avatar.png">
            </div>
            <div class="Cell -fill">
              <span>隔壁一枝花</span>
            </div>
            <div class="info">
              <p class="level">LV.2</p>
              <p class="fz24 text-deep__gray">农场等级</p>
            </div>
          </a>
          <a href="02.01-好友农场.html" class="ranking-list__item">
            <div class="number">8</div>
            <div class="avatar">
              <img src="../images/avatar.png">
            </div>
            <div class="Cell -fill">
              <span>隔壁一枝花</span>
            </div>
            <div class="info">
              <p class="level">LV.2</p>
              <p class="fz24 text-deep__gray">农场等级</p>
            </div>
          </a>
          <a href="02.01-好友农场.html" class="ranking-list__item">
            <div class="number">9</div>
            <div class="avatar">
              <img src="../images/avatar.png">
            </div>
            <div class="Cell -fill">
              <span>隔壁一枝花</span>
            </div>
            <div class="info">
              <p class="level">LV.2</p>
              <p class="fz24 text-deep__gray">农场等级</p>
            </div>
          </a>
          <a href="02.01-好友农场.html" class="ranking-list__item">
            <div class="number">10</div>
            <div class="avatar">
              <img src="../images/avatar.png">
            </div>
            <div class="Cell -fill">
              <span>隔壁一枝花</span>
            </div>
            <div class="info">
              <p class="level">LV.2</p>
              <p class="fz24 text-deep__gray">农场等级</p>
            </div>
          </a>
        </div>
      </div>
    </div>

  </div>
</div>
<!-- 好友农场排行榜 end -->


{% endblock %}
{% block footer %}
<script src="../js/farm.js"></script>
<script>
  $(function () {
    // 新闻滚动
    var swiper = new Swiper('.scroll-notice', {
      direction: 'vertical',
      noSwiping: true,
      autoplay: {
        delay: 3000
      },
      loop: true,
      slidesPerView: 'auto'
    });
    // 好友农场弹窗
    var $friendFarmRanking = $('#friendFarmRanking');
    // 关闭Popup弹窗
    $('.aiui-popup__wrap').on('click', '.aiui-mask, .aiui-popup__close', function () {
      $(".aiui-popup").removeClass("toggle")
      $(this)
        .parents('.aiui-popup__wrap')
        .fadeOut(200);
    });
    // 打开好友农场弹窗
    $('#showfriendFarmRanking').on('click', function () {
      $friendFarmRanking.fadeIn();
      $friendFarmRanking
        .find(".aiui-popup")
        .addClass("toggle");
    });
  });
</script>
{% endblock %}