{% extends 'app.nunjucks' %}
{% block title %}默认选地页{% endblock %}
{% block content %}
  <div class="app-ground">
    <div class="ground-list">
      <ul class="ground-item">
        <li>
          <a href="javascript:;" class="ground-01">
            <img src="../images/farm_bg01.png" class="farm-pic"/>
            <p class="ground-txt">巴马乡农场</p>
          </a>
        </li>
        <li>
          <a href="javascript:;" class="ground-02">
            <img src="../images/farm_bg02.png" class="farm-pic"/>
            <p class="ground-txt">xx农场</p>
          </a>
        </li>
        <li>
          <a href="javascript:;" class="ground-03">
            <img src="../images/farm_bg03.png" class="farm-pic"/>
            <p class="ground-txt">xx农场</p>
          </a>
        </li>
        <li>
          <a href="javascript:;" class="ground-04">
            <img src="../images/farm_bg01.png" class="farm-pic"/>
            <p class="ground-txt">xx农场</p>
          </a>
        </li>
        <li>
          <a href="javascript:;" class="ground-05">
            <img src="../images/farm_bg02.png" class="farm-pic"/>
            <p class="ground-txt">xx农场</p>
          </a>
        </li>
        <li>
          <a href="javascript:;" class="ground-06">
            <img src="../images/farm_bg03.png" class="farm-pic"/>
            <p class="ground-txt">xx农场</p>
          </a>
        </li>
      </ul>
    </div>
    <div class="ground-list">
      <ul class="ground-item">
        <li>
          <a href="javascript:;" class="ground-01">
            <img src="../images/farm_bg01.png" class="farm-pic"/>
            <p class="ground-txt">xx农场</p>
          </a>
        </li>
        <li>
          <a href="javascript:;" class="ground-02">
            <img src="../images/farm_bg02.png" class="farm-pic"/>
            <p class="ground-txt">xx农场</p>
          </a>
        </li>
        <li>
          <a href="javascript:;" class="ground-03">
            <img src="../images/farm_bg03.png" class="farm-pic"/>
            <p class="ground-txt">xx农场</p>
          </a>
        </li>
        <li>
          <a href="javascript:;" class="ground-04">
            <img src="../images/farm_bg01.png" class="farm-pic"/>
            <p class="ground-txt">xx农场</p>
          </a>
        </li>
        <li>
          <a href="javascript:;" class="ground-05 no-farm">
            <img src="../images/farm_bg04.png" class="farm-pic"/>
          </a>
        </li>
        <li>
          <a href="javascript:;" class="ground-06">
            <img src="../images/farm_bg03.png" class="farm-pic"/>
            <p class="ground-txt">xx农场</p>
          </a>
        </li>
      </ul>
    </div>
  </div>
{% endblock %}