{% extends 'app.nunjucks' %}
{% block title %}蔬游-我的农场{% endblock %}
{% block content %}
<div class="farm-game">
  <!-- user-info start -->
  <div class="user-info">
    <div class="main">
      <div class="sunshine">
        <div class="thumb"><img src="../images/sunshine.png" alt="阳光" /></div>
        <strong>3467</strong>
      </div>
      <h3 class="name">豆豆的农场</h3>
      <button type="button" class="icon-setting-2px"></button>
    </div>
    <div class="level-wrap">
      <div class="level">
        <strong>LV.1</strong>
        <div class="level-bar">
          <div class="loading" style="width: 54%;"></div>
          <div class="text"><span>54</span>/<span>90</span></div>
        </div>
      </div>
    </div>
  </div>
  <!-- user-info end -->
  <div class="land-selection">
    <!-- 选地 start -->
    <div class="land-select">
      <div class="lands">
        <div class="land land1"></div>
        <div class="land land2"></div>
        <div class="land land3"></div>
      </div>
    </div>
    <!-- 选地 end -->

    <div class="swiper-container land-operate" id="landOperateSwiper">
      <div class="swiper-wrapper">

        <div class="swiper-slide">
          <img src="../images/fertilization.png" alt="施肥">
        </div>
        <div class="swiper-slide">
          <img src="../images/watering.png" alt="浇水">
        </div>

        <div class="swiper-slide">
          <img src="../images/reward.png" alt="采摘">
        </div>

        <div class="swiper-slide">
          <img src="../images/eradicate.png" alt="铲除">
        </div>

        <div class="swiper-slide">
          <img src="../images/loose_soil.png" alt="">
        </div>

        <div class="swiper-slide">
          <img src="../images/sowing.png" alt="播种">
        </div>

        <div class="swiper-slide">
          <img src="../images/deworming.png" alt="杀虫">
        </div>

        <div class="swiper-slide">
          <img src="../images/weeding.png" alt="除草">
        </div>
      </div>

      <div class="land-operate__next"><i class="icon-arrow-up"></i></div>
      <div class="land-operate__prev"><i class="icon-arrow-down"></i></div>
    </div>

  </div>
</div>
<div class="farm-info">
  <!-- 消息栏 start -->
  <div class="farm-info__item">
    <div class="header">
      <h3 class="Cell -fill fz34">消息栏</h3>
      <a href="javascript:;" class="fz26 text-deep__gray">更多</a>
    </div>
    <div class="message">
      <div class="message-item">
        <div class="thumb">
          <img src="../images/message-thumb_01.png">
        </div>
        <div class="bd">
          <h3>巴马乡片区a1096地块南瓜已浇水</h3>
          <p>2019-07 23 17:43</p>
        </div>
        <div class="Grid -middle">
          <a href="javascript:;" class="aiui-btn aiui-btn__primary aiui-btn__mini aiui-btn__pill">去验收</a>
        </div>
      </div>
      <div class="message-item">
        <div class="thumb">
          <img src="../images/message-thumb_02.png">
        </div>
        <div class="bd">
          <h3>巴马乡片区a1096地块南瓜已施肥</h3>
          <p>2019-07 23 17:43</p>
        </div>
        <div class="Grid -middle">
          <a href="javascript:;" class="aiui-btn aiui-btn__primary aiui-btn__mini aiui-btn__pill">去验收</a>
        </div>
      </div>
    </div>
  </div>
  <!-- 消息栏 end -->
  <!-- 指标栏 start -->
  <div class="farm-info__item">
    <div class="header">
      <h3 class="Cell -fill fz34">指标栏</h3>
      <a href="javascript:;" class="fz26 text-deep__gray">详情</a>
    </div>
    <div class="indicator">
      <div class="info">
        <div class="info-bd">
          <p>下午6:36</p>
          <h3>巴马乡片区</h3>
        </div>
        <div class="info-icon">
          <img src="../images/icon-sunny.png" alt="晴天">
        </div>
      </div>
      <div class="weather">
        <div class="weather-item">
          <ul>
            <li>大气湿度</li>
            <li>相对湿度</li>
            <li>气压</li>
            <li>风向</li>
          </ul>
          <ul>
            <li>-20℃</li>
            <li>-10℃</li>
            <li>1239hpa</li>
            <li>320º</li>
          </ul>
        </div>
        <div class="weather-item">
          <ul>
            <li>风速</li>
            <li>降水量</li>
            <li>光照强度</li>
            <li>土壤温度</li>
          </ul>
          <ul>
            <li>-75m/s</li>
            <li>2mm/min</li>
            <li>188000Lux</li>
            <li>78℃</li>
          </ul>
        </div>
        <div class="weather-item">
          <ul>
            <li>土壤湿度</li>
            <li>太阳辐射</li>
            <li>日照时数</li>
          </ul>
          <ul>
            <li>20%</li>
            <li>1567W/m²</li>
            <li>24h</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- 指标栏 end -->
  <!-- 好友动态 start -->
  <div class="farm-info__item">
    <div class="header">
      <h3 class="Cell -fill fz34">好友动态</h3>
      <a href="javascript:;" class="fz26 text-deep__gray">详情</a>
    </div>
    <ul class="friend-updates">
      <li class="friend-updates__item">
        <div class="ripple"></div>
        <div class="avatar avatar-50">
          <img src="../images/avatar.png">
        </div>
        <strong class="name">小石头</strong>
        <div class="Cell -fill">
          <p class="text-deep__gray">帮你浇水了</p>
        </div>
        <span class="fz24 text-deep__gray">06-15</span>
      </li>
      <li class="friend-updates__item">
        <div class="ripple"></div>
        <div class="avatar avatar-50">
          <img src="../images/avatar.png">
        </div>
        <strong class="name">小石头</strong>
        <div class="Cell -fill">
          <p class="text-deep__gray">帮你浇水了</p>
        </div>
        <span class="fz24 text-deep__gray">06-15</span>
      </li>
      <li class="friend-updates__item">
        <div class="ripple"></div>
        <div class="avatar avatar-50">
          <img src="../images/avatar.png">
        </div>
        <strong class="name">小石头</strong>
        <div class="Cell -fill">
          <p class="text-deep__gray">帮你浇水了</p>
        </div>
        <span class="fz24 text-deep__gray">06-15</span>
      </li>
      <li class="friend-updates__item">
        <div class="ripple"></div>
        <div class="avatar avatar-50">
          <img src="../images/avatar.png">
        </div>
        <strong class="name">小石头</strong>
        <div class="Cell -fill">
          <p class="text-deep__gray">帮你浇水了</p>
        </div>
        <span class="fz24 text-deep__gray">06-15</span>
      </li>
    </ul>
  </div>
  <!-- 好友动态 end -->
</div>
{% endblock %} {% block footer %}
<script src="../libs/swiper.min.js"></script>
<script src="../libs/anime.min.js"></script>
<script src="../js/land.js"></script>
<script>
  var landSelectSwiper = new Swiper('#landSelectSwiper', {
    slideToClickedSlide: true,
    slidesPerView: 3,
    centeredSlides: true,
    loop: true,
  });

  var landOperateSwiper = new Swiper('#landOperateSwiper', {
    direction: 'vertical',
    slidesPerView: 4,
    navigation: {
      nextEl: '.land-operate__next',
      prevEl: '.land-operate__prev',
    },
  });
</script>
{% endblock %}