{% extends 'app.nunjucks' %}
{% block title %}蔬游-片区列表-全部农场{% endblock %}
{% block content %}
<div class="app-area">
  <!--头部导航 start-->
  <div class="headbar-sticky">
    <div class="aiui-headbar aiui-headbar__fixed aiui-headbar__transparent">
      <div class="aiui-headbar__item">
        <a href="javascript:history.back();" class="icon-return"></a>
      </div>
      <div class="aiui-search-bar" id="searchBar">
        <form class="aiui-search-bar__form">
          <div class="aiui-search-bar__box">
            <i class="icon-search"></i>
            <input type="search" class="aiui-search-bar__input" id="searchInput" autocomplete="off"
              placeholder="请输入关键字搜索" required />
            <a href="javascript:" class="icon-close-fill" id="searchClear"></a>
          </div>
        </form>
      </div>
      <div class="aiui-headbar__item"><a href="javascript:;" class="text-right">搜索</a></div>
    </div>
  </div>
  <!--头部导航 end-->
  <div class="h88"></div>
  <!--内容区域 start-->
  <div class="aiui-tab area-box" id="tab">
    <div class="aiui-navbar">
      <div class="aiui-navbar__item aiui-bar__item_on">全部</div>
      <div class="aiui-navbar__item">附近农场</div>
    </div>
    <div class="aiui-tab__panel">
      <div class="aiui-tab__content">
        <div class="area-list">
          <a href="03.02-片区详情.html" class="area-list__item">
            <div class="thumb"><img src="../images/farm_tu02.png"></div>
            <div class="bd">
              <h3 class="title">洛阳波辉农场</h3>
              <p class="txt">农场介绍文字描述示范，允许换行的情况是这样的，多的字符</p>
            </div>
            <div class="Grid -top"><span class="distance">1236km</span></div>
          </a>
          <a href="03.02-片区详情.html" class="area-list__item">
            <div class="thumb"><img src="../images/farm_tu02.png"></div>
            <div class="bd">
              <h3 class="title">福建创业新区农场</h3>
              <p class="txt">农场介绍文字描述示范，允许换行的情况是这样的，多的字符</p>
            </div>
            <div class="Grid -top"><span class="distance">1.23km</span></div>
          </a>
          <a href="03.02-片区详情.html" class="area-list__item">
            <div class="thumb"><img src="../images/farm_tu02.png"></div>
            <div class="bd">
              <h3 class="title">巴拿马片区农场</h3>
              <p class="txt">农场介绍文字描述示范，允许换行的情况是这样的，多的字符</p>
            </div>
            <div class="Grid -top"><span class="distance">4.5km</span></div>
          </a>
          <a href="03.02-片区详情.html" class="area-list__item">
            <div class="thumb"><img src="../images/default_preview.png"></div>
            <div class="bd">
              <h3 class="title">福建创业新区农场</h3>
              <p class="txt">农场介绍文字描述示范，允许换行的情况是这样的，多的字符</p>
            </div>
            <div class="Grid -top"><span class="distance">1.23km</span></div>
          </a>
          <a href="03.02-片区详情.html" class="area-list__item">
            <div class="thumb"><img src="../images/farm_tu02.png"></div>
            <div class="bd">
              <h3 class="title">洛阳波辉农场</h3>
              <p class="txt">农场介绍文字描述示范，允许换行的情况是这样的，多的字符</p>
            </div>
            <div class="Grid -top"><span class="distance">1236km</span></div>
          </a>
          <a href="03.02-片区详情.html" class="area-list__item">
            <div class="thumb"><img src="../images/farm_tu02.png"></div>
            <div class="bd">
              <h3 class="title">湖南新心天然有机农场</h3>
              <p class="txt">农场介绍文字描述示范，允许换行的情况是这样的，多的字符</p>
            </div>
            <div class="Grid -top"><span class="distance">4.5km</span></div>
          </a>
        </div>
      </div>
    </div>
    <div class="aiui-tab__panel">
      <div class="aiui-tab__content">
        <div class="area-list">
          <a href="javascript:;" class="area-list__item">
            <div class="thumb"><img src="../images/farm_tu02.png"></div>
            <div class="bd">
              <h3 class="title">洛阳波辉农场</h3>
              <p class="txt">农场介绍文字描述示范，允许换行的情况是这样的，多的字符</p>
            </div>
            <div class="Grid -top"><span class="distance">1236km</span></div>
          </a>
          <a href="javascript:;" class="area-list__item">
            <div class="thumb"><img src="../images/farm_tu02.png"></div>
            <div class="bd">
              <h3 class="title">福建创业新区农场</h3>
              <p class="txt">农场介绍文字描述示范，允许换行的情况是这样的，多的字符</p>
            </div>
            <div class="Grid -top"><span class="distance">1.23km</span></div>
          </a>
          <a href="javascript:;" class="area-list__item">
            <div class="thumb"><img src="../images/farm_tu02.png"></div>
            <div class="bd">
              <h3 class="title">巴拿马片区农场</h3>
              <p class="txt">农场介绍文字描述示范，允许换行的情况是这样的，多的字符</p>
            </div>
            <div class="Grid -top"><span class="distance">4.5km</span></div>
          </a>
          <a href="javascript:;" class="area-list__item">
            <div class="thumb"><img src="../images/default_preview.png"></div>
            <div class="bd">
              <h3 class="title">福建创业新区农场</h3>
              <p class="txt">农场介绍文字描述示范，允许换行的情况是这样的，多的字符</p>
            </div>
            <div class="Grid -top"><span class="distance">1.23km</span></div>
          </a>
          <a href="javascript:;" class="area-list__item">
            <div class="thumb"><img src="../images/farm_tu02.png"></div>
            <div class="bd">
              <h3 class="title">洛阳波辉农场</h3>
              <p class="txt">农场介绍文字描述示范，允许换行的情况是这样的，多的字符</p>
            </div>
            <div class="Grid -top"><span class="distance">1236km</span></div>
          </a>
          <a href="javascript:;" class="area-list__item">
            <div class="thumb"><img src="../images/farm_tu02.png"></div>
            <div class="bd">
              <h3 class="title">湖南新心天然有机农场</h3>
              <p class="txt">农场介绍文字描述示范，允许换行的情况是这样的，多的字符</p>
            </div>
            <div class="Grid -top"><span class="distance">4.5km</span></div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <!--内容区域 end-->
</div>
{% endblock %}
{% block footer %}
<script src="../libs/sticky.js"></script>
<script src="../js/headbar.js"></script>
<script type="text/javascript">
  $(function () {
    //tab
    aiui.tab('#tab', {
      defaultIndex: 0,
      onChange: function (index) {
        console.log(index);
      }
    });
    //搜索
    var $searchBar = $('#searchBar'),
      $searchInput = $('#searchInput'),
      $searchClear = $('#searchClear')
    $searchClear.on('click', function () {
      $searchInput.val('');
      $searchInput.focus();
    });
  });
</script>
{% endblock %}