{% extends 'app.nunjucks' %}
{% block title %}蔬游-片区详情-查看实景相册{% endblock %}
{% block content %}
<div class="app-album">
  <!--头部导航 start-->
  <div class="aiui-headbar aiui-headbar__fixed aiui-headbar__default">
    <div class="aiui-headbar__item">
      <a href="javascript:history.back();" class="icon-return"></a>
    </div>
    <h3 class="aiui-headbar__title">鄂尔多斯农场南瓜地</h3>
  </div>
  <!--头部导航 end-->
  <!--内容区域 start-->
  <div class="album-box">
    <!--查看视频 start-->
    <div class="Grid -right">
      <a href="03.06-片区详情-查看视频.html" class="view-box">
        <div class="view-box__hd"><i class="icon-map"></i></div>
        <div class="view-box__ft">查看视频</div>
      </a>
    </div>
    <!--查看视频 end-->
    <!--swiper start-->
    <div class="swiper-box">
      <div class="swiper-container" id="albumSwiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide active">
            <div class="thumb"><img src="../images/farm_tu01.png" /></div>
            <div class="thumb-txt">今天 10:00</div>
          </div>
          <div class="swiper-slide">
            <div class="thumb"><img src="../images/farm_tu01.png" /></div>
            <div class="thumb-txt">今天 10:00</div>
          </div>
          <div class="swiper-slide">
            <div class="thumb"><img src="../images/farm_tu01.png" /></div>
            <div class="thumb-txt">今天 10:00</div>
          </div>
          <div class="swiper-slide">
            <div class="thumb"><img src="../images/farm_tu01.png" /></div>
            <div class="thumb-txt">今天 10:00</div>
          </div>
        </div>
      </div>
    </div>
    <!--swiper end-->
  </div>
  <!--内容区域 end-->
  <div class="aiui-footbtn__wrap">
    <div class="aiui-footbtn aiui-footbtn__transparent">
      <button type="button" class="aiui-btn aiui-btn__block aiui-btn__large aiui-btn_brown aiui-btn__pill"
        id="cityPickerHook">到这里去</button>
      <button type="button" class="aiui-btn aiui-btn__block aiui-btn__large aiui-btn__primary aiui-btn__pill"
        id="selectLandBtn">我要养殖</button>
      <!--已养殖把class aiui-btn__primary改为aiui-btn__disabled-->
    </div>
  </div>
</div>
<!-- 租种土地弹窗 start -->
<div class="aiui-popup__wrap" id="selectLandPopup">
  <div class="aiui-mask"></div>
  <div class="aiui-popup">
    <div class="aiui-popup__content">
      <div class="aiui-cell popup-box_thumb">
        <div class="Cell -2of2 shop-list_item">
          <div class="thumb"><img src="../images/farm_tu01.png"></div>
          <div class="bd">
            <h3>鄂尔多斯农场</h3>
            <p class="fz28 text-deep__gray">一块地为10平方</p>
            <p class="fz28 text-deep__gray">(还剩15块地)</p>
          </div>
          <div class="popup-price">¥368</div>
        </div>
      </div>
      <div class="popup-box__scroll">
        <div class="choose-level">
          <h4 class="choose-title">选择菜地：</h4>
          <ul class="chose-list choose">
            <li class="chose-list__item active">
              <div class="content">
                <p>南瓜地</p>
              </div>
            </li>
            <li class="chose-list__item">
              <div class="content">
                <p>冬瓜地</p>
              </div>
            </li>
            <li class="chose-list__item">
              <div class="content">
                <p>丝瓜地</p>
              </div>
            </li>
            <li class="chose-list__item">
              <div class="content">
                <p>黄瓜地</p>
              </div>
            </li>
          </ul>
        </div>
        <div class="choose-level">
          <h4 class="choose-title">选择养殖方式：</h4>
          <ul class="chose-list choose">
            <li class="chose-list__item active">
              <div class="content">
                <p>包种</p>
              </div>
            </li>
            <li class="chose-list__item">
              <div class="content">
                <p>租种</p>
              </div>
            </li>
          </ul>
          <div class="aiui-cells__checkbox" id="agreementPopup">
            <label class="aiui-cell aiui-check__label" for="s12">
              <div class="aiui-cell__hd">
                <input type="checkbox" name="checkbox1" class="aiui-check" id="s12">
                <i class="aiui-icon-checked"></i>
              </div>
              <div class="aiui-cell__bd">
                <div class="text-deep__gray">我同意 <a class="text-blue fz28"> 蔬游平台《包种协议》</a></div>
              </div>
            </label>
          </div>
        </div>
        <div class="choose-level">
          <h4 class="choose-title">选择数量(块)：</h4>
          <div class="ui-count">
            <button type="button" class="ui-count_btn ui-count_decrease">
              <i class="icon-decrease"></i>
            </button>
            <input type="number" class="ui-count_number" value="1" readonly>
            <button type="button" class="ui-count_btn ui-count_increase">
              <i class="icon-add"></i>
            </button>
          </div>
        </div>
        <div class="popup-number">耕地编号(自动分配)：<span>a1069</span></div>
      </div>
      <div class="popup-box__ft">
        <a href="01.05-默认选地页.html"
          class="aiui-btn aiui-btn__block aiui-btn__primary aiui-btn__large aiui-btn__plain aiui-btn__pill">重选片区</a>
        <a href="javascript:;" class="aiui-btn aiui-btn__block aiui-btn__primary aiui-btn__large aiui-btn__pill"
          id="confirmDialog">确认选择</a>
      </div>
    </div>
  </div>
</div>
<!-- 租种土地弹窗 end -->
<!--协议弹框 start-->
<div class="aiui-popup__wrap" id="agreementPopup">
  <div class="aiui-mask"></div>
  <div class="aiui-popup">
    <div class="aiui-popup__content">
      <div class="aiui-popup__hd">
        <div class="toolbar">
          <button class="icon-close close-popup__btn">取消</button>
          <h3 class="toolbar-title">请选择配送方式</h3>
        </div>
      </div>
      <div class="popup-box__scroll">111</div>
      <div class="aiui-popup__ft">
        <button type="button"
          class="aiui-btn aiui-btn__block aiui-btn__primary aiui-btn__large aiui-btn__pill">确定</button>
      </div>
    </div>
  </div>
</div>
<!--协议弹框 end-->
{% endblock %}
{% block footer %}
<script>
  $(function () {
    //选地切换
    $(".chose-list__item").on("click", function () {
      $(this).siblings().removeClass("active");
      $(this).addClass("active");
    });
    // 关闭Popup操作
    $(document).on('click', '.aiui-mask,.close-popup__btn', function () {
      $(".aiui-popup").removeClass("aiui-popup__toggle")
      $(this)
        .parents('.aiui-popup__wrap')
        .fadeOut(200);
    });
    // 打开Popup操作
    $('#selectLandBtn').on('click', function () {
      $("#selectLandPopup").fadeIn(200);
      $("#selectLandPopup").find(".aiui-popup").addClass("aiui-popup__toggle");;
    });
    // 选择地区
    $('#cityPickerHook').on('click', function () {
      aiui.picker([
        {
          label: '湖南省',
          value: 0
        }, {
          label: '江西省',
          value: 1
        }, {
          label: '广东省',
          value: 2
        }, {
          label: '福建省',
          value: 3
        }, {
          label: '其他',
          value: 4
        }
      ], {
        onChange: function (result) {
          console.log(result);
        },
        onConfirm: function (result) {
          console.log(result);
        },
        title: '选择地区'
      });
    });
    //swiper相册浏览器
    var albumSwiper = new Swiper('#albumSwiper', {
      slidesPerView: 'auto',
      paginationClickable: true,
      freeMode: true
    });
    // 确认弹窗
    $("#confirmDialog").bind("click", function () {
      $("#selectLandPopup").hide();
      var descText = '<p>您需为您的订单支付：</p>';
      var price = '<h3 class="dialog-price">¥368<span>.00</span></h3>';
      var alertContent = descText + price;
      aiui.confirm(alertContent, {
        title: '确认支付',
        buttons: [{
          label: '取消',
          type: 'default',
          onClick: function () { alert('取消') }
        }, {
          label: '支付',
          type: 'primary',
          onClick: function () {
            window.location = "03.04-买地成功.html";
          }
        }]
      });
    });
  });
</script>
{% endblock %}