{% extends 'app.nunjucks' %}
{% block title %}蔬游-片区详情{% endblock %}
{% block content %}
<div class="app-area__detail">
  <!--头部导航 start-->
  <div class="headbar-sticky">
    <div class="aiui-navbar aiui-navbar--fixed aiui-navbar--transparent">
      <div class="aiui-navbar__item">
        <a href="javascript:history.back();" class="icon-return"></a>
      </div>
      <h3 class="aiui-navbar__title">鄂尔多斯农场</h3>
    </div>
  </div>
  <!--头部导航 end-->
  <!--内容部分 start-->
  <div class="detail-content">
    <!--查看地图 start-->
    <div class="Grid -right">
      <a href="javascript:;" class="view-box">
        <div class="view-box__hd"><i class="icon-map"></i></div>
        <div class="view-box__ft">查看地图</div>
      </a>
    </div>
    <!--查看地图 end-->
    <!--内容 start-->
    <div class="detail-box">
      <div class="avatar avatar-180"><img src="../images/farm_tu02.png" /></div>
      <div class="Grid detail-item">
        <div class="Cell -1of3 detail-item__list">
          <h4 class="title">总面积(亩)</h4>
          <span class="txt">3494</span>
        </div>
        <div class="Cell -1of3 detail-item__list">
          <h4 class="title">总耕地(块)</h4>
          <span class="txt">1.2万</span>
        </div>
        <div class="Cell -1of3 detail-item__list">
          <h4 class="title">所在地</h4>
          <span class="txt">内蒙古</span>
        </div>
      </div>
      <div class="detail-desc">
        <p>鄂尔多斯农场是内蒙古自治区下辖地级市，位于黄河几字湾河套腹地，独处内蒙古自治区西南部，西北东三面为黄河环绕，南临古长城，毗邻晋陕宁三省区。</p>
      </div>
      <!--可选租地 start-->
      <div class="optional-land">
        <h3 class="optional-title"><span>可选租地</span></h3>
        <div class="optional-item">
          <a href="03.03-片区详情-查看实景相册.html" class="optional-item__list">
            <div class="bd Cell -fill">
              <div class="optional-box">
                <h4 class="title">南瓜地</h4>
                <div class="mark">
                  <div class="mark-tips mark-tips__plain">租种</div>
                  <div class="mark-tips mark-tips__plain">包种</div>
                </div>
              </div>
              <div class="txt"><span>720亩</span><span>2800块地</span></div>
            </div>
            <div class="ft">
              <div class="image-round"><i class="icon-image"></i></div>
              <div class="image-txt">实景相册</div>
            </div>
          </a>
          <a href="03.03-片区详情-查看实景相册.html" class="optional-item__list">
            <div class="bd Cell -fill">
              <div class="optional-box">
                <h4 class="title">红薯地</h4>
                <div class="mark">
                  <div class="mark-tips mark-tips__plain">包种</div>
                </div>
              </div>
              <div class="txt"><span>720亩</span><span>2800块地</span></div>
            </div>
            <div class="ft">
              <div class="image-round"><i class="icon-image"></i></div>
              <div class="image-txt">实景相册</div>
            </div>
          </a>
          <a href="03.03-片区详情-查看实景相册.html" class="optional-item__list">
            <div class="bd Cell -fill">
              <div class="optional-box">
                <h4 class="title">西红柿地</h4>
                <div class="mark">
                  <div class="mark-tips mark-tips__plain">包种</div>
                  <div class="mark-tips mark-tips__org"><i class="icon-checkbox-on"></i>已租种</div>
                </div>
              </div>
              <div class="txt"><span>720亩</span><span>2800块地</span></div>
            </div>
            <div class="ft">
              <div class="image-round"><i class="icon-image"></i></div>
              <div class="image-txt">实景相册</div>
            </div>
          </a>
          <a href="03.03-片区详情-查看实景相册.html" class="optional-item__list">
            <div class="bd Cell -fill">
              <div class="optional-box">
                <h4 class="title">冬瓜地</h4>
                <div class="mark">
                  <div class="mark-tips mark-tips__plain">租种</div>
                  <div class="mark-tips mark-tips__plain">包种</div>
                </div>
              </div>
              <div class="txt"><span>720亩</span><span>2800块地</span></div>
            </div>
            <div class="ft">
              <div class="image-round"><i class="icon-image"></i></div>
              <div class="image-txt">实景相册</div>
            </div>
          </a>
        </div>
        <!--已经到底了 start-->
        <div class="foot-end">已经到底啦</div>
        <!--已经到底了 end-->
      </div>
      <!--可选租地 end-->
    </div>
    <!--内容 end-->
  </div>
  <!--内容部分 end-->
</div>
{% endblock %}
{% block footer %}
<script>
  //头部导航固定
  $(".headbar-sticky").sticky({ topSpacing: 0 });
</script>
{% endblock %}