{% extends 'app.nunjucks' %}
{% block title %}蔬游-片区列表-全部农场{% endblock %}
{% block content %}
<!--头部导航 start-->
<div class="headbar-sticky-hook">
  <div class="aiui-headbar aiui-headbar__default">
    <div class="aiui-headbar__item">
      <a href="javascript:history.back();" class="icon-return"></a>
    </div>
    <div class="aiui-search-bar" id="searchBar">
      <form class="aiui-search-bar__form" action="#">
        <div class="aiui-search-bar__box">
          <i class="icon-search"></i>
          <input type="search" class="aiui-search-bar__input" autocomplete="off" placeholder="请输入关键字搜索" />
          <button type="button" class="aiui-search-bar__clear-btn icon-close-fill"></button>
        </div>
      </form>
      <button class="aiui-search-bar__cancel-btn">取消</button>
    </div>
  </div>
</div>
<!--头部导航 end-->
<!--内容区域 start-->
<div class="aiui-tabbar">
  <a href="javascript:;" class="aiui-tabbar__item aiui-bar__item_on">全部</a>
  <a href="javascript:;" class="aiui-tabbar__item">按距离</a>
  <a href="javascript:;" class="aiui-tabbar__item">筛选</a>
</div>
<div class="area-list">
  <a href="03.02-片区详情.html" class="area-list__item">
    <div class="thumb thumb-180"><img src="../images/farm_tu02.png"></div>
    <div class="area-list__box">
      <h3 class="title">洛阳波辉农场</h3>
    </div>
  </a>
</div>
<!--内容区域 end-->
{% endblock %}
{% block footer %}
<script type="text/javascript">
  $(function () {
    //头部导航固定
    $(".headbar-sticky-hook").sticky({ topSpacing: 0 });
    var topSpacing = $('.aiui-headbar').innerHeight();
    $(".aiui-tabbar").sticky({ topSpacing: topSpacing });
    //搜索
    aiui.searchBar('#searchBar');
  });
</script>
{% endblock %}