{% extends 'app.nunjucks' %}
{% block title %}配送信息{% endblock %}
{% block content %}
<!--头部导航 start-->
<div class="aiui-headbar__wrap">
  <div class="aiui-headbar aiui-headbar__default aiui-headbar__fixed">
    <div class="aiui-headbar__item">
      <a href="javascript:history.back();" class="icon-return">
      </a>
    </div>
    <h3 class="aiui-headbar__title">配送信息</h3>
  </div>
</div>
<!--头部导航 start-->

<div class="aiui-cells address-cells">
  <a href="04.02.02-选择配送地址.html" class="aiui-cell aiui-cell__primary aiui-cell_access">
    <div class="aiui-cell__col">
      <span>配送地址</span>
    </div>
    <div class="aiui-cell__hd">
      <i class="icon-address"></i>
    </div>
    <div class="aiui-cell__bd">
      <div class="address">
        <div class="hd">
          <h3 class="name">钱多多</h3>
          <p class="phone">13823456666</p>
        </div>
        <div class="bd">
          <p class="desc">广东省广州市某某区某某路123号 盛庭花园小区22栋101</p>
        </div>
      </div>
    </div>
    <div class="aiui-cell__ft">
      <i class="icon-arrow-right"></i>
    </div>
  </a>
</div>

<div class="aiui-cells aiui-cells__gap">
  <div class="goods-list">
    <div class="goods-list__status">
      <button class="user-enter user-enter--normal">
        <div class="avatar avatar-38">
          <img src="../images/farm_tu02.png" alt="农场">
        </div>
        <p class="name">鄂尔多斯农场</p>
        <i class="icon-arrow-right"></i>
      </button>
      <p class="text-warn">待发货</p>
    </div>
    <div class="goods-list__item">
      <div class="thumb"><img src="../images/farm_tu01.png"></div>
      <div class="content">
        <div class="content-text">
          <h3 class="name">鄂尔多斯农场a1096块地西红柿</h3>
          <p class="desc">3公斤</p>
        </div>
      </div>
      <div class="text-right">
        <div class="price"><span class="fz24">¥</span>108.<span class="fz24">00</span></div>
        <p class="fz22 text-deep__gray">x1</p>
      </div>
    </div>
  </div>
  <div class="aiui-cell aiui-cell_access" id="selectDeliveryBtn">
    <div class="aiui-cell__hd">
      <span>配送方式</span>
    </div>
    <div class="aiui-cell__bd">
      <span class="text-deep__gray">普通配送</span>
    </div>
    <div class="aiui-cell__ft">
      <span>快递：免邮</span>
      <i class="icon-arrow-right"></i>
    </div>
  </div>
  <div class="aiui-cell">
    <div class="aiui-cell__col">
      <span>订单备注</span>
    </div>
    <div class="aiui-cell__bd">
      <div class="aiui-textarea__group">
        <textarea class="aiui-textarea" placeholder="请输入备注信息" rows="3"></textarea>
        <div class="aiui-textarea-counter"><span>0</span>/200</div>
      </div>
    </div>
  </div>

</div>

<div class="aiui-footbtn__wrap">
  <div class="aiui-footbtn">
    <button type="button"
      class="aiui-btn aiui-btn__block aiui-btn__large aiui-btn__primary aiui-btn__pill">确定（您需支付0元）</button>
  </div>
</div>

<!-- 选择配送方式弹窗 start -->
<div class="aiui-popup__wrap" id="selectDeliveryPopup">
  <div class="aiui-mask"></div>
  <div class="aiui-popup">
    <div class="aiui-popup__hd">
      <div class="toolbar">
        <button class="icon-close close-popup__btn">取消</button>
        <h3 class="toolbar-title">请选择配送方式</h3>
      </div>
    </div>
    <div class="aiui-popup__bd">
      <div class="aiui-cells aiui-cells__radio">
        <label class="aiui-cell aiui-check__label" for="x11">
          <div class="aiui-cell__hd">
            <span>快递</span>
          </div>
          <div class="aiui-cell__bd">
            <p class="text-deep__gray">免邮</p>
          </div>
          <div class="aiui-cell__ft">
            <input type="radio" class="aiui-check" name="radio1" id="x11">
            <span class="aiui-icon-checked"></span>
          </div>
        </label>
        <label class="aiui-cell aiui-check__label" for="x12">
          <div class="aiui-cell__hd">
            <span>冷链</span>
          </div>
          <div class="aiui-cell__bd">
            <p class="text-deep__gray">20元/公斤</p>
          </div>
          <div class="aiui-cell__ft">
            <input type="radio" name="radio1" class="aiui-check" id="x12" checked="checked">
            <span class="aiui-icon-checked"></span>
          </div>
        </label>
      </div>
    </div>
    <div class="aiui-popup__ft">
      <button type="button"
        class="aiui-btn aiui-btn__block aiui-btn__primary aiui-btn__large aiui-btn__pill">确定</button>
    </div>
  </div>
</div>
<!-- 选择配送方式弹窗 end -->

{% endblock %}

{% block footer %}
<script>
  $(function () {
    // 关闭Popup操作
    $(document).on('click', '.aiui-mask,.close-popup__btn', function () {
      $(".aiui-popup").removeClass("toggle")
      $(this)
        .parents('.aiui-popup__wrap')
        .fadeOut(200);
    });
    // 打开Popup操作
    $('#selectDeliveryBtn').on('click', function () {
      $("#selectDeliveryPopup").fadeIn(200);
      $("#selectDeliveryPopup").find(".aiui-popup").addClass("toggle");;
    });
  });
</script>
{% endblock %}