{% extends 'app.nunjucks' %}
{% block title %}我的阳光值{% endblock %}
{% block content %}
<!--头部导航 start-->
<div class="aiui-navbar-wrap">
  <div class="aiui-navbar aiui-navbar--default aiui-navbar--fixed">
    <div class="aiui-navbar__item">
      <a href="javascript:history.back();" class="icon-return">
      </a>
    </div>
    <h3 class="aiui-navbar__title">我的阳光值</h3>
  </div>
</div>
<!--头部导航 start-->
<div class="sunshine-value">
  <img src="../images/sunshine-value_bg.png" alt="阳光值" class="response-img">
  <div class="inner">
    <h3 class="total">3432</h3>
    <a href="javascript:;" class="aiui-btn aiui-btn--default aiui-btn--medium aiui-btn--pill">立即充值</a>
  </div>
</div>
<div id="sunshineTab">
  <div class="aiui-tabmenu">
    <a href="javascript:;" class="aiui-tabmenu__item aiui-tabmenu__item--on">充值记录</a>
    <a href="javascript:;" class="aiui-tabmenu__item">使用记录</a>
  </div>
  <div class="sunshine-bar">
    <div class="arrow-select" id="selectMouthBtn">
      <span class="arrow-select__value">本月</span>
      <i class="arrow"></i>
    </div>
    <a href="javascript:;" class="desc" id="sunshineValueDescBtn"><span>阳光值说明</span><i class="icon-tips-circle"></i></a>
  </div>
  <!-- 充值记录 start -->
  <div class="aiui-tab__panel">
    <div class="aiui-tab__content">
      <div class="aiui-cells sunshine-record__cells">
        <div class="aiui-cell">
          <div class="item">
            <div class="Cell -fill">
              <h3>支付宝充值</h3>
            </div>
            <span class="text-warn">+1,000</span>
          </div>
          <div class="item">
            <div class="Cell -fill">
              <p class="fz24 text-deep-gray">2019-04-22 10:35:11</p>
            </div>
            <p class="fz24 text-deep-gray">剩余3647</p>
          </div>
        </div>
        <div class="aiui-cell">
          <div class="item">
            <div class="Cell -fill">
              <h3>支付宝充值</h3>
            </div>
            <span class="text-warn">+1,000</span>
          </div>
          <div class="item">
            <div class="Cell -fill">
              <p class="fz24 text-deep-gray">2019-04-22 10:35:11</p>
            </div>
            <p class="fz24 text-deep-gray">剩余3647</p>
          </div>
        </div>
        <div class="aiui-cell">
          <div class="item">
            <div class="Cell -fill">
              <h3>支付宝充值</h3>
            </div>
            <span class="text-warn">+1,000</span>
          </div>
          <div class="item">
            <div class="Cell -fill">
              <p class="fz24 text-deep-gray">2019-04-22 10:35:11</p>
            </div>
            <p class="fz24 text-deep-gray">剩余3647</p>
          </div>
        </div>
        <div class="aiui-cell">
          <div class="item">
            <div class="Cell -fill">
              <h3>支付宝充值</h3>
            </div>
            <span class="text-warn">+1,000</span>
          </div>
          <div class="item">
            <div class="Cell -fill">
              <p class="fz24 text-deep-gray">2019-04-22 10:35:11</p>
            </div>
            <p class="fz24 text-deep-gray">剩余3647</p>
          </div>
        </div>
        <div class="aiui-cell">
          <div class="item">
            <div class="Cell -fill">
              <h3>支付宝充值</h3>
            </div>
            <span class="text-warn">+1,000</span>
          </div>
          <div class="item">
            <div class="Cell -fill">
              <p class="fz24 text-deep-gray">2019-04-22 10:35:11</p>
            </div>
            <p class="fz24 text-deep-gray">剩余3647</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- 充值记录 end -->
  <!-- 使用记录 start -->
  <div class="aiui-tab__panel">
    <div class="aiui-tab__content">
      <div class="aiui-cells sunshine-record__cells">
        <div class="aiui-cell">
          <div class="item">
            <div class="Cell -fill">
              <h3>浇水</h3>
            </div>
            <span class="text-red">-50</span>
          </div>
          <div class="item">
            <div class="Cell -fill">
              <p class="fz24 text-deep-gray">2019-04-22 10:35:11</p>
            </div>
            <p class="fz24 text-deep-gray">剩余3647</p>
          </div>
        </div>
        <div class="aiui-cell">
          <div class="item">
            <div class="Cell -fill">
              <h3>施肥</h3>
            </div>
            <span class="text-red">-50</span>
          </div>
          <div class="item">
            <div class="Cell -fill">
              <p class="fz24 text-deep-gray">2019-04-22 10:35:11</p>
            </div>
            <p class="fz24 text-deep-gray">剩余3647</p>
          </div>
        </div>
        <div class="aiui-cell">
          <div class="item">
            <div class="Cell -fill">
              <h3>捉虫</h3>
            </div>
            <span class="text-red">-50</span>
          </div>
          <div class="item">
            <div class="Cell -fill">
              <p class="fz24 text-deep-gray">2019-04-22 10:35:11</p>
            </div>
            <p class="fz24 text-deep-gray">剩余3647</p>
          </div>
        </div>
        <div class="aiui-cell">
          <div class="item">
            <div class="Cell -fill">
              <h3>捉虫</h3>
            </div>
            <span class="text-red">-50</span>
          </div>
          <div class="item">
            <div class="Cell -fill">
              <p class="fz24 text-deep-gray">2019-04-22 10:35:11</p>
            </div>
            <p class="fz24 text-deep-gray">剩余3647</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- 使用记录 end -->
</div>
{% endblock %}
{% block footer %}
<script>
  //tab调用
  aiui.tab('#sunshineTab', {
    defaultIndex: 0,
    onChange: function (index) {
      console.log(index);
    }
  });
  // 选择月份
  $("#selectMouthBtn").bind("click", function () {
    var $this = $(this);
    aiui.picker([
      {
        label: '近3个月',
        value: 0
      },
      {
        label: '本月',
        value: 1
      },
      {
        label: '2019年6月',
        value: 3
      },
      {
        label: '2019年5月',
        value: 4,
      }
    ], {
      title: '请选择月份',
      defaultValue: [1],
      onChange: function (result) {
        console.log(result)
      },
      onConfirm: function (result) {
        console.log(result)
        $this.find(".arrow-select__value").html(result[0].label);
      },
      id: 'selectMouthPicker'
    });
  });
  // 阳光值说明弹窗
  $("#sunshineValueDescBtn").bind("click", function () {
    var descText = "说明文案描述，不限字数，超过固定高度往下滑。"
    aiui.alert(descText, {
      title: '阳光值说明',
      buttons: [{
        label: '好的',
        type: 'primary',
        // 回调事件
        onClick: function () { console.log('好的') }
      }]
    });
  });
</script>
{% endblock %}