{% extends 'app.nunjucks' %}
{% block title %}蔬游-任务详情{% endblock %}
{% block content %}
<!--头部导航 start-->
<div class="aiui-headbar__wrap">
  <div class="aiui-headbar aiui-headbar__default aiui-headbar__fixed">
    <div class="aiui-headbar__item">
      <a href="javascript:history.back();" class="icon-return"></a>
    </div>
    <h3 class="aiui-headbar__title">任务详情</h3>
  </div>
</div>
<!--头部导航 end-->
<!--内容区域 start-->
<!--状态提示 start-->
<div class="aiui-status">
  <div class="Cell -fill">
    <h3 class="status-title">待完成</h3>
  </div>
  <i class="icon-wait-2px"></i>
</div>
<!--状态提示 end-->
<div class="aiui-cells">
  <div class="aiui-cell aiui-cell__primary">
    <div class="Cell -2of2 goods-list__item">
      <div class="thumb"><img src="../images/farm_tu01.png"></div>
      <div class="bd">
        <h3>鄂尔多斯农场a1096地块西红柿</h3>
        <p class="fz28 text-deep__gray">总计10平方</p>
      </div>
    </div>
  </div>
</div>
<div class="aiui-cells aiui-cells__gap">
  <div class="aiui-cell">
    <div class="aiui-cell__col">
      <span>支付详情</span>
    </div>
    <div class="aiui-cell__bd Grid -between">
      <span class="text-med__gray">阳光值</span>
      <span>50</span>
    </div>
  </div>
  <div class="aiui-cell">
    <div class="aiui-cell__bd Grid -right">
      <div class="fz36">已支付：<span class="text-red font-weight">50点</span></div>
    </div>
  </div>
</div>
<div class="aiui-cells aiui-cells__gap">
  <div class="aiui-cell">
    <div class="order-info">
      <p>任务编号：119099999</p>
      <p>下单时间：2019-07-23 17:43</p>
    </div>
  </div>
</div>
<div class="aiui-cells__gap"></div>
<!--内容区域 end-->
<!--底部悬浮按钮 start-->
<div class="aiui-footbtn__wrap">
  <div class="aiui-footbtn aiui-footbtn__default Grid -right">
    <button type="button"
      class="aiui-btn aiui-btn__plain aiui-btn__small aiui-btn__primary aiui-btn__pill">提醒雇农完成</button>
  </div>
</div>
<!--底部悬浮按钮 end-->
{% endblock %}