{% extends 'app.nunjucks' %}
{% block title %}蔬游-任务管理{% endblock %}
{% block content %}
<!--内容区域 start-->
<div class="aiui-tab" id="tab">
  <div class="header-sticky-hook">
    <!--头部导航 start-->
    <div class="aiui-navbar aiui-navbar--default">
      <div class="aiui-navbar__item">
        <a href="javascript:history.back();" class="icon-return">
        </a>
      </div>
      <h3 class="aiui-navbar__title">任务管理</h3>
    </div>
    <!--头部导航 start-->
    <!--搜索区域 start-->
    <div class="filter-bar">
      <div class="arrow-select" id="openFilterPopup">
        <span class="arrow-select__value">本月</span>
        <i class="arrow"></i>
      </div>
      <div class="aiui-search-bar" id="searchBar">
        <form class="aiui-search-bar__form" action="#">
          <div class="aiui-search-bar__box">
            <i class="icon-search"></i>
            <input type="search" class="aiui-search-bar__input" autocomplete="off" placeholder="请输入关键字搜索" />
            <button type="button" class="aiui-search-bar__clear-btn icon-close-fill"></button>
          </div>
        </form>
        <button class="aiui-search-bar__cancel-btn">取消</button>
      </div>
    </div>
    <!--搜索区域 end-->
    <div class="aiui-tabmenu">
      <a href="javascript:;" class="aiui-tabmenu__item aiui-tabmenu__item--on">全部</a>
      <a href="javascript:;" class="aiui-tabmenu__item">待发起</a>
      <a href="javascript:;" class="aiui-tabmenu__item">待完成</a>
      <a href="javascript:;" class="aiui-tabmenu__item">待验收</a>
      <a href="javascript:;" class="aiui-tabmenu__item">待评价</a>
    </div>
  </div>
  <div class="aiui-tab__panel">
    <div class="aiui-tab__content">
      <div class="goods-group goods-group--primary">
        <div class="goods-list goods-list--card">
          <div class="goods-list__status">
            <button class="user-enter user-enter--normal">
              <div class="avatar avatar-38">
                <img src="../images/farm_tu02.png" alt="农场">
              </div>
              <p class="name">这是农场名字</p>
              <i class="icon-arrow-right"></i>
            </button>
            <p class="text-warn">待完成</p>
          </div>
          <div class="goods-list__item">
            <div class="thumb thumb-180"><img src="../images/farm_tu01.png"></div>
            <div class="content">
              <div class="content-text">
                <h3 class="name">鄂尔多斯农场a1096块地西红柿</h3>
                <p class="desc">10平方</p>
              </div>
              <div class="content-tips">
                <div class="material-icon">
                  <img src="../images/icon-jiaoshui.png" alt="浇水">
                </div>
                <p class="desc">浇水1次</p>
              </div>
            </div>
          </div>
          <div class="goods-list__ft">
            <div class="price-group">
              <p class="text-med-gray fz26">支付阳光值：</p>
              <p class="fz26"><span class="fz36">50</span>点</p>
            </div>
            <div class="Grid -right">
              <button type="button" class="aiui-btn aiui-btn--plain aiui-btn--small aiui-btn--primary aiui-btn--pill"
                id="reminderBtn">提醒完成</button>
            </div>
          </div>
        </div>
        <div class="goods-list goods-list--card">
          <div class="goods-list__status">
            <button class="user-enter user-enter--normal">
              <div class="avatar avatar-38">
                <img src="../images/farm_tu02.png" alt="农场">
              </div>
              <p class="name">这是农场名字</p>
              <i class="icon-arrow-right"></i>
            </button>
            <p class="text-warn">待验收</p>
          </div>
          <div class="goods-list__item">
            <div class="thumb thumb-180"><img src="../images/farm_tu01.png"></div>
            <div class="content">
              <div class="content-text">
                <h3 class="name">鄂尔多斯农场a1096块地西红柿</h3>
                <p class="desc">10平方</p>
              </div>
              <div class="content-tips">
                <div class="material-icon">
                  <img src="../images/icon-songtu.png" alt="松土">
                </div>
                <p class="desc">松土1次</p>
              </div>
            </div>
          </div>
          <div class="goods-list__ft">
            <div class="price-group">
              <p class="text-med-gray fz26">支付阳光值：</p>
              <p class="fz26"><span class="fz36">50</span>点</p>
            </div>
            <div class="Grid -right">
              <button type="button" onclick="window.location.href='04.13.03-查看照片.html'"
                class="aiui-btn aiui-btn--plain aiui-btn--small aiui-btn--default aiui-btn--pill">查看照片</button>
              <button type="button" class="aiui-btn aiui-btn--plain aiui-btn--small aiui-btn--primary aiui-btn--pill"
                id="confirmDialog">确认验收</button>
            </div>
          </div>
        </div>
        <div class="goods-list goods-list--card">
          <div class="goods-list__status">
            <button class="user-enter user-enter--normal">
              <div class="avatar avatar-38">
                <img src="../images/farm_tu02.png" alt="农场">
              </div>
              <p class="name">这是农场名字</p>
              <i class="icon-arrow-right"></i>
            </button>
            <p class="text-deep-gray">已完成</p>
          </div>
          <div class="goods-list__item">
            <div class="thumb thumb-180"><img src="../images/farm_tu01.png"></div>
            <div class="content">
              <div class="content-text">
                <h3 class="name">鄂尔多斯农场a1096块地西红柿</h3>
                <p class="desc">10平方</p>
              </div>
              <div class="content-tips">
                <div class="material-icon">
                  <img src="../images/icon-songtu.png" alt="松土">
                </div>
                <p class="desc">松土1次</p>
              </div>
            </div>
          </div>
          <div class="goods-list__ft">
            <div class="price-group">
              <p class="text-med-gray fz26">支付阳光值：</p>
              <p class="fz26"><span class="fz36">50</span>点</p>
            </div>
            <div class="Grid -right">
              <button type="button" onclick="window.location.href='04.13.03-查看照片.html'"
                class="aiui-btn aiui-btn--plain aiui-btn--small aiui-btn--default aiui-btn--pill">查看照片</button>
              <button type="button"
                class="aiui-btn aiui-btn--plain aiui-btn--small aiui-btn--primary aiui-btn--pill">评价</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="aiui-tab__content">
      <div class="goods-group goods-group--primary">
        <div class="goods-list goods-list--card">
          <div class="goods-list__status">
            <button class="user-enter user-enter--normal">
              <div class="avatar avatar-38">
                <img src="../images/farm_tu02.png" alt="农场">
              </div>
              <p class="name">这是农场名字</p>
              <i class="icon-arrow-right"></i>
            </button>
            <p class="text-warn">待发起</p>
          </div>
          <div class="goods-list__item">
            <div class="thumb thumb-180"><img src="../images/farm_tu01.png"></div>
            <div class="content">
              <div class="content-text">
                <h3 class="name">鄂尔多斯农场a1096块地西红柿</h3>
                <p class="desc">10平方</p>
              </div>
              <div class="content-tips">
                <div class="material-icon">
                  <img src="../images/icon-jiaoshui.png" alt="浇水">
                </div>
                <p class="desc">浇水1次</p>
              </div>
            </div>
          </div>
          <div class="goods-list__ft">
            <div class="price-group">
              <p class="text-med-gray fz26">支付阳光值：</p>
              <p class="fz26"><span class="fz36">50</span>点</p>
            </div>
            <div class="Grid -right">
              <button type="button"
                class="aiui-btn aiui-btn--plain aiui-btn--small aiui-btn--primary aiui-btn--pill">提醒完成</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="aiui-tab__content">
      <div class="goods-group goods-group--primary">
        <div class="goods-list goods-list--card">
          <div class="goods-list__status">
            <button class="user-enter user-enter--normal">
              <div class="avatar avatar-38">
                <img src="../images/farm_tu02.png" alt="农场">
              </div>
              <p class="name">这是农场名字</p>
              <i class="icon-arrow-right"></i>
            </button>
            <p class="text-warn">待完成</p>
          </div>
          <div class="goods-list__item">
            <div class="thumb thumb-180"><img src="../images/farm_tu01.png"></div>
            <div class="content">
              <div class="content-text">
                <h3 class="name">鄂尔多斯农场a1096块地西红柿</h3>
                <p class="desc">10平方</p>
              </div>
              <div class="content-tips">
                <div class="material-icon">
                  <img src="../images/icon-jiaoshui.png" alt="浇水">
                </div>
                <p class="desc">浇水1次</p>
              </div>
            </div>
          </div>
          <div class="goods-list__ft">
            <div class="price-group">
              <p class="text-med-gray fz26">支付阳光值：</p>
              <p class="fz26"><span class="fz36">50</span>点</p>
            </div>
            <div class="Grid -right">
              <button type="button"
                class="aiui-btn aiui-btn--plain aiui-btn--small aiui-btn--primary aiui-btn--pill">提醒完成</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="aiui-tab__content">
      <div class="goods-group goods-group--primary">
        <div class="goods-list goods-list--card">
          <div class="goods-list__status">
            <button class="user-enter user-enter--normal">
              <div class="avatar avatar-38">
                <img src="../images/farm_tu02.png" alt="农场">
              </div>
              <p class="name">这是农场名字</p>
              <i class="icon-arrow-right"></i>
            </button>
            <p class="text-warn">待验收</p>
          </div>
          <div class="goods-list__item">
            <div class="thumb thumb-180"><img src="../images/farm_tu01.png"></div>
            <div class="content">
              <div class="content-text">
                <h3 class="name">鄂尔多斯农场a1096块地西红柿</h3>
                <p class="desc">10平方</p>
              </div>
              <div class="content-tips">
                <div class="material-icon">
                  <img src="../images/icon-songtu.png" alt="松土">
                </div>
                <p class="desc">松土1次</p>
              </div>
            </div>
          </div>
          <div class="goods-list__ft">
            <div class="price-group">
              <p class="text-med-gray fz26">支付阳光值：</p>
              <p class="fz26"><span class="fz36">50</span>点</p>
            </div>
            <div class="Grid -right">
              <button type="button" onclick="window.location.href='04.13.03-查看照片.html'"
                class="aiui-btn aiui-btn--plain aiui-btn--small aiui-btn--default aiui-btn--pill">查看照片</button>
              <button type="button"
                class="aiui-btn aiui-btn--plain aiui-btn--small aiui-btn--primary aiui-btn--pill">确认验收</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="aiui-tab__content">
      <div class="goods-group goods-group--primary">
        <div class="goods-list goods-list--card">
          <div class="goods-list__status">
            <button class="user-enter user-enter--normal">
              <div class="avatar avatar-38">
                <img src="../images/farm_tu02.png" alt="农场">
              </div>
              <p class="name">这是农场名字</p>
              <i class="icon-arrow-right"></i>
            </button>
            <p class="text-deep-gray">已完成</p>
          </div>
          <div class="goods-list__item">
            <div class="thumb thumb-180"><img src="../images/farm_tu01.png"></div>
            <div class="content">
              <div class="content-text">
                <h3 class="name">鄂尔多斯农场a1096块地西红柿</h3>
                <p class="desc">10平方</p>
              </div>
              <div class="content-tips">
                <div class="material-icon">
                  <img src="../images/icon-songtu.png" alt="松土">
                </div>
                <p class="desc">松土1次</p>
              </div>
            </div>
          </div>
          <div class="goods-list__ft">
            <div class="price-group">
              <p class="text-med-gray fz26">支付阳光值：</p>
              <p class="fz26"><span class="fz36">50</span>点</p>
            </div>
            <div class="Grid -right">
              <button type="button" onclick="window.location.href='04.13.03-查看照片.html'"
                class="aiui-btn aiui-btn--plain aiui-btn--small aiui-btn--default aiui-btn--pill">查看照片</button>
              <button type="button"
                class="aiui-btn aiui-btn--plain aiui-btn--small aiui-btn--primary aiui-btn--pill">评价</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--内容区域 end-->
<!--筛选 start-->
<div class="aiui-popup-wrap" id="filterPopup">
  <div class="aiui-mask"></div>
  <div class="aiui-popup--right">
    <div class="popup-filter">
      <div class="popup-filter__bd">
        <div class="select-list">
          <div class="select-list__item">
            <p class="desc">创建日期</p>
            <ul class="select">
              <li class="select-item active"><button class="select-item__btn">本月</button></li>
              <li class="select-item"><button class="select-item__btn">近三月</button></li>
              <li class="select-item"><button class="select-item__btn">全部</button></li>
            </ul>
          </div>
          <div class="select-list__item">
            <p class="desc">状态</p>
            <ul class="select">
              <li class="select-item active"><button class="select-item__btn">代配送</button></li>
              <li class="select-item"><button class="select-item__btn">待收货</button></li>
              <li class="select-item"><button class="select-item__btn">已完成</button></li>
              <li class="select-item"><button class="select-item__btn">全部</button></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="popup-filter__ft">
        <div class="aiui-segmented-control aiui-segmented-control--medium aiui-segmented-control--primary">
          <a href="javascript:;" class="aiui-segmented-control__item" id="resetPopupFilterBtn">重置</a>
          <a href="javascript:;" class="aiui-segmented-control__item active" id="submitPopupFilterBtn">确定</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!--筛选 end-->
{% endblock %}
{% block footer %}
<script src="../libs/sticky.js"></script>
<script type="text/javascript">
  $(function () {
    $(".header-sticky-hook").sticky({ topSpacing: 0 });
    //tab
    aiui.tab('#tab', {
      defaultIndex: 0,
      onChange: function (index) {
        console.log(index);
      }
    });
    //搜索
    aiui.searchBar('#searchBar');
    //筛选
    var $filterPopup = $('#filterPopup');
    // 关闭Popup弹窗
    $(document).on('click', '.aiui-mask, .aiui-popup__close', function () {
      $(".aiui-popup--right").removeClass("toggle")
      $(this)
        .parents('.aiui-popup-wrap')
        .fadeOut(300);
    });
    // 打开Popup弹窗
    $('#openFilterPopup').on('click', function () {
      $filterPopup.fadeIn(300);
      $filterPopup
        .find(".aiui-popup--right")
        .addClass("toggle");
    });

    // 筛选列表高亮
    $(".select-item").bind("click", function () {
      $(this).addClass("active").siblings().removeClass("active");
    });

    $("#resetPopupFilterBtn").bind("click", function () {
      $(".select-item").removeClass("active");
    });
    //确认弹窗
    $("#confirmDialog").bind("click", function () {
      $("#selectLandPopup").hide();
      var descText = '<p>您已完成验收，确定收货请点确认按钮。</p>';
      aiui.confirm(descText, {
        title: '提示',
        buttons: [{
          label: '取消',
          type: 'default',
          onClick: function () { alert('取消') }
        }, {
          label: '确认',
          type: 'primary',
          onClick: function () { alert('确认') }
        }]
      });
    });
    // 提示Toast演示
    $("#reminderBtn").bind("click", function () {
      aiui.toast('提醒成功', {
        duration: 3000,
        className: 'aiui-toast--success'
      });
    });
  });
</script>
{% endblock %}