{% extends 'app.nunjucks' %}
{% block title %}蔬游-评价订单{% endblock %}
{% block content %}
<!--头部导航 start-->
<div class="aiui-headbar__wrap">
  <div class="aiui-headbar aiui-headbar__default aiui-headbar__fixed">
    <div class="aiui-headbar__item">
      <a href="javascript:history.back();" class="icon-return"></a>
    </div>
    <h3 class="aiui-headbar__title">评价订单</h3>
    <div class="aiui-headbar__item">
      <a href="javascript:history.back();" class="text-primary">发布</a>
    </div>
  </div>
</div>
<!--头部导航 end-->
<!--内容区域 start-->

<!--内容区域 end-->
{% endblock %}