{% extends 'app.nunjucks' %}
{% block title %}蔬游-设置-编辑资料{% endblock %}
{% block content %}
<!--头部导航 start-->
<div class="aiui-navbar-wrap">
  <div class="aiui-navbar aiui-navbar--default aiui-navbar--fixed">
    <div class="aiui-navbar__item">
      <a href="javascript:history.back();" class="text-deep__gray">取消</a>
    </div>
    <h3 class="aiui-navbar__title">编辑资料</h3>
    <div class="aiui-navbar__item">
      <a href="javascript:history.back();" class="text-primary">完成</a>
    </div>
  </div>
</div>
<!--头部导航 end-->
<!--内容区域 start-->
<div class="aiui-avatar__edit">
  <div class="avatar avatar-100"><img src="../images/avatar.png" /></div>
  <button type="button" class="edit-btn" id="changeAvatarBtn">更换头像</button>
</div>
<div class="aiui-cells edit-address__cells">
  <div class="aiui-cell">
    <div class="aiui-cell__hd">
      <span class="text-med__gray">昵称</span>
    </div>
    <div class="aiui-cell__bd">
      <input class="aiui-input" type="text" placeholder="豆豆的农场">
    </div>
  </div>
  <div class="aiui-cell">
    <div class="aiui-cell__hd">
      <span class="text-med__gray">手机号码</span>
    </div>
    <div class="aiui-cell__bd">
      <input class="aiui-input" type="tel" placeholder="13834562222" readonly>
    </div>
  </div>
  <div class="aiui-cell" id="selectGenderBtn">
    <div class="aiui-cell__hd">
      <span class="text-med__gray">性别</span>
    </div>
    <div class="aiui-cell__bd">
      <input class="aiui-input" type="text" placeholder="女" readonly>
    </div>
    <div class="aiui-cell__ft">
      <i class="icon-arrow-right"></i>
    </div>
  </div>
</div>
<!--内容区域 end-->

{% endblock %}
{% block footer %}
<script>
  // 选择性别
  $('#selectGenderBtn').bind('click', function () {
    var $this = $(this);
    aiui.picker([
      {
        label: '女',
        value: 0
      },
      {
        label: '男',
        value: 1
      }
    ], {
      title: '选择性别',
      defaultValue: [0],
      onChange: function (result) {
        console.log(result)
      },
      onConfirm: function (result) {
        console.log(result)
        $this.find(".aiui-input").val(result[0].label);
      },
      id: 'selectGenderPicker'
    });
  });
  // 关闭Popup操作
  $(document).on('click', '.aiui-mask,.close-popup__btn', function () {
    $(".aiui-popup").removeClass("toggle")
    $(this)
      .parents('.aiui-popup-wrap')
      .fadeOut(200);
  });
  // 编辑头像
  $('#changeAvatarBtn').on('click', function () {
    aiui.actionSheet([
      {
        label: '从相册选择',
        onClick: function () {
          console.log('从相册选择');
        }
      }
    ], [
      {
        label: '取消',
        onClick: function () {
          console.log('取消');
        }
      }
    ], {
      className: "changeAvatarActionSheet",
      onClose: function () {
        console.log('关闭');
      }
    });
  });

</script>
{% endblock %}