{% extends 'app.nunjucks' %}
{% block title %}蔬游-任务详情{% endblock %}
{% block content %}
<!--头部导航 start-->
<div class="aiui-navbar-wrap">
  <div class="aiui-navbar aiui-navbar--default aiui-navbar--fixed">
    <div class="aiui-navbar__item">
      <a href="javascript:history.back();" class="icon-return"></a>
    </div>
    <h3 class="aiui-navbar__title">任务详情</h3>
  </div>
</div>
<!--头部导航 end-->
<!--内容区域 start-->
<!--状态提示 start-->
<div class="aiui-status">
  <div class="Cell -fill">
    <h3 class="status-title">待完成</h3>
  </div>
  <i class="icon-wait-2px"></i>
</div>
<!--状态提示 end-->
<!-- <div class="goods-list">
  <div class="goods-list__status">
    <button class="user-enter user-enter--normal">
      <div class="avatar avatar-38">
        <img src="../images/farm_tu02.png" alt="农场">
      </div>
      <p class="name">鄂尔多斯农场</p>
      <i class="icon-arrow-right"></i>
    </button>
    <p class="text-warn">待发货</p>
  </div>
  <div class="goods-list__item">
    <div class="thumb thumb-180"><img src="../images/farm_tu01.png"></div>
    <div class="content">
      <div class="content-text">
        <h3 class="name">鄂尔多斯农场a1096块地西红柿</h3>
        <p class="desc">3公斤</p>
      </div>
    </div>
    <div class="text-right">
      <div class="price"><span class="fz24">¥</span>108.<span class="fz24">00</span></div>
      <p class="fz22 text-deep__gray">x1</p>
    </div>
  </div>
</div> -->
<div class="goods-list">
  <div class="goods-list__status">
    <button class="user-enter user-enter--normal">
      <div class="avatar avatar-38">
        <img src="../images/farm_tu02.png" alt="农场">
      </div>
      <p class="name">这是农场名字</p>
      <i class="icon-arrow-right"></i>
    </button>
  </div>
  <div class="goods-list__item">
    <div class="thumb thumb-180"><img src="../images/farm_tu01.png"></div>
    <div class="content">
      <div class="content-text">
        <h3 class="name">鄂尔多斯农场a1096块地西红柿</h3>
        <p class="desc">10平方</p>
      </div>
      <div class="content-tips">
        <div class="material-icon">
          <img src="../images/icon-jiaoshui.png" alt="浇水">
        </div>
        <p class="desc">浇水1次</p>
      </div>
    </div>
  </div>
</div>
<div class="aiui-cells aiui-cells__gap">
  <div class="aiui-cell">
    <div class="aiui-cell__col">
      <span>支付详情</span>
    </div>
    <div class="aiui-cell__bd Grid -between">
      <span class="text-med__gray">阳光值</span>
      <span>50</span>
    </div>
  </div>
  <div class="aiui-cell">
    <div class="aiui-cell__bd Grid -right">
      <div class="fz36">已支付：<span class="text-red font-weight">50点</span></div>
    </div>
  </div>
</div>
<div class="aiui-cells aiui-cells__gap">
  <div class="aiui-cell">
    <div class="order-info">
      <p>任务编号：119099999</p>
      <p>下单时间：2019-07-23 17:43</p>
    </div>
  </div>
</div>
<div class="aiui-cells__gap"></div>
<!--内容区域 end-->
<!--底部悬浮按钮 start-->
<div class="aiui-footbtn__wrap">
  <div class="aiui-footbtn aiui-footbtn__default Grid -right">
    <button type="button"
      class="aiui-btn aiui-btn__plain aiui-btn__small aiui-btn__primary aiui-btn__pill">提醒雇农完成</button>
  </div>
</div>
<!--底部悬浮按钮 end-->
{% endblock %}