{% extends 'app.nunjucks' %}
{% block title %}蔬游-查看交易记录{% endblock %}
{% block content %}
<div class="headbar-sticky-hook">
  <!--头部导航 start-->
  <div class="aiui-headbar aiui-headbar__default">
    <div class="aiui-headbar__item">
      <a href="javascript:history.back();" class="icon-return">
      </a>
    </div>
    <div class="aiui-segmented-control aiui-segmented-control--small aiui-segmented-control--primary">
      <a href="javascript:;" class="aiui-segmented-control__item active">农场订单</a>
      <a href="javascript:;" class="aiui-segmented-control__item">商城订单</a>
    </div>
  </div>
  <!--头部导航 start-->
  <!--搜索区域 start-->
  <div class="filter-bar">
    <div class="arrow-select" id="openFilterPopup">
      <span class="arrow-select__value">本月</span>
      <i class="arrow"></i>
    </div>
    <div class="aiui-search-bar" id="searchBar">
      <form class="aiui-search-bar__form" action="#">
        <div class="aiui-search-bar__box">
          <i class="icon-search"></i>
          <input type="search" class="aiui-search-bar__input" autocomplete="off" placeholder="请输入关键字搜索" />
          <button type="button" class="aiui-search-bar__clear-btn icon-close-fill"></button>
        </div>
      </form>
      <button class="aiui-search-bar__cancel-btn">取消</button>
    </div>
  </div>
  <!--搜索区域 end-->
</div>
<!--内容区域 start-->
<div class="aiui-tab" id="tab">
  <div class="aiui-tabbar">
    <a href="javascript:;" class="aiui-tabbar__item aiui-bar__item_on">全部</a>
    <a href="javascript:;" class="aiui-tabbar__item">待付款</a>
    <a href="javascript:;" class="aiui-tabbar__item">待发货</a>
    <a href="javascript:;" class="aiui-tabbar__item">待收货</a>
    <a href="javascript:;" class="aiui-tabbar__item">待评价</a>
  </div>
  <div class="aiui-tab__panel">
    <div class="aiui-tab__content">
      <div class="goods-group goods-group--primary">
        <div class="goods-list goods-list--card">
          <div class="goods-list__status">
            <button class="user-enter user-enter--normal">
              <div class="avatar avatar-38">
                <img src="../images/farm_tu02.png" alt="农场">
              </div>
              <p class="name">这是农场名字</p>
              <i class="icon-arrow-right"></i>
            </button>
            <p class="text-warn">待完成</p>
          </div>
          <div class="goods-list__item">
            <div class="thumb thumb-180"><img src="../images/farm_tu01.png"></div>
            <div class="content">
              <div class="content-text">
                <h3 class="name">鄂尔多斯农场a1096块地西红柿</h3>
                <p class="desc">3公斤</p>
              </div>
            </div>
            <div class="text-right">
              <div class="price"><span class="fz24">¥</span>108.<span class="fz24">00</span></div>
              <p class="fz22 text-deep__gray">x1</p>
            </div>
          </div>
          <div class="goods-list__ft">
            <div class="price-group">
              <p class="text-med__gray fz26">共1件商品 合计：</p>
              <p class="fz26">¥<span class="fz36">108</span>.00</p>
            </div>
            <div class="Grid -right">
              <button type="button"
                class="aiui-btn aiui-btn__plain aiui-btn__small aiui-btn__default aiui-btn__pill">提醒发货</button>
            </div>
          </div>
        </div>
        <div class="goods-list goods-list--card">
          <div class="goods-list__status">
            <button class="user-enter user-enter--normal">
              <div class="avatar avatar-38">
                <img src="../images/farm_tu02.png" alt="农场">
              </div>
              <p class="name">这是农场名字</p>
              <i class="icon-arrow-right"></i>
            </button>
            <p class="text-deep__gray">已完成</p>
          </div>
          <div class="goods-list__item">
            <div class="thumb thumb-180"><img src="../images/farm_tu01.png"></div>
            <div class="content">
              <div class="content-text">
                <h3 class="name">鄂尔多斯农场a1096块地西红柿</h3>
                <p class="desc">3公斤</p>
              </div>
            </div>
            <div class="text-right">
              <div class="price"><span class="fz24">¥</span>108.<span class="fz24">00</span></div>
              <p class="fz22 text-deep__gray">x1</p>
            </div>
          </div>
          <div class="goods-list__ft">
            <div class="price-group">
              <p class="text-med__gray fz26">共1件商品 合计：</p>
              <p class="fz26">¥<span class="fz36">108</span>.00</p>
            </div>
            <div class="Grid -right">
              <button type="button" onclick="window.location.href='04.12.04-物流详情.html'"
                class="aiui-btn aiui-btn__plain aiui-btn__small aiui-btn__default aiui-btn__pill">查看物流</button>
              <button type="button"
                class="aiui-btn aiui-btn__plain aiui-btn__small aiui-btn__primary aiui-btn__pill">评价</button>
            </div>
          </div>
        </div>
        <div class="goods-list goods-list--card">
          <div class="goods-list__status">
            <button class="user-enter user-enter--normal">
              <div class="avatar avatar-38">
                <img src="../images/farm_tu02.png" alt="农场">
              </div>
              <p class="name">这是农场名字</p>
              <i class="icon-arrow-right"></i>
            </button>
            <p class="text-warn">雇农已发货</p>
          </div>
          <div class="goods-list__item">
            <div class="thumb thumb-180"><img src="../images/farm_tu01.png"></div>
            <div class="content">
              <div class="content-text">
                <h3 class="name">鄂尔多斯农场a1096块地西红柿</h3>
                <p class="desc">3公斤</p>
              </div>
            </div>
            <div class="text-right">
              <div class="price"><span class="fz24">¥</span>108.<span class="fz24">00</span></div>
              <p class="fz22 text-deep__gray">x1</p>
            </div>
          </div>
          <div class="goods-list__ft">
            <div class="price-group">
              <p class="text-med__gray fz26">共1件商品 合计：</p>
              <p class="fz26">¥<span class="fz36">108</span>.00</p>
            </div>
            <div class="Grid -right">
              <button type="button" onclick="window.location.href='04.12.04-物流详情.html'"
                class="aiui-btn aiui-btn__plain aiui-btn__small aiui-btn__default aiui-btn__pill">查看物流</button>
              <button type="button"
                class="aiui-btn aiui-btn__plain aiui-btn__small aiui-btn__primary aiui-btn__pill">确认收货</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="aiui-tab__content">
      <div class="goods-group goods-group--primary">
        <div class="goods-list goods-list--card">
          <div class="goods-list__status">
            <button class="user-enter user-enter--normal">
              <div class="avatar avatar-38">
                <img src="../images/farm_tu02.png" alt="农场">
              </div>
              <p class="name">这是农场名字</p>
              <i class="icon-arrow-right"></i>
            </button>
            <p class="text-warn">待付款</p>
          </div>
          <div class="goods-list__item">
            <div class="thumb thumb-180"><img src="../images/farm_tu01.png"></div>
            <div class="content">
              <div class="content-text">
                <h3 class="name">鄂尔多斯农场a1096块地西红柿</h3>
                <p class="desc">3公斤</p>
              </div>
            </div>
            <div class="text-right">
              <div class="price"><span class="fz24">¥</span>108.<span class="fz24">00</span></div>
              <p class="fz22 text-deep__gray">x1</p>
            </div>
          </div>
          <div class="goods-list__ft">
            <div class="price-group">
              <p class="text-med__gray fz26">共1件商品 合计：</p>
              <p class="fz26">¥<span class="fz36">108</span>.00</p>
            </div>
            <div class="Grid -right">
              <button type="button"
                class="aiui-btn aiui-btn__plain aiui-btn__small aiui-btn__default aiui-btn__pill">提醒发货</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="aiui-tab__content">
      <div class="goods-group goods-group--primary">
        <div class="goods-list goods-list--card">
          <div class="goods-list__status">
            <button class="user-enter user-enter--normal">
              <div class="avatar avatar-38">
                <img src="../images/farm_tu02.png" alt="农场">
              </div>
              <p class="name">这是农场名字</p>
              <i class="icon-arrow-right"></i>
            </button>
            <p class="text-warn">待发货</p>
          </div>
          <div class="goods-list__item">
            <div class="thumb thumb-180"><img src="../images/farm_tu01.png"></div>
            <div class="content">
              <div class="content-text">
                <h3 class="name">鄂尔多斯农场a1096块地西红柿</h3>
                <p class="desc">3公斤</p>
              </div>
            </div>
            <div class="text-right">
              <div class="price"><span class="fz24">¥</span>108.<span class="fz24">00</span></div>
              <p class="fz22 text-deep__gray">x1</p>
            </div>
          </div>
          <div class="goods-list__ft">
            <div class="price-group">
              <p class="text-med__gray fz26">共1件商品 合计：</p>
              <p class="fz26">¥<span class="fz36">108</span>.00</p>
            </div>
            <div class="Grid -right">
              <button type="button"
                class="aiui-btn aiui-btn__plain aiui-btn__small aiui-btn__default aiui-btn__pill">提醒发货</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="aiui-tab__content">
      <div class="goods-group goods-group--primary">
        <div class="goods-list goods-list--card">
          <div class="goods-list__status">
            <button class="user-enter user-enter--normal">
              <div class="avatar avatar-38">
                <img src="../images/farm_tu02.png" alt="农场">
              </div>
              <p class="name">这是农场名字</p>
              <i class="icon-arrow-right"></i>
            </button>
            <p class="text-warn">待收货</p>
          </div>
          <div class="goods-list__item">
            <div class="thumb thumb-180"><img src="../images/farm_tu01.png"></div>
            <div class="content">
              <div class="content-text">
                <h3 class="name">鄂尔多斯农场a1096块地西红柿</h3>
                <p class="desc">3公斤</p>
              </div>
            </div>
            <div class="text-right">
              <div class="price"><span class="fz24">¥</span>108.<span class="fz24">00</span></div>
              <p class="fz22 text-deep__gray">x1</p>
            </div>
          </div>
          <div class="goods-list__ft">
            <div class="price-group">
              <p class="text-med__gray fz26">共1件商品 合计：</p>
              <p class="fz26">¥<span class="fz36">108</span>.00</p>
            </div>
            <div class="Grid -right">
              <button type="button"
                class="aiui-btn aiui-btn__plain aiui-btn__small aiui-btn__default aiui-btn__pill">提醒发货</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="aiui-tab__content">
      <div class="goods-group goods-group--primary">
        <div class="goods-list goods-list--card">
          <div class="goods-list__status">
            <button class="user-enter user-enter--normal">
              <div class="avatar avatar-38">
                <img src="../images/farm_tu02.png" alt="农场">
              </div>
              <p class="name">这是农场名字</p>
              <i class="icon-arrow-right"></i>
            </button>
            <p class="text-deep__gray">已完成</p>
          </div>
          <div class="goods-list__item">
            <div class="thumb thumb-180"><img src="../images/farm_tu01.png"></div>
            <div class="content">
              <div class="content-text">
                <h3 class="name">鄂尔多斯农场a1096块地西红柿</h3>
                <p class="desc">3公斤</p>
              </div>
            </div>
            <div class="text-right">
              <div class="price"><span class="fz24">¥</span>108.<span class="fz24">00</span></div>
              <p class="fz22 text-deep__gray">x1</p>
            </div>
          </div>
          <div class="goods-list__ft">
            <div class="price-group">
              <p class="text-med__gray fz26">共1件商品 合计：</p>
              <p class="fz26">¥<span class="fz36">108</span>.00</p>
            </div>
            <div class="Grid -right">
              <button type="button" onclick="window.location.href='04.12.04-物流详情.html'"
                class="aiui-btn aiui-btn__plain aiui-btn__small aiui-btn__default aiui-btn__pill">查看物流</button>
              <button type="button"
                class="aiui-btn aiui-btn__plain aiui-btn__small aiui-btn__primary aiui-btn__pill">评价</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--内容区域 end-->
<!--筛选 start-->
<div class="aiui-popup__wrap" id="filterPopup">
  <div class="aiui-mask"></div>
  <div class="aiui-popup--right">
    <div class="popup-filter">
      <div class="popup-filter__bd">
        <div class="select-list">
          <div class="select-list__item">
            <p class="desc">创建日期</p>
            <ul class="select">
              <li class="select-item active"><button class="select-item__btn">本月</button></li>
              <li class="select-item"><button class="select-item__btn">近三月</button></li>
              <li class="select-item"><button class="select-item__btn">全部</button></li>
            </ul>
          </div>
          <div class="select-list__item">
            <p class="desc">状态</p>
            <ul class="select">
              <li class="select-item active"><button class="select-item__btn">代配送</button></li>
              <li class="select-item"><button class="select-item__btn">待收货</button></li>
              <li class="select-item"><button class="select-item__btn">已完成</button></li>
              <li class="select-item"><button class="select-item__btn">全部</button></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="popup-filter__ft">
        <div class="aiui-segmented-control aiui-segmented-control--medium aiui-segmented-control--primary">
          <a href="javascript:;" class="aiui-segmented-control__item" id="resetPopupFilterBtn">重置</a>
          <a href="javascript:;" class="aiui-segmented-control__item active" id="submitPopupFilterBtn">确定</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!--筛选 end-->
{% endblock %}
{% block footer %}
<script src="../libs/sticky.js"></script>
<script type="text/javascript">
  $(function () {
    $(".headbar-sticky-hook").sticky({ topSpacing: 0 });
    var topSpacing = $('.aiui-headbar').innerHeight() + $('.aiui-search-bar').innerHeight();
    $(".aiui-tabbar").sticky({ topSpacing: topSpacing });
    //tab
    aiui.tab('#tab', {
      defaultIndex: 0,
      onChange: function (index) {
        console.log(index);
      }
    });
    //搜索
    aiui.searchBar('#searchBar');
    //筛选
    var $filterPopup = $('#filterPopup');
    // 关闭Popup弹窗
    $(document).on('click', '.aiui-mask, .aiui-popup__close', function () {
      $(".aiui-popup--right").removeClass("toggle")
      $(this)
        .parents('.aiui-popup__wrap')
        .fadeOut(300);
    });
    // 打开Popup弹窗
    $('#openFilterPopup').on('click', function () {
      $filterPopup.fadeIn(300);
      $filterPopup
        .find(".aiui-popup--right")
        .addClass("toggle");
    });

    // 筛选列表高亮
    $(".select-item").bind("click", function () {
      $(this).addClass("active").siblings().removeClass("active");
    });

    $("#resetPopupFilterBtn").bind("click", function () {
      $(".select-item").removeClass("active");
    });
  });
</script>
{% endblock %}