{% extends 'app.nunjucks' %}
{% block title %}蔬游-评价订单{% endblock %}
{% block content %}
<!--头部导航 start-->
<div class="aiui-navbar-wrap">
  <div class="aiui-navbar aiui-navbar--default aiui-navbar--fixed">
    <div class="aiui-navbar__item">
      <a href="javascript:history.back();" class="icon-return"></a>
    </div>
    <h3 class="aiui-navbar__title">评价订单</h3>
    <div class="aiui-navbar__item">
      <a href="javascript:;" class="text-primary" id="releaseBtn">发布</a>
    </div>
  </div>
</div>
<!--头部导航 end-->
<!--内容区域 start-->
<div class="aiui-cells aiui-score--whole">
  <!--农场信息 start-->
  <div class="goods-list">
    <div class="goods-list__item">
      <div class="thumb thumb-100"><img src="../images/farm_tu01.png"></div>
      <div class="content">
        <div class="content-text">
          <h3 class="name">巴马乡片区A1096地块南瓜</h3>
          <p class="desc">总计10平方</p>
        </div>
      </div>
    </div>
  </div>
  <!--农场信息 end-->
  <!--评分 start-->
  <div class="aiui-score aiui-score--line">
    <span class="aiui-score__label font-weight fz30 mr24">整体评价</span>
    <div class="aiui-star">
      <ul class="aiui-star__box star" score="0">
        <li class="aiui-star__item icon-star"><a href="javascript:;">1</a></li>
        <li class="aiui-star__item icon-star"><a href="javascript:;">2</a></li>
        <li class="aiui-star__item icon-star"><a href="javascript:;">3</a></li>
        <li class="aiui-star__item icon-star"><a href="javascript:;">4</a></li>
        <li class="aiui-star__item icon-star"><a href="javascript:;">5</a></li>
      </ul>
      <span class="star-result"></span>
    </div>
  </div>
  <!--评分 end-->
  <!--录入信息 start-->
  <div class="aiui-tips">
    <div class="aiui-tips__item"><span class="aiui-tips__btn">快递物流</span></div>
    <div class="aiui-tips__item"><span class="aiui-tips__btn">日常服务</span></div>
    <div class="aiui-tips__item"><span class="aiui-tips__btn">到货感受</span></div>
    <div class="aiui-tips__item"><span class="aiui-tips__btn">食用体验</span></div>
  </div>
  <div class="aiui-textarea__group aiui-textarea__group--normal">
    <textarea class="aiui-textarea" placeholder="点击上方标签，从不同角度给订单更全面的评价，可以帮助到更多小伙伴哦！" rows="3"></textarea>
  </div>
  <div class="aiui-uploader aiui-uploader--multiple">
    <div class="aiui-uploader__item">
      <ul class="aiui-uploader__files" style="display:none;">
        <li class="aiui-uploader__file"></li>
      </ul>
      <div class="aiui-uploader__box">
        <i class="icon-camera"></i>
        <p>添加图片</p>
        <input type="file" accept="image/*" capture="camera" class="aiui-uploader__input" />
      </div>
    </div>
    <div class="aiui-uploader__item">
      <ul class="aiui-uploader__files" style="display:none;">
        <li class="aiui-uploader__file"></li>
      </ul>
      <div class="aiui-uploader__box">
        <i class="icon-video"></i>
        <p>添加视频</p>
        <input type="file" accept="video/*" capture="camcorder" class="aiui-uploader__input" />
      </div>
    </div>
  </div>
  <div class="aiui-cells__checkbox aiui-cells__checkbox--line">
    <label class="aiui-cell" for="s12">
      <div class="aiui-cell__hd">
        <input type="checkbox" name="checkbox1" class="aiui-check" checked id="s12">
        <i class="aiui-icon-checked"></i>
      </div>
      <div class="aiui-cell__bd">
        <p>匿名</p>
      </div>
      <div class="aiui-cell__ft">
        <p class="text-deep__gray">你写的评价会以匿名的形式展现</p>
      </div>
    </label>
  </div>
  <!--录入信息 end-->
</div>
<div class="aiui-cells aiui-score--other mt20">
  <h3 class="score-title">农场评价</h3>
  <div class="aiui-score">
    <span class="aiui-score__label fz28 mr24">物流服务</span>
    <div class="aiui-star">
      <ul class="aiui-star__box star" score="0">
        <li class="aiui-star__item icon-star"><a href="javascript:;">1</a></li>
        <li class="aiui-star__item icon-star"><a href="javascript:;">2</a></li>
        <li class="aiui-star__item icon-star"><a href="javascript:;">3</a></li>
        <li class="aiui-star__item icon-star"><a href="javascript:;">4</a></li>
        <li class="aiui-star__item icon-star"><a href="javascript:;">5</a></li>
      </ul>
      <span class="star-result"></span>
    </div>
  </div>
  <div class="aiui-score">
    <span class="aiui-score__label fz28 mr24">服务态度</span>
    <div class="aiui-star">
      <ul class="aiui-star__box star" score="0">
        <li class="aiui-star__item icon-star"><a href="javascript:;">1</a></li>
        <li class="aiui-star__item icon-star"><a href="javascript:;">2</a></li>
        <li class="aiui-star__item icon-star"><a href="javascript:;">3</a></li>
        <li class="aiui-star__item icon-star"><a href="javascript:;">4</a></li>
        <li class="aiui-star__item icon-star"><a href="javascript:;">5</a></li>
      </ul>
      <span class="star-result"></span>
    </div>
  </div>
</div>
<!--内容区域 end-->
{% endblock %}
{% block footer %}
<script src="../js/star.js"></script>
<script>
  $(function () {
    $(".aiui-tips__item").on("click", function () {
      $(this).siblings().removeClass("active");
      $(this).addClass("active");
    });
    // 提示Toast演示
    $("#releaseBtn").bind("click", function () {
      aiui.toast('发布成功', {
        duration: 3000,
        className: 'aiui-toast--success'
      });
    });
  });
</script>
{% endblock %}