{% extends 'app.nunjucks' %}
{% block title %}蔬游-绑定成功{% endblock %}
{% block content %}
<!--头部导航 start-->
<div class="aiui-navbar-wrap">
  <div class="aiui-navbar aiui-navbar--default aiui-navbar--fixed">
    <div class="aiui-navbar__item">
      <a href="javascript:history.back();" class="icon-return"></a>
    </div>
    <h3 class="aiui-navbar__title">绑定成功</h3>
  </div>
</div>
<!--头部导航 end-->
<div class="aiui-msg">
  <div class="aiui-msg__hd aiui-msg__success">
    <i class="icon-success aiui-icon__msg"></i>
    <h2 class="aiui-msg__title">绑定成功</h2>
  </div>
  <div class="aiui-msg__bd">
    <p class="aiui-msg__desc">恭喜您成功绑定一张银行卡。</p>
  </div>
  <div class="aiui-msg__ft">
    <a href="05.05.05-我的账户-继续提现.html"
      class="aiui-btn aiui-btn__plain aiui-btn__large aiui-btn__primary aiui-btn__pill">继续提现</a>
    <a href="05.01-雇农首页.html" class="aiui-btn aiui-btn__large aiui-btn__primary aiui-btn__pill">返回首页</a>
  </div>
</div>
{% endblock %}