{% extends 'app.nunjucks' %}
{% block title %}蔬游-我的地块{% endblock %}
{% block content %}
<div class="headbar-sticky">
    <!--头部导航 start-->
    <div class="aiui-headbar aiui-headbar__default">
        <div class="aiui-headbar__item">
            <a href="javascript:;" class="icon-return">
            </a>
        </div>
        <h3 class="aiui-headbar__title">我的地块</h3>
    </div>
    <!--头部导航 start-->
    <!--搜索区域 start-->
    <div class="aiui-search-bar aiui-search-bar_focusing" id="searchBar">
        <form class="aiui-search-bar__form">
            <div class="aiui-search-bar__box">
                <i class="icon-search"></i>
                <input type="search" class="aiui-search-bar__input" id="searchInput" autocomplete="off" placeholder="搜索"
                    required="">
                <a href="javascript:" class="icon-close-fill" id="searchClear"></a>
            </div>
            <label class="aiui-search-bar__label" id="searchText">
                <i class="icon-search"></i>
                <span>搜索</span>
            </label>
        </form>
        <button type="button" class="aiui-btn aiui-btn__medium aiui-btn__primary  aiui-btn__pill button-thumb">搜索</button>
    </div>
</div>
<!--搜索区域 end-->
<!--内容区域 start-->
<div class="aiui-tab" id="tab">
    <div class="aiui-tabbar">
        <a href="javascript:;" class="aiui-tabbar__item aiui-bar__item_on">
            全部(<span class="aiui-bar-badge">12</span>)
        </a>
        <a href="javascript:;" class="aiui-tabbar__item">
            已租(<span class="aiui-bar-badge">8</span>)
        </a>
        <a href="javascript:;" class="aiui-tabbar__item">
            待租(<span class="aiui-bar-badge">4</span>)
        </a>
        <a href="javascript:;" class="aiui-tabbar__item">
            已下架(<span class="aiui-bar-badge">4</span>)
        </a>
    </div>
    <div class="aiui-tab__panel">
        <div class="aiui-tab__content">
            <div class="shop-list">
                <div class="shop-list_item">
                    <div class="thumb"><img src="../images/farm_tu01.png"></div>
                    <div class="bd">
                        <h3>鄂尔多斯农场a1096地块</h3>
                        <p class="text-deep__gray">已下架</p>
                    </div>
                </div>
                <div class="ft">
                    <button type="button"
                        class="aiui-btn aiui-btn__plain aiui-btn__small aiui-btn__primary aiui-btn__pill">恢复</button>
                </div>
            </div>
            <div class="shop-list">
                <div class="shop-list_item">
                    <div class="thumb"><img src="../images/farm_tu01.png"></div>
                    <div class="bd">
                        <h3>鄂尔多斯农场a1096地块</h3>
                        <p class="text-warn">已租种</p>
                    </div>
                </div>
                <div class="ft">
                    <button type="button"
                        class="aiui-btn aiui-btn__plain aiui-btn__small aiui-btn__primary aiui-btn__pill">提交生长情况</button>
                </div>
            </div>
            <div class="shop-list">
                <div class="shop-list_item">
                    <div class="thumb"><img src="../images/farm_tu01.png"></div>
                    <div class="bd">
                        <h3>鄂尔多斯农场a1096地块</h3>
                        <p class="text-primary">待租</p>
                    </div>
                </div>
                <div class="ft">
                    <button type="button"
                        class="aiui-btn aiui-btn__plain aiui-btn__small aiui-btn__default aiui-btn__pill">下架</button>
                    <button type="button"
                        class="aiui-btn aiui-btn__plain aiui-btn__small aiui-btn__primary aiui-btn__pill">编辑</button>
                </div>
            </div>
        </div>
        <div class="aiui-tab__content">
            <div class="shop-list">
                <div class="shop-list_item">
                    <div class="thumb"><img src="../images/farm_tu01.png"></div>
                    <div class="bd">
                        <h3>鄂尔多斯农场a1096地块</h3>
                        <p class="text-warn">已租种</p>
                    </div>
                </div>
                <div class="ft">
                    <button type="button"
                        class="aiui-btn aiui-btn__plain aiui-btn__small aiui-btn__primary aiui-btn__pill">提交生长情况</button>
                </div>
            </div>
        </div>
        <div class="aiui-tab__content">
            <div class="shop-list">
                <div class="shop-list_item">
                    <div class="thumb"><img src="../images/farm_tu01.png"></div>
                    <div class="bd">
                        <h3>鄂尔多斯农场a1096地块</h3>
                        <p class="text-primary">待租</p>
                    </div>
                </div>
                <div class="ft">
                    <button type="button"
                        class="aiui-btn aiui-btn__plain aiui-btn__small aiui-btn__default aiui-btn__pill">下架</button>
                    <button type="button"
                        class="aiui-btn aiui-btn__plain aiui-btn__small aiui-btn__primary aiui-btn__pill">编辑</button>
                </div>
            </div>
        </div>
        <div class="aiui-tab__content">
            <div class="shop-list">
                <div class="shop-list_item">
                    <div class="thumb"><img src="../images/farm_tu01.png"></div>
                    <div class="bd">
                        <h3>鄂尔多斯农场a1096地块</h3>
                        <p class="text-primary">待租</p>
                    </div>
                </div>
                <div class="ft">
                    <button type="button"
                        class="aiui-btn aiui-btn__plain aiui-btn__small aiui-btn__default aiui-btn__pill">下架</button>
                    <button type="button"
                        class="aiui-btn aiui-btn__plain aiui-btn__small aiui-btn__primary aiui-btn__pill">编辑</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--内容区域 end-->
<div class="aiui-footbtn__wrap">
    <div class="aiui-footbtn">
        <button type="button" class="aiui-btn aiui-btn__block aiui-btn__large aiui-btn__primary aiui-btn__pill">新增地块</button>
    </div>
</div>
{% endblock %}
{% block footer %}
<script src="../libs/sticky.js"></script>
<script type="text/javascript">
    $(function () {
        $(".headbar-sticky").sticky({ topSpacing: 0 });
        //tab
        aiui.tab('#tab', {
            defaultIndex: 0,
            onChange: function (index) {
                console.log(index);
            }
        });

        //搜索
        var $searchBar = $('#searchBar'),
            $searchInput = $('#searchInput'),
            $searchClear = $('#searchClear')
        $searchClear.on('click', function () {
            $searchInput.val('');
            $searchInput.focus();
        });
    });
</script>
{% endblock %}