{% extends 'app.nunjucks' %}
{% block title %}蔬游-提现{% endblock %}
{% block content %}
<!--头部导航 start-->
<div class="aiui-navbar aiui-navbar--default">
  <div class="aiui-navbar__item">
    <a href="javascript:history.back();" class="icon-return">
    </a>
  </div>
  <h3 class="aiui-navbar__title">提现</h3>
</div>
<!--头部导航 start-->
<form>
  <div class="aiui-cells">
    <div class="aiui-cell">
      <div class="Cell -2of2 mb30 mt20">
        <p class="fz48">请绑定一张<span class="text-blue">你的银行卡</span></p>
      </div>
      <div class="Cell -2of2 mb10"><span>李三的银行卡号</span></div>
      <div class="Cell -2of2 Grid -middle">
        <div class="Cell -fill fz48">
          <input class="aiui-input" type="text" value="6225 8888 8888 8888">
        </div>
        <button class="icon-camera"></button>
      </div>
    </div>
    <div class="aiui-cell">
      <div class="Cell -2of2 Grid -middle">
        <div class="thumb thumb-48 mr24">
          <img src="../images/icon-bank.png" alt="招商银行">
        </div>
        <p>招商银行</p>
      </div>
      <div class="bank-phone-tips mt25">
        <span class="text-deep-gray">银行预留手机号</span>
        <button type="button" class="icon-tips-circle" id="phontDetailBtn"></button>
      </div>
      <div class="Cell -2of2 fz36">
        <input class="aiui-input" type="text" value="138 8888 8888">
      </div>
    </div>
  </div>

  <div class="aiui-cells--checkbox">
    <label class="aiui-cell aiui-check--label" for="s12">
      <div class="aiui-cell__hd">
        <input type="checkbox" name="checkbox1" class="aiui-check" id="s12" checked="checked">
        <i class="aiui-icon-checked"></i>
      </div>
      <div class="aiui-cell__bd">
        <div class="text-deep-gray">同意 <a class="text-primary fz28"> 《绑定银行卡协议》</a></div>
      </div>
    </label>
  </div>
  <div class="aiui-footbtn-wrap">
    <div class="aiui-footbtn">
      <a href="javascript:;" class="aiui-btn aiui-btn--block aiui-btn--large aiui-btn--primary aiui-btn--pill">下一步</a>
    </div>
  </div>
</form>


{% endblock %}
{% block footer %}
<script>
  // 预留手机号码说明弹窗
  $("#phontDetailBtn").bind("click", function () {
    aiui.alert('说明文案描述，不限字数，超过固定高度往下滑。', {
      title: '预留手机号码说明',
      buttons: [{
        label: '好的',
        type: 'primary',
        onClick: function () { console.log('好的') }
      }]
    });
  });
</script>
{% endblock %}