{% extends 'app.nunjucks' %}
{% block title %}蔬游-继续提现{% endblock %}
{% block content %}
<!--头部导航 start-->
<div class="aiui-navbar aiui-navbar--default">
  <div class="aiui-navbar__item">
    <a href="javascript:history.back();" class="icon-return">
    </a>
  </div>
  <h3 class="aiui-navbar__title">提现</h3>
</div>
<!--头部导航 start-->
<div class="aiui-cells">
  <div class="cash-out__item">
    <p>账户余额(元)</p>
    <p class="price"><span class="fz68">437,890</span><small class="fz30">.00</small></p>
  </div>
</div>
<div class="aiui-cells">
  <div class="aiui-cell">
    <div class="Cell -2of2 mb20">
      <p class="fz30">金额（元）</p>
    </div>
    <div class="Cell -2of2 fz48">437,890</div>
  </div>
  <div class="aiui-cell">
    <div class="aiui-cell__bd">
      <p class="text-deep-gray">0手续费，预计实时到账，具体到账时间以对方银行为准</p>
    </div>
  </div>
</div>
<div class="aiui-cells aiui-cells--gap">
  <a class="aiui-cell aiui-cell_access" href="05.05.03-我的账户-绑定银行卡.html">
    <div class="aiui-cell__bd">
      <span class="text-med-gray">收款账户</span>
    </div>
    <div class="aiui-cell__ft">
      <div class="thumb thumb-48 mr24">
        <img src="../images/icon-bank.png" alt="招商银行">
      </div>
      <span>招商银行（尾号5364）</span>
      <i class="icon-arrow-right"></i>
    </div>
  </a>
</div>
<div class="aiui-cell -normal">
  <button type="button" class="aiui-btn aiui-btn--block aiui-btn--giant aiui-btn--primary aiui-btn--pill">提现</button>
</div>

{% endblock %}