{% extends 'app.nunjucks' %}
{% block title %}蔬游-提现{% endblock %}
{% block content %}
  <!--头部导航 start-->
  <div class="aiui-headbar aiui-headbar__default">
    <div class="aiui-headbar__item">
        <a href="javascript:;" class="icon-return">
        </a>
    </div>
    <h3 class="aiui-headbar__title">提现</h3>
</div>
<!--头部导航 start-->
<div class="aiui-cells">
    <div class="cash-out__item">
        <p class="title">账户余额(元)</p>
        <p class="price">437,890<small>.00</small></p>
    </div>
</div>
{% endblock %}