{% extends 'app.nunjucks' %}
{% block title %}蔬游-我的任务{% endblock %}
{% block content %}
<div class="headbar-sticky-hook">
  <!--头部导航 start-->
  <div class="aiui-headbar aiui-headbar__default">
    <div class="aiui-headbar__item">
      <a href="javascript:history.back();" class="icon-return">
      </a>
    </div>
    <h3 class="aiui-headbar__title">我的订单</h3>
  </div>
  <!--头部导航 start-->
</div>
<div class="aiui-tab" id="tab">
  <div class="aiui-tabbar">
    <a href="javascript:;" class="aiui-tabbar__item aiui-bar__item_on">
      租地订单<span>（2）</span>
    </a>
    <a href="javascript:;" class="aiui-tabbar__item">
      配送订单<span>（2）</span>
    </a>
  </div>
  <div class="aiui-tab__panel">
    <!--搜索区域 start-->
    <div class="aiui-search-bar aiui-search-bar_focusing aiui-search-bar_gap" id="searchBar">
      <div class="arrow-select" id="selectMouthBtn">
        <span class="arrow-select__value">本月</span>
        <i class="arrow"></i>
      </div>
      <form class="aiui-search-bar__form">

        <div class="aiui-search-bar__box">
          <i class="icon-search"></i>
          <input type="search" class="aiui-search-bar__input" id="searchInput" autocomplete="off" placeholder="请输入关键字搜索"
            required="">
          <button type="button" class="icon-close-fill" id="searchClear"></button>
        </div>
        <label class="aiui-search-bar__label" id="searchText">
          <i class="icon-search"></i>
          <span>搜索</span>
        </label>
      </form>
      <button type="button" class="aiui-btn aiui-btn__medium aiui-btn__primary  aiui-btn__pill button-thumb">搜索</button>
    </div>
    <!--搜索区域 end-->
    <div class="aiui-tab__content">

      <div class="goods-group goods-group--normal">
        <div class="goods-list goods-list--card">
          <div class="goods-list__status">
            <button class="user-enter user-enter--normal">
              <div class="avatar avatar-38">
                <img src="../images/avatar.png" alt="头像">
              </div>
              <p class="name">这是租户名字</p>
              <i class="icon-arrow-right"></i>
            </button>
            <p class="text-warn">被租</p>
          </div>
          <div class="goods-list__item">
            <div class="thumb"><img src="../images/farm_tu01.png"></div>
            <div class="content">
              <div class="content-text">
                <h3 class="name">鄂尔多斯农场a1096块地西红柿</h3>
                <div class="mark">
                  <div class="mark-tips mark-tips__plain">租种</div>
                </div>
              </div>
            </div>
            <div class="text-right">
              <div class="price"><span class="fz24">¥</span>108.<span class="fz24">00</span></div>
              <p class="fz22 text-deep__gray">x1</p>
            </div>
          </div>
          <div class="goods-list__ft">
            <div class="price-group">
              <p class="text-med__gray fz26">共1件商品 合计：</p>
              <p class="fz26">¥<span class="fz36">108</span>.00</p>
            </div>
          </div>
        </div>
        <div class="goods-list goods-list--card">
          <div class="goods-list__status">
            <button class="user-enter user-enter--normal">
              <div class="avatar avatar-38">
                <img src="../images/avatar.png" alt="头像">
              </div>
              <p class="name">这是租户名字</p>
              <i class="icon-arrow-right"></i>
            </button>
            <p class="text-warn">被包</p>
          </div>
          <div class="goods-list__item">
            <div class="thumb"><img src="../images/farm_tu01.png"></div>
            <div class="content">
              <div class="content-text">
                <h3 class="name">鄂尔多斯农场a1096块地西红柿</h3>
                <div class="mark">
                  <div class="mark-tips mark-tips__plain">租种</div>
                </div>
              </div>
            </div>
            <div class="text-right">
              <div class="price"><span class="fz24">¥</span>108.<span class="fz24">00</span></div>
              <p class="fz22 text-deep__gray">x1</p>
            </div>
          </div>
          <div class="goods-list__ft">
            <div class="price-group">
              <p class="text-med__gray fz26">共1件商品 合计：</p>
              <p class="fz26">¥<span class="fz36">108</span>.00</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
{% endblock %}


{% block footer %}
<script src="../libs/sticky.js"></script>
<script>
  $(function () {
    $(".headbar-sticky-hook").sticky({ topSpacing: 0 });
    //tab
    aiui.tab('#tab', {
      defaultIndex: 0,
      onChange: function (index) {
        console.log(index);
      }
    });
    //搜索
    var $searchBar = $('#searchBar'),
      $searchInput = $('#searchInput'),
      $searchClear = $('#searchClear')
    $searchClear.on('click', function () {
      $searchInput.val('');
      $searchInput.focus();
    });

  });
</script>
{% endblock %}