{% extends 'app.nunjucks' %}
{% block title %}线下采摘-扫码录入列表{% endblock %}
{% block content %}
<div class="header-sticky-hook">
  <!--头部导航 start-->
  <div class="aiui-navbar-wrap">
    <div class="aiui-navbar aiui-navbar--default aiui-navbar--fixed">
      <div class="aiui-navbar__item">
        <a href="javascript:history.back();" class="icon-return"></a>
      </div>
      <h3 class="aiui-navbar__title">线下采摘</h3>
    </div>
  </div>
  <!--头部导航 end-->
  <!-- 搜索和筛选 start -->
  <div class="filter-bar">
    <div class="arrow-select" id="selectMouthBtn">
      <span class="arrow-select__value">本月</span>
      <i class="arrow"></i>
    </div>
    <div class="aiui-search-bar" id="searchBar">
      <form class="aiui-search-bar__form" action="#">
        <div class="aiui-search-bar__box">
          <i class="icon-search"></i>
          <input type="search" class="aiui-search-bar__input" autocomplete="off" placeholder="请输入关键字搜索" />
          <button type="button" class="aiui-search-bar__clear-btn icon-close-fill"></button>
        </div>
      </form>
      <button class="aiui-search-bar__cancel-btn">取消</button>
    </div>
  </div>
  <!-- 搜索和筛选 end -->
</div>
<div class="aiui-cells scan-entry-cells">
  <div class="aiui-cell">
    <div class="thumb thumb-120">
      <img src="../images/farm_tu01.png" alt="">
    </div>
    <div class="content">
      <p class="name">鄂尔多斯农场a1096地块西红柿名字换行的情况</p>
      <div class="scan-details">
        <div class="avatar avatar-28"><img src="../images/avatar.png" alt="头像"></div>
        <div class="desc">
          <span>村里一枝花</span>
          <span>2019-07-12 12:23</span>
        </div>
      </div>
    </div>
    <span class="text-warn fz34">-15斤</span>
  </div>
  <div class="aiui-cell">
    <div class="thumb thumb-120">
      <img src="../images/farm_tu01.png" alt="">
    </div>
    <div class="content">
      <p class="name">鄂尔多斯农场a1096地块西红柿名字换行的情况</p>
      <div class="scan-details">
        <div class="avatar avatar-28"><img src="../images/avatar.png" alt="头像"></div>
        <div class="desc">
          <span>村里一枝花</span>
          <span>2019-07-12 12:23</span>
        </div>
      </div>
    </div>
    <span class="text-warn fz34">-15斤</span>
  </div>
  <div class="aiui-cell">
    <div class="thumb thumb-120">
      <img src="../images/farm_tu01.png" alt="">
    </div>
    <div class="content">
      <p class="name">鄂尔多斯农场a1096地块西红柿名字换行的情况</p>
      <div class="scan-details">
        <div class="avatar avatar-28"><img src="../images/avatar.png" alt="头像"></div>
        <div class="desc">
          <span>村里一枝花</span>
          <span>2019-07-12 12:23</span>
        </div>
      </div>
    </div>
    <span class="text-warn fz34">-15斤</span>
  </div>
  <div class="aiui-cell">
    <div class="thumb thumb-120">
      <img src="../images/farm_tu01.png" alt="">
    </div>
    <div class="content">
      <p class="name">鄂尔多斯农场a1096地块西红柿名字换行的情况</p>
      <div class="scan-details">
        <div class="avatar avatar-28"><img src="../images/avatar.png" alt="头像"></div>
        <div class="desc">
          <span>村里一枝花</span>
          <span>2019-07-12 12:23</span>
        </div>
      </div>
    </div>
    <span class="text-warn fz34">-15斤</span>
  </div>
  <div class="aiui-cell">
    <div class="thumb thumb-120">
      <img src="../images/farm_tu01.png" alt="">
    </div>
    <div class="content">
      <p class="name">鄂尔多斯农场a1096地块西红柿名字换行的情况</p>
      <div class="scan-details">
        <div class="avatar avatar-28"><img src="../images/avatar.png" alt="头像"></div>
        <div class="desc">
          <span>村里一枝花</span>
          <span>2019-07-12 12:23</span>
        </div>
      </div>
    </div>
    <span class="text-warn fz34">-15斤</span>
  </div>
  <div class="aiui-cell">
    <div class="thumb thumb-120">
      <img src="../images/farm_tu01.png" alt="">
    </div>
    <div class="content">
      <p class="name">鄂尔多斯农场a1096地块西红柿名字换行的情况</p>
      <div class="scan-details">
        <div class="avatar avatar-28"><img src="../images/avatar.png" alt="头像"></div>
        <div class="desc">
          <span>村里一枝花</span>
          <span>2019-07-12 12:23</span>
        </div>
      </div>
    </div>
    <span class="text-warn fz34">-15斤</span>
  </div>
  <div class="aiui-cell">
    <div class="thumb thumb-120">
      <img src="../images/farm_tu01.png" alt="">
    </div>
    <div class="content">
      <p class="name">鄂尔多斯农场a1096地块西红柿名字换行的情况</p>
      <div class="scan-details">
        <div class="avatar avatar-28"><img src="../images/avatar.png" alt="头像"></div>
        <div class="desc">
          <span>村里一枝花</span>
          <span>2019-07-12 12:23</span>
        </div>
      </div>
    </div>
    <span class="text-warn fz34">-15斤</span>
  </div>
</div>
{% endblock %}
{% block footer %}
<script>
  $(function () {
    $(".header-sticky-hook").sticky({ topSpacing: 0 });
    // 选择月份
    $("#selectMouthBtn").bind("click", function () {
      var $this = $(this);
      aiui.picker([
        {
          label: '近3个月',
          value: 0
        },
        {
          label: '本月',
          value: 1
        },
        {
          label: '19年6月',
          value: 3
        },
        {
          label: '19年5月',
          value: 4,
        }
      ], {
        title: '请选择月份',
        defaultValue: [1],
        onChange: function (result) {
          console.log(result)
        },
        onConfirm: function (result) {
          console.log(result)
          $this.find(".arrow-select__value").html(result[0].label);
        },
        id: 'selectMouthPicker'
      });
    });
    //搜索
    aiui.searchBar('#searchBar');
  });
</script>
{% endblock %}