{% extends 'app.nunjucks' %}
{% block title %}蔬游-我的地块{% endblock %}
{% block content %}
<div class="aiui-tab" id="tab">
  <div class="header-sticky-hook">
    <!--头部导航 start-->
    <div class="aiui-navbar aiui-navbar--default">
      <div class="aiui-navbar__item">
        <a href="javascript:;" class="icon-return">
        </a>
      </div>
      <h3 class="aiui-navbar__title">我的地块</h3>
    </div>
    <!--头部导航 start-->
    <!--搜索区域 start-->
    <div class="aiui-search-bar" id="searchBar">
      <form class="aiui-search-bar__form" action="#">
        <div class="aiui-search-bar__box">
          <i class="icon-search"></i>
          <input type="search" class="aiui-search-bar__input" autocomplete="off" placeholder="请输入关键字搜索" />
          <button type="button" class="aiui-search-bar__clear-btn icon-close-fill"></button>
        </div>
      </form>
      <button class="aiui-search-bar__cancel-btn">取消</button>
    </div>
    <!--搜索区域 end-->
    <div class="aiui-tabmenu">
      <a href="javascript:;" class="aiui-tabmenu__item aiui-tabmenu__item--on">
        全部(3)
      </a>
      <a href="javascript:;" class="aiui-tabmenu__item">
        已租(1)
      </a>
      <a href="javascript:;" class="aiui-tabmenu__item">
        待租(1)
      </a>
      <a href="javascript:;" class="aiui-tabmenu__item">
        已下架(1)
      </a>
    </div>
  </div>

  <div class="aiui-tab__panel">
    <div class="aiui-tab__content">
      <div class="goods-group goods-group--primary">
        <div class="goods-list goods-list--card">
          <div class="goods-list__status">
            <button class="user-enter user-enter--disabled">
              <div class="avatar avatar-38">
                <img src="../images/avatar.png" alt="头像">
              </div>
              <p class="name">这是租户名字</p>
              <i class="icon-arrow-right"></i>
            </button>
            <p class="text-deep-gray">已下架</p>
          </div>
          <div class="goods-list__item">
            <div class="thumb thumb-180"><img src="../images/farm_tu01.png"></div>
            <div class="content">
              <div class="content-text">
                <h3 class="name">鄂尔多斯农场a1096块地西红柿</h3>
                <div class="mark mb10">
                  <div class="mark-tips mark-tips__plain">租种</div>
                </div>
                <div class="desc">10平方</div>
              </div>
            </div>
            <div class="text-right">
              <div class="price"><span class="fz24">¥</span>108.<span class="fz24">00</span></div>
              <p class="fz22 text-deep-gray">x1</p>
            </div>
          </div>
          <div class="goods-list__ft">
            <div class="price-group">
              <p class="text-med-gray fz26">共1件商品 合计：</p>
              <p class="fz26">¥<span class="fz36">108</span>.00</p>
            </div>
            <div class="Grid -right">
              <button type="button"
                class="aiui-btn aiui-btn--plain aiui-btn--small aiui-btn--primary aiui-btn--pill">恢复上架</button>
            </div>
          </div>
        </div>
        <div class="goods-list goods-list--card">
          <div class="goods-list__status">
            <button class="user-enter user-enter--normal">
              <div class="avatar avatar-38">
                <img src="../images/avatar.png" alt="头像">
              </div>
              <p class="name">这是租户名字</p>
              <i class="icon-arrow-right"></i>
            </button>
            <p class="text-warn">已租种</p>
          </div>
          <div class="goods-list__item">
            <div class="thumb thumb-180"><img src="../images/farm_tu01.png"></div>
            <div class="content">
              <div class="content-text">
                <h3 class="name">鄂尔多斯农场a1096块地西红柿</h3>
                <div class="mark mb10">
                  <div class="mark-tips mark-tips__plain">租种</div>
                </div>
                <div class="desc">10平方</div>
              </div>
            </div>
            <div class="text-right">
              <div class="price"><span class="fz24">¥</span>108.<span class="fz24">00</span></div>
              <p class="fz22 text-deep-gray">x1</p>
            </div>
          </div>
          <div class="goods-list__ft">
            <div class="price-group">
              <p class="text-med-gray fz26">共1件商品 合计：</p>
              <p class="fz26">¥<span class="fz36">108</span>.00</p>
            </div>
            <div class="Grid -right">
              <button type="button"
                class="aiui-btn aiui-btn--plain aiui-btn--small aiui-btn--primary aiui-btn--pill">提交生长情况</button>
            </div>
          </div>
        </div>
        <div class="goods-list goods-list--card">
          <div class="goods-list__status">
            <button class="user-enter user-enter--disabled">
              <div class="avatar avatar-38">
                <img src="../images/avatar.png" alt="头像">
              </div>
              <p class="name">这是租户名字</p>
              <i class="icon-arrow-right"></i>
            </button>
            <p class="text-warn">待养殖</p>
          </div>
          <div class="goods-list__item">
            <div class="thumb thumb-180"><img src="../images/farm_tu01.png"></div>
            <div class="content">
              <div class="content-text">
                <h3 class="name">鄂尔多斯农场a1096块地西红柿</h3>
                <div class="mark mb10">
                  <div class="mark-tips mark-tips__plain">租种</div>
                </div>
                <div class="desc">10平方</div>
              </div>
            </div>
            <div class="text-right">
              <div class="price"><span class="fz24">¥</span>108.<span class="fz24">00</span></div>
              <p class="fz22 text-deep-gray">x1</p>
            </div>
          </div>
          <div class="goods-list__ft">
            <div class="price-group">
              <p class="text-med-gray fz26">共1件商品 合计：</p>
              <p class="fz26">¥<span class="fz36">108</span>.00</p>
            </div>
            <div class="Grid -right">
              <button type="button"
                class="aiui-btn aiui-btn--plain aiui-btn--small aiui-btn--default aiui-btn--pill">下架</button>
              <button type="button"
                class="aiui-btn aiui-btn--plain aiui-btn--small aiui-btn--primary aiui-btn--pill">编辑</button>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="aiui-tab__content">
      <div class="goods-group goods-group--primary">

        <div class="goods-list goods-list--card">
          <div class="goods-list__status">
            <button class="user-enter user-enter--normal">
              <div class="avatar avatar-38">
                <img src="../images/avatar.png" alt="头像">
              </div>
              <p class="name">这是租户名字</p>
              <i class="icon-arrow-right"></i>
            </button>
            <p class="text-warn">已租种</p>
          </div>
          <div class="goods-list__item">
            <div class="thumb thumb-180"><img src="../images/farm_tu01.png"></div>
            <div class="content">
              <div class="content-text">
                <h3 class="name">鄂尔多斯农场a1096块地西红柿</h3>
                <div class="mark mb10">
                  <div class="mark-tips mark-tips__plain">租种</div>
                </div>
                <div class="desc">10平方</div>
              </div>
            </div>
            <div class="text-right">
              <div class="price"><span class="fz24">¥</span>108.<span class="fz24">00</span></div>
              <p class="fz22 text-deep-gray">x1</p>
            </div>
          </div>
          <div class="goods-list__ft">
            <div class="price-group">
              <p class="text-med-gray fz26">共1件商品 合计：</p>
              <p class="fz26">¥<span class="fz36">108</span>.00</p>
            </div>
            <div class="Grid -right">
              <button type="button"
                class="aiui-btn aiui-btn--plain aiui-btn--small aiui-btn--primary aiui-btn--pill">提交生长情况</button>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="aiui-tab__content">
      <div class="goods-group goods-group--primary">
        <div class="goods-list goods-list--card">
          <div class="goods-list__status">
            <button class="user-enter user-enter--disabled">
              <div class="avatar avatar-38">
                <img src="../images/avatar.png" alt="头像">
              </div>
              <p class="name">这是租户名字</p>
              <i class="icon-arrow-right"></i>
            </button>
            <p class="text-warn">待养殖</p>
          </div>
          <div class="goods-list__item">
            <div class="thumb thumb-180"><img src="../images/farm_tu01.png"></div>
            <div class="content">
              <div class="content-text">
                <h3 class="name">鄂尔多斯农场a1096块地西红柿</h3>
                <div class="mark mb10">
                  <div class="mark-tips mark-tips__plain">租种</div>
                </div>
                <div class="desc">10平方</div>
              </div>
            </div>
            <div class="text-right">
              <div class="price"><span class="fz24">¥</span>108.<span class="fz24">00</span></div>
              <p class="fz22 text-deep-gray">x1</p>
            </div>
          </div>
          <div class="goods-list__ft">
            <div class="price-group">
              <p class="text-med-gray fz26">共1件商品 合计：</p>
              <p class="fz26">¥<span class="fz36">108</span>.00</p>
            </div>
            <div class="Grid -right">
              <button type="button"
                class="aiui-btn aiui-btn--plain aiui-btn--small aiui-btn--default aiui-btn--pill">下架</button>
              <button type="button"
                class="aiui-btn aiui-btn--plain aiui-btn--small aiui-btn--primary aiui-btn--pill">编辑</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="aiui-tab__content">
      <div class="goods-group goods-group--primary">
        <div class="goods-list goods-list--card">
          <div class="goods-list__status">
            <button class="user-enter user-enter--disabled">
              <div class="avatar avatar-38">
                <img src="../images/avatar.png" alt="头像">
              </div>
              <p class="name">这是租户名字</p>
              <i class="icon-arrow-right"></i>
            </button>
            <p class="text-deep-gray">已下架</p>
          </div>
          <div class="goods-list__item">
            <div class="thumb thumb-180"><img src="../images/farm_tu01.png"></div>
            <div class="content">
              <div class="content-text">
                <h3 class="name">鄂尔多斯农场a1096块地西红柿</h3>
                <div class="mark mb10">
                  <div class="mark-tips mark-tips__plain">租种</div>
                </div>
                <div class="desc">10平方</div>
              </div>
            </div>
            <div class="text-right">
              <div class="price"><span class="fz24">¥</span>108.<span class="fz24">00</span></div>
              <p class="fz22 text-deep-gray">x1</p>
            </div>
          </div>
          <div class="goods-list__ft">
            <div class="price-group">
              <p class="text-med-gray fz26">共1件商品 合计：</p>
              <p class="fz26">¥<span class="fz36">108</span>.00</p>
            </div>
            <div class="Grid -right">
              <button type="button"
                class="aiui-btn aiui-btn--plain aiui-btn--small aiui-btn--primary aiui-btn--pill">恢复上架</button>
            </div>
          </div>
        </div>

      </div>
    </div>


  </div>

</div>

<div class="aiui-footbtn-wrap">
  <div class="aiui-footbtn">
    <button type="button" onclick="window.location.href=('05.02.04-我的地块-新增地块.html')"
      class="aiui-btn aiui-btn--block aiui-btn--large aiui-btn--primary aiui-btn--pill">新增地块</button>
  </div>
</div>

{% endblock %}
{% block footer %}
<script src="../libs/sticky.js"></script>
<script>
  $(function () {
    $(".header-sticky-hook").sticky({ topSpacing: 0 });
    //tab
    aiui.tab('#tab', {
      defaultIndex: 0,
      onChange: function (index) {
        console.log(index);
      }
    });

    //搜索
    aiui.searchBar('#searchBar');
  });
</script>
{% endblock %}