{% extends 'app.nunjucks' %}
{% block title %}设置{% endblock %}
{% block content %}
<!--头部导航 start-->
<div class="aiui-navbar-wrap">
  <div class="aiui-navbar aiui-navbar--default aiui-navbar--fixed">
    <div class="aiui-navbar__item">
      <a href="javascript:history.back();" class="icon-return"></a>
    </div>
    <h3 class="aiui-navbar__title">设置</h3>
  </div>
</div>
<!--头部导航 end-->
<!--内容区域 start-->
<div class="aiui-cells aiui-cells__set">
  <div class="aiui-cell">
    <div class="aiui-cell__hd">
      <div class="avatar avatar-100"><img src="../images/avatar.png" /></div>
    </div>
    <div class="aiui-cell__bd">
      <h4 class="title">豆豆的农场</h4>
      <p class="txt">13834562222</p>
    </div>
    <div class="aiui-cell__ft">
      <a href="05.08.02-设置-编辑.html"
        class="aiui-btn aiui-btn__plain aiui-btn__tiny aiui-btn__primary aiui-btn__pill">编辑</a>
    </div>
  </div>
</div>
<div class="aiui-cells mt20">
  <a href="javascript:;" class="aiui-cell">
    <div class="aiui-cell__bd">
      <span class="text-med__gray">新消息通知</span>
    </div>
    <div class="aiui-cell__ft">
      <i class="icon-arrow-right"></i>
    </div>
  </a>
  <a href="javascript:;" class="aiui-cell">
    <div class="aiui-cell__bd">
      <span class="text-med__gray">帮助与反馈</span>
    </div>
    <div class="aiui-cell__ft">
      <i class="icon-arrow-right"></i>
    </div>
  </a>
  <a href="javascript:;" class="aiui-cell">
    <div class="aiui-cell__bd">
      <span class="text-med__gray">清理缓存</span>
    </div>
    <div class="aiui-cell__ft">
      <i class="icon-arrow-right"></i>
    </div>
  </a>
</div>
<div class="aiui-footbtn__wrap">
  <div class="aiui-footbtn">
    <button type="button"
      class="aiui-btn aiui-btn__block aiui-btn__large aiui-btn__primary aiui-btn__pill">退出登录</button>
  </div>
</div>
<!--内容区域 end-->
{% endblock %}