{% extends 'app.nunjucks' %}
{% block title %}蔬游-提交蔬菜生长情况{% endblock %}
{% block content %}
<!--头部导航 start-->
<div class="aiui-navbar aiui-navbar__default">
    <div class="aiui-navbar__item">
        <a href="javascript:history.back();" class="icon-return">
        </a>
    </div>
    <h3 class="aiui-navbar__title">提交蔬菜生长情况</h3>
</div>
<!--头部导航 start-->
<!--content start-->
<div class="aiui-cells">
    <div class="aiui-cells__title">生长情况</div>
</div>

<div class="aiui-cells aiui-cells_form edit-address__cells paintgrow-form">
    
    <div class="aiui-cell aiui-cell_switch ">
        <div class="aiui-cell__bd ">是否需要施肥</div>
        <div class="aiui-cell__ft">
            <input class="aiui-switch" type="checkbox" checked="checked">
        </div>
    </div>
    <div class="aiui-cell aiui-cell_switch ">
        <div class="aiui-cell__bd">是否需要松土</div>
        <div class="aiui-cell__ft">
            <input class="aiui-switch" type="checkbox" checked="checked">
        </div>
    </div>
    <div class="aiui-cell aiui-cell_switch">
        <div class="aiui-cell__bd">是否需要除虫</div>
        <div class="aiui-cell__ft">
            <input class="aiui-switch" type="checkbox">
        </div>
    </div>
</div>
<div class="aiui-cells aiui-cells_form  aiui-cells__gap" id="uploader" data-size="false">
        <div class="aiui-cell">
          <div class="aiui-cell__bd">
            <div class="aiui-uploader" >
              <div class="aiui-uploader__hd">
                <p class="aiui-uploader__title">生长照片，请上传图片</p>
              </div>
              <div class="aiui-uploader__bd">
                <ul class="aiui-uploader__files" id="uploaderFiles">
                </ul>
                <div class="aiui-uploader__input-box">
                  <input id="uploaderInput" class="aiui-uploader__input" type="file" accept="image/*" multiple/>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
<!--content end-->
<div class="aiui-footbtn__wrap">
    <div class="aiui-footbtn">
        <button type="button" class="aiui-btn aiui-btn__block aiui-btn__large aiui-btn__primary aiui-btn__pill">提交</button>
    </div>
</div>
{% endblock %}
{% block footer %}
<script src="../js/uploader.js"></script>
{% endblock %}