{% extends 'app.nunjucks' %}
{% block title %}我的店员{% endblock %}
{% block content %}
<!--头部导航 start-->
<div class="aiui-navbar aiui-navbar--default">
  <div class="aiui-navbar__item">
    <a href="javascript:history.back();" class="icon-return"></a>
  </div>
  <h3 class="aiui-navbar__title">我的店员</h3>
</div>
<!--头部导航 end-->
<!-- 搜索和筛选 start -->
<div class="aiui-search-bar" id="searchBar">
  <form class="aiui-search-bar__form" action="#">
    <div class="aiui-search-bar__box">
      <i class="icon-search"></i>
      <input type="search" class="aiui-search-bar__input" autocomplete="off" placeholder="请输入关键字搜索" />
      <button type="button" class="aiui-search-bar__clear-btn icon-close-fill"></button>
    </div>
  </form>
  <button class="aiui-search-bar__cancel-btn">取消</button>
</div>
<!-- 搜索和筛选 end -->
<!-- 店员列表 start -->
<div class="clerk">
  <ul class="clerk-list">
    <li class="clerk-list__item">
      <div class="avatar avatar-100">
        <img src="../images/avatar.png" alt="头像">
      </div>
      <div class="content">
        <p class="name">王小二</p>
        <div class="phone"><i class="icon-telephone-outline"></i>13634567676</div>
      </div>
    </li>
    <li class="clerk-list__item">
      <div class="avatar avatar-100">
        <img src="../images/default_avatar.png" alt="头像">
      </div>
      <div class="content">
        <p class="name">村里一枝花</p>
        <div class="phone"><i class="icon-telephone-outline"></i>13634567676</div>
      </div>
    </li>
    <li class="clerk-list__item">
      <div class="avatar avatar-100">
        <img src="../images/avatar.png" alt="头像">
      </div>
      <div class="content">
        <p class="name">王小二</p>
        <div class="phone"><i class="icon-telephone-outline"></i>13634567676</div>
      </div>
    </li>
    <li class="clerk-list__item">
      <div class="avatar avatar-100">
        <img src="../images/default_avatar.png" alt="头像">
      </div>
      <div class="content">
        <p class="name">村里一枝花</p>
        <div class="phone"><i class="icon-telephone-outline"></i>13634567676</div>
      </div>
    </li>
    <li class="clerk-list__item">
      <div class="avatar avatar-100">
        <img src="../images/avatar.png" alt="头像">
      </div>
      <div class="content">
        <p class="name">王小二</p>
        <div class="phone"><i class="icon-telephone-outline"></i>13634567676</div>
      </div>
    </li>
    <li class="clerk-list__item">
      <div class="avatar avatar-100">
        <img src="../images/default_avatar.png" alt="头像">
      </div>
      <div class="content">
        <p class="name">村里一枝花</p>
        <div class="phone"><i class="icon-telephone-outline"></i>13634567676</div>
      </div>
    </li>
    <li class="clerk-list__item">
      <div class="avatar avatar-100">
        <img src="../images/avatar.png" alt="头像">
      </div>
      <div class="content">
        <p class="name">王小二</p>
        <div class="phone"><i class="icon-telephone-outline"></i>13634567676</div>
      </div>
    </li>
    <li class="clerk-list__item">
      <div class="avatar avatar-100">
        <img src="../images/default_avatar.png" alt="头像">
      </div>
      <div class="content">
        <p class="name">村里一枝花</p>
        <div class="phone"><i class="icon-telephone-outline"></i>13634567676</div>
      </div>
    </li>
    <li class="clerk-list__item">
      <div class="avatar avatar-100">
        <img src="../images/avatar.png" alt="头像">
      </div>
      <div class="content">
        <p class="name">王小二</p>
        <div class="phone"><i class="icon-telephone-outline"></i>13634567676</div>
      </div>
    </li>
    <li class="clerk-list__item">
      <div class="avatar avatar-100">
        <img src="../images/default_avatar.png" alt="头像">
      </div>
      <div class="content">
        <p class="name">村里一枝花</p>
        <div class="phone"><i class="icon-telephone-outline"></i>13634567676</div>
      </div>
    </li>
    <li class="clerk-list__item">
      <div class="avatar avatar-100">
        <img src="../images/avatar.png" alt="头像">
      </div>
      <div class="content">
        <p class="name">王小二</p>
        <div class="phone"><i class="icon-telephone-outline"></i>13634567676</div>
      </div>
    </li>
    <li class="clerk-list__item">
      <div class="avatar avatar-100">
        <img src="../images/default_avatar.png" alt="头像">
      </div>
      <div class="content">
        <p class="name">村里一枝花</p>
        <div class="phone"><i class="icon-telephone-outline"></i>13634567676</div>
      </div>
    </li>
    <li class="clerk-list__item">
      <div class="avatar avatar-100">
        <img src="../images/avatar.png" alt="头像">
      </div>
      <div class="content">
        <p class="name">王小二</p>
        <div class="phone"><i class="icon-telephone-outline"></i>13634567676</div>
      </div>
    </li>
    <li class="clerk-list__item">
      <div class="avatar avatar-100">
        <img src="../images/default_avatar.png" alt="头像">
      </div>
      <div class="content">
        <p class="name">村里一枝花</p>
        <div class="phone"><i class="icon-telephone-outline"></i>13634567676</div>
      </div>
    </li>
    <li class="clerk-list__item">
      <div class="avatar avatar-100">
        <img src="../images/avatar.png" alt="头像">
      </div>
      <div class="content">
        <p class="name">王小二</p>
        <div class="phone"><i class="icon-telephone-outline"></i>13634567676</div>
      </div>
    </li>
    <li class="clerk-list__item">
      <div class="avatar avatar-100">
        <img src="../images/default_avatar.png" alt="头像">
      </div>
      <div class="content">
        <p class="name">村里一枝花</p>
        <div class="phone"><i class="icon-telephone-outline"></i>13634567676</div>
      </div>
    </li>
    <li class="clerk-list__item">
      <div class="avatar avatar-100">
        <img src="../images/avatar.png" alt="头像">
      </div>
      <div class="content">
        <p class="name">王小二</p>
        <div class="phone"><i class="icon-telephone-outline"></i>13634567676</div>
      </div>
    </li>
    <li class="clerk-list__item">
      <div class="avatar avatar-100">
        <img src="../images/default_avatar.png" alt="头像">
      </div>
      <div class="content">
        <p class="name">村里一枝花</p>
        <div class="phone"><i class="icon-telephone-outline"></i>13634567676</div>
      </div>
    </li>
  </ul>
</div>
<!-- 店员列表 end -->

<div class="aiui-footbtn__wrap">
  <div class="aiui-footbtn aiui-footbtn__default">
    <button type="button"
      class="aiui-btn aiui-btn__block aiui-btn__large aiui-btn__primary aiui-btn__pill">添加店员</button>
  </div>
</div>


{% endblock %}
{% block footer %}
<script>
  $(function () {
    //搜索
    aiui.searchBar('#searchBar');
  });
</script>
{% endblock %}