{% extends 'app.nunjucks' %}
{% block title %}蔬游-我的订单{% endblock %}
{% block content %}
<div class="headbar-sticky-hook">
    <!--头部导航 start-->
    <div class="aiui-headbar aiui-headbar__default">
        <div class="aiui-headbar__item">
            <a href="javascript:history.back();" class="icon-return">
            </a>
        </div>
        <h3 class="aiui-headbar__title">我的订单</h3>
    </div>

<!--头部导航 start-->
<div class="order-tab" id="tabOrder">
    <div class="order-tabbar">
        <a href="javascript:;" name="landOrder" class="order-tabbar__item order-bar__item_on">
            租地订单<span class="aiui-bar-badge">12</span>
        </a>
        <a href="javascript:;" name="deliveryOrder" class="order-tabbar__item">
            配送订单<span class="aiui-bar-badge">8</span>
        </a>
    </div>
</div>
    <!--搜索区域 start-->
    <div class="aiui-search-bar aiui-search-bar_focusing aiui-search-bar_gap" id="searchBar">
        <div class="arrow-select " id="selectMouthBtn">
            <span class="arrow-select__value">本月</span>
            <i class="arrow"></i>
        </div>
        <form class="aiui-search-bar__form">

            <div class="aiui-search-bar__box">
                <i class="icon-search"></i>
                <input type="search" class="aiui-search-bar__input" id="searchInput" autocomplete="off"
                    placeholder="请输入关键词搜索" required="">
                <a href="javascript:" class="icon-close-fill" id="searchClear"></a>
            </div>
        </form>
        <button type="button"
            class="aiui-btn aiui-btn__medium aiui-btn__primary  aiui-btn__pill button-thumb">搜索</button>
    </div>
</div>
    <!--搜索区域 end-->
    <div class="order-tab__panel">
        <div class="order-tab__content" id="landOrder">
            <!-- 租地订单 start -->
            <div class="shop-list">
                <div class="shop-list-status">
                    <p>2019-07-23 17:43</p>
                </div>
                <div class="goods-list__item">
                    <div class="thumb"><img src="../images/farm_tu01.png"></div>
                    <div class="bd">
                        <h3>鄂尔多斯农场a1096地块西红柿需浇水一次</h3>
                        <p class="text-deep__gray">租地人：<span>钱多多</span></p>
                        <p class="text-deep__gray">联系号码：<span>13823456666</span></p>
                    </div>
                </div>
            </div>
            <div class="shop-list">
                    <div class="shop-list-status">
                        <p>2019-07-23 17:43</p>
                    </div>
                    <div class="goods-list__item">
                        <div class="thumb"><img src="../images/farm_tu01.png"></div>
                        <div class="bd">
                            <h3>鄂尔多斯农场a1096地块西红柿需浇水一次</h3>
                            <p class="text-deep__gray">租地人：<span>钱多多</span></p>
                            <p class="text-deep__gray">联系号码：<span>13823456666</span></p>
                        </div>
                    </div>
                </div>
                <div class="shop-list">
                        <div class="shop-list-status">
                            <p>2019-07-23 17:43</p>
                        </div>
                        <div class="goods-list__item">
                            <div class="thumb"><img src="../images/farm_tu01.png"></div>
                            <div class="bd">
                                <h3>鄂尔多斯农场a1096地块西红柿需浇水一次</h3>
                                <p class="text-deep__gray">租地人：<span>钱多多</span></p>
                                <p class="text-deep__gray">联系号码：<span>13823456666</span></p>
                            </div>
                        </div>
                    </div>
            <!-- 租地订单 end -->
        </div>
        <div class="order-tab__content hide" id="deliveryOrder">
            <!-- 配送订单  start -->
            <!--内容区域 start-->
            <div class="aiui-tab" id="tab">
                <div class="aiui-tabbar">
                    <a href="javascript:;" class="aiui-tabbar__item aiui-bar__item_on">
                        全部(<span class="aiui-bar-badge">12</span>)
                    </a>
                    <a href="javascript:;" class="aiui-tabbar__item">
                        待完成(<span class="aiui-bar-badge">8</span>)
                    </a>
                    <a href="javascript:;" class="aiui-tabbar__item">
                        待验收(<span class="aiui-bar-badge">4</span>)
                    </a>
                    <a href="javascript:;" class="aiui-tabbar__item">
                        已完成(<span class="aiui-bar-badge">0</span>)
                    </a>
                </div>
                <div class="aiui-tab__panel">
                    <div class="aiui-tab__content">
                        <div class="shop-list">
                            <div class="shop-list-status">
                                <p>2019-07-23 17:43</p>
                                <p class="text-primary">待配送</p>
                            </div>
                            <div class="goods-list__item">
                                <div class="thumb"><img src="../images/farm_tu01.png"></div>
                                <div class="bd">
                                    <h3>鄂尔多斯农场a1096地块西红柿需浇水一次</h3>
                                </div>
                            </div>
                            <div class="ft">
                                <button type="button" onclick="window.location.href='05.12-填写物流.html'"
                                    class="aiui-btn aiui-btn__plain aiui-btn__small aiui-btn__primary aiui-btn__pill">填写物流</button>
                            </div>
                        </div>
                        <div class="shop-list">
                            <div class="shop-list-status">
                                <p>2019-07-23 17:43</p>
                                <p class="text-primary">待收货</p>
                            </div>
                            <div class="goods-list__item">
                                <div class="thumb"><img src="../images/farm_tu01.png"></div>
                                <div class="bd">
                                    <h3>鄂尔多斯农场a1096地块西红柿施肥一次</h3>
                                </div>
                            </div>
                            <div class="ft">
                                <button type="button"
                                    class="aiui-btn aiui-btn__plain aiui-btn__small aiui-btn__default aiui-btn__pill btnCheck">提醒收货</button>
                            </div>
                        </div>
                        <div class="shop-list">
                            <div class="shop-list-status">
                                <p>2019-07-23 17:43</p>
                                <p class="text-deep__gray">已完成</p>
                            </div>
                            <div class="goods-list__item">
                                <div class="thumb"><img src="../images/farm_tu01.png"></div>
                                <div class="bd">
                                    <h3>鄂尔多斯农场a1096地块西红柿施肥一次</h3>
                                </div>
                            </div>
                            <div class="ft">
                                <button type="button" onclick="window.location.href='05.14-订单详情.html'"
                                    class="aiui-btn aiui-btn__plain aiui-btn__small aiui-btn__default aiui-btn__pill ">查看详情</button>
                            </div>
                        </div>
                    </div>
                    <div class="aiui-tab__content">
                        <div class="shop-list">
                            <div class="shop-list-status">
                                <p>2019-07-23 17:43</p>
                                <p class="text-primary">待完成</p>
                            </div>
                            <div class="goods-list__item">
                                <div class="thumb"><img src="../images/farm_tu01.png"></div>
                                <div class="bd">
                                    <h3>鄂尔多斯农场a1096地块西红柿需浇水一次</h3>
                                </div>
                            </div>
                            <div class="ft">
                                <button type="button" onclick="window.location.href='05.02-提交生长情况.html'"
                                    class="aiui-btn aiui-btn__plain aiui-btn__small aiui-btn__primary aiui-btn__pill">填写物流</button>
                            </div>
                        </div>
                    </div>
                    <div class="aiui-tab__content">
                        <div class="shop-list">
                            <div class="shop-list-status">
                                <p>2019-07-23 17:43</p>
                                <p class="text-primary">待验收</p>
                            </div>
                            <div class="goods-list__item">
                                <div class="thumb"><img src="../images/farm_tu01.png"></div>
                                <div class="bd">
                                    <h3>鄂尔多斯农场a1096地块西红柿施肥一次</h3>
                                </div>
                            </div>
                            <div class="ft">
                                <button type="button"
                                    class="aiui-btn aiui-btn__plain aiui-btn__small aiui-btn__default aiui-btn__pill btnCheck">提醒验收</button>
                            </div>
                        </div>
                    </div>
                    <div class="aiui-tab__content">
                    </div>
                </div>
            </div>
            <!--内容区域 end-->
            <!-- 配送订单  end -->
        </div>
    </div>
    {% endblock %}
    {% block footer %}
    <script src="../libs/sticky.js"></script>
    <script type="text/javascript">
        $(function () {
            $(".headbar-sticky-hook").sticky({ topSpacing: 0 });
            //tab
            $('#tabOrder .order-tabbar a' ).click(function(){
                $(this).addClass('order-bar__item_on').siblings().removeClass('order-bar__item_on');
                var _id=$(this).attr('name');
                $('#'+_id).show().siblings().hide();
            })
            aiui.tab('#tab', {
                defaultIndex: 0,
                onChange: function (index) {
                    console.log(index);
                }
            });
            
            // 选择月份
            $("#selectMouthBtn").bind("click", function () {
                var $this = $(this);
                aiui.picker([
                    {
                        label: '近3个月',
                        value: 0
                    },
                    {
                        label: '本月',
                        value: 1
                    },
                    {
                        label: '19年6月',
                        value: 3
                    },
                    {
                        label: '19年5月',
                        value: 4,
                    }
                ], {
                        title: '请选择月份',
                        defaultValue: [1],
                        onChange: function (result) {
                            console.log(result)
                        },
                        onConfirm: function (result) {
                            console.log(result)
                            $this.find(".arrow-select__value").html(result[0].label);
                        },
                        id: 'selectMouthPicker'
                    });
            });
            //搜索
            var $searchBar = $('#searchBar'),
                $searchInput = $('#searchInput'),
                $searchClear = $('#searchClear')
            $searchClear.on('click', function () {
                $searchInput.val('');
                $searchInput.focus();
            });
            // 验收
            $('.aiui-tab__content').on('click', '.btnCheck', function () {
                aiui.toast('提醒成功', 3000);
            })
        });
    </script>
    {% endblock %}