{% extends 'app.nunjucks' %}
{% block title %}查看生命周期{% endblock %}
{% block content %}
<!--头部导航 start-->
<div class="headbar-sticky">
  <div class="aiui-navbar aiui-navbar--transparent aiui-navbar--fixed">
    <div class="aiui-navbar__item">
      <a href="javascript:history.back();" class="icon-return">
      </a>
    </div>
    <h3 class="aiui-navbar__title">养殖详情</h3>
  </div>
</div>
<!--头部导航 start-->

<!-- 生命周期详情 start -->
<div class="lifecycle-introduce">
  <button class="user-enter user-enter--white">
    <div class="avatar avatar-38">
      <img src="../images/farm_tu02.png" alt="农场">
    </div>
    <p class="name">这是农场名字</p>
    <i class="icon-arrow-right"></i>
  </button>
  <div class="content">
    <div class="text">您租种的a001号地块西红柿已经结果，预计2019年9月30日可采摘第一批。</div>
    <div class="img-preview">
      <img src="../images/tomato-tree-mature.png" alt="西红柿树" class="tree">
      <img src="../images/land-terrestrial.png" alt="土地" class="land">
    </div>
    <button class="icon-qr-code" id="showQrcodeDialogBtn"></button>
    <button class="tips-btn" id="showTipsDialogBtn">租种</button>
  </div>
  <!-- 步骤条 start -->
  <ul class="aiui-steps">
    <li class="aiui-steps__item active">
      <div class="icons">
        <i class="icon-checkbox-on"></i>
      </div>
      <p class="desc">播种</p>
    </li>
    <li class="aiui-steps__item active">
      <div class="icons">
        <i class="icon-checkbox-on"></i>
      </div>
      <p class="desc">开花</p>
    </li>
    <li class="aiui-steps__item active">
      <div class="icons">
        <i class="icon-checkbox-on"></i>
      </div>
      <p class="desc">结果</p>
    </li>
    <li class="aiui-steps__item">
      <div class="icons">
        <i class="icon-checkbox-on"></i>
      </div>
      <p class="desc">采摘</p>
    </li>
    <li class="aiui-steps__item">
      <div class="icons">
        <i class="icon-checkbox-on"></i>
      </div>
      <p class="desc">配送</p>
    </li>
    <li class="aiui-steps__item">
      <div class="icons">
        <i class="icon-checkbox-on"></i>
      </div>
      <p class="desc">收货</p>
    </li>
    <li class="aiui-steps__item">
      <div class="icons">
        <i class="icon-checkbox-on"></i>
      </div>
      <p class="desc">评价</p>
    </li>
  </ul>
  <!-- 步骤条 end -->
</div>
<!-- 生命周期详情 end -->

<!-- 生命周期时间轴 start -->
<ul class="aiui-timeline">
  <li class="aiui-timeline__item">
    <div class="timeline-bar">
      <i class="icon-clock"></i>
    </div>
    <div class="timeline-content">
      <p class="toggle-panel__desc">待采摘</p>
      <div class="toggle-panel open">
        <div class="toggle-panel__handle -primary">
          <h3 class="title">预计2019年9月30日可采摘第一批</h3>
          <div class="toggle-arrow"></div>
        </div>
        <div class="toggle-panel__content">
          <ul class="record-list">
            <li class="record-list__item">
              <div class="header">
                <div class="material-icon">
                  <img src="../images/icon-jiaoshui.png" alt="浇水">
                </div>
                <p class="tips-text">2019-08-12 12:30 成功浇水</p>
              </div>
              <div class="desc-text">西红柿成长状况良好，预计2019年9月30日可采摘第一批。</div>
              <div class="aiui-photo__thumb lifecycle-photo__thumb">
                <ul class="thumb-list">
                  <li><img src="../images/preview.png" /></li>
                  <li><img src="../images/farm_header_bg02.png" /></li>
                  <li><img src="../images/farm_tu01.png" /></li>
                  <li><img src="../images/area_bg.png" /></li>
                </ul>
              </div>
              <div class="link-btn__wrap">
                <a href="javascript:;" class="aiui-btn aiui-btn--medium aiui-btn--primary aiui-btn--pill">查看实景</a>
              </div>
            </li>
            <li class="record-list__item">
              <div class="header">
                <div class="material-icon">
                  <img src="../images/icon-shifei.png" alt="施肥">
                </div>
                <p class="tips-text">2019-08-12 12:30 成功施肥</p>
              </div>
              <div class="desc-text">西红柿成长状况良好。</div>
              <div class="aiui-photo__thumb lifecycle-photo__thumb">
                <ul class="thumb-list">
                  <li><img src="../images/preview.png" /></li>
                </ul>
              </div>
            </li>
            <li class="record-list__item">
              <div class="header">
                <div class="material-icon">
                  <img src="../images/icon-chucao.png" alt="除草">
                </div>
                <p class="tips-text">2019-08-12 12:30 成功除草</p>
              </div>
              <div class="desc-text">西红柿成长状况良好。</div>
              <div class="aiui-photo__thumb lifecycle-photo__thumb">
                <ul class="thumb-list">
                  <li><img src="../images/preview.png" /></li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </li>
  <li class="aiui-timeline__item">
    <div class="timeline-bar">
      <i class="icon-checkbox-on"></i>
    </div>
    <div class="timeline-content">
      <p class="toggle-panel__desc">结果</p>
      <div class="toggle-panel">
        <div class="toggle-panel__handle -gray">
          <h3 class="title">2019年9月1日已结果</h3>
          <div class="toggle-arrow"></div>
        </div>
        <div class="toggle-panel__content">
          <ul class="record-list">
            <li class="record-list__item">
              <div class="header">
                <div class="material-icon">
                  <img src="../images/icon-chuchong.png" alt="捉虫"">
                </div>
                <p class=" tips-text">2019-08-12 12:30 成功捉虫</p>
                </div>
                <div class="desc-text">西红柿成长状况良好，顺利结果。</div>
                <div class="aiui-photo__thumb lifecycle-photo__thumb">
                  <ul class="thumb-list">
                    <li><img src="../images/preview.png" /></li>
                  </ul>
                </div>
            </li>
            <li class="record-list__item">
              <div class="header">
                <div class="material-icon">
                  <img src="../images/icon-chucao.png" alt="除草">
                </div>
                <p class="tips-text">2019-08-12 12:30 成功除草</p>
              </div>
              <div class="desc-text">西红柿成长状况良好。</div>
              <div class="aiui-photo__thumb lifecycle-photo__thumb">
                <ul class="thumb-list">
                  <li><img src="../images/preview.png" /></li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </li>
  <li class="aiui-timeline__item">
    <div class="timeline-bar">
      <i class="icon-checkbox-on"></i>
    </div>
    <div class="timeline-content">
      <p class="toggle-panel__desc">开花</p>
      <div class="toggle-panel">
        <div class="toggle-panel__handle -gray">
          <h3 class="title">2019年8月20日已开花</h3>
          <div class="toggle-arrow"></div>
        </div>
        <div class="toggle-panel__content">
          <ul class="record-list">
            <li class="record-list__item">
              <div class="header">
                <div class="material-icon">
                  <img src="../images/icon-chuchong.png" alt="捉虫"">
                </div>
                <p class=" tips-text">2019-08-12 12:30 成功捉虫</p>
                </div>
                <div class="desc-text">西红柿成长状况良好，顺利结果。</div>
                <div class="aiui-photo__thumb lifecycle-photo__thumb">
                  <ul class="thumb-list">
                    <li><img src="../images/preview.png" /></li>
                  </ul>
                </div>
            </li>
            <li class="record-list__item">
              <div class="header">
                <div class="material-icon">
                  <img src="../images/icon-chucao.png" alt="除草">
                </div>
                <p class="tips-text">2019-08-12 12:30 成功除草</p>
              </div>
              <div class="desc-text">西红柿成长状况良好。</div>
              <div class="aiui-photo__thumb lifecycle-photo__thumb">
                <ul class="thumb-list">
                  <li><img src="../images/preview.png" /></li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </li>
  <li class="aiui-timeline__item">
    <div class="timeline-bar">
      <i class="icon-checkbox-on"></i>
    </div>
    <div class="timeline-content">
      <p class="toggle-panel__desc">播种</p>
      <div class="toggle-panel">
        <div class="toggle-panel__handle -gray">
          <h3 class="title">2019年8月1日已播种</h3>
          <div class="toggle-arrow"></div>
        </div>
        <div class="toggle-panel__content">
          <ul class="record-list">
            <li class="record-list__item">
              <div class="header">
                <div class="material-icon">
                  <img src="../images/icon-chuchong.png" alt="捉虫"">
                </div>
                <p class=" tips-text">2019-08-12 12:30 成功捉虫</p>
                </div>
                <div class="desc-text">西红柿成长状况良好，顺利结果。</div>
                <div class="aiui-photo__thumb lifecycle-photo__thumb">
                  <ul class="thumb-list">
                    <li><img src="../images/preview.png" /></li>
                  </ul>
                </div>
            </li>
            <li class="record-list__item">
              <div class="header">
                <div class="material-icon">
                  <img src="../images/icon-chucao.png" alt="除草">
                </div>
                <p class="tips-text">2019-08-12 12:30 成功除草</p>
              </div>
              <div class="desc-text">西红柿成长状况良好。</div>
              <div class="aiui-photo__thumb lifecycle-photo__thumb">
                <ul class="thumb-list">
                  <li><img src="../images/preview.png" /></li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </li>
</ul>
<!-- 生命周期时间轴 end -->

<div class="lifecycle-statistics open">
  <div class="lifecycle-statistics__handle">
    <h3 class="fz30">养殖统计</h3>
    <div class="toggle-arrow"></div>
  </div>
  <ul class="lifecycle-statistics__list">
    <li>
      <div class="material-icon">
        <img src="../images/icon-chucao.png" alt="除草">
      </div>
      <div class="bd">浇水</div>
      <div class="ft"><span>35</span>次</div>
    </li>
    <li>
      <div class="material-icon">
        <img src="../images/icon-shifei.png" alt="施肥">
      </div>
      <div class="bd">施肥</div>
      <div class="ft"><span>20</span>次</div>
    </li>
    <li>
      <div class="material-icon">
        <img src="../images/icon-chucao.png" alt="除草">
      </div>
      <div class="bd">除草</div>
      <div class="ft"><span>12</span>次</div>
    </li>
    <li>
      <div class="material-icon">
        <img src="../images/icon-chuchong.png" alt="除虫">
      </div>
      <div class="bd">除虫</div>
      <div class="ft"><span>12</span>次</div>
    </li>
    <li>
      <div class="material-icon">
        <img src="../images/icon-songtu.png" alt="松土">
      </div>
      <div class="bd">松土</div>
      <div class="ft"><span>3</span>次</div>
    </li>
    <li>
      <div class="material-icon">
        <img src="../images/icon-caizhai.png" alt="采摘">
      </div>
      <div class="bd">采摘</div>
      <div class="ft"><span>1</span>次</div>
    </li>
  </ul>
</div>

<!--图片预览区域 start-->
<div class="aiui-photo__preview">
  <div class="swiper-container">
    <div class="swiper-wrapper">
    </div>
    <div class="swiper-pagination"></div>
  </div>
</div>
<!--图片预览区域 end-->

<!-- 二维码弹窗 start-->
<div class="aiui-dialog__wrap" id="qrcodeDialog">
  <div class="aiui-mask"></div>
  <div class="aiui-dialog__custom">
    <div class="qrcode-img"><img src="../images/qrcode-img.png" alt="微厅二维码"></div>
  </div>
</div>
<!-- 二维码弹窗 end -->

{% endblock %}

{% block footer %}
<script>
  $(function () {
    // 查看相册
    var mySwiper = new Swiper(".swiper-container", {
      loop: false,
      pagination: {
        el: ".swiper-pagination",
        type: "fraction"
      },
      observer: true,
      observeParents: true
    });
    $(".aiui-photo__thumb").on("click", ".thumb-list img", function () {
      var imgBox = $(this)
        .parents(".thumb-list")
        .find("img");
      var i = $(imgBox).index(this);
      $(".aiui-photo__preview .swiper-wrapper").html("");
      for (var a = 0, b = imgBox.length; a < b; a++) {
        $(".aiui-photo__preview .swiper-wrapper").append('<div class="swiper-slide"><div class="item-list"><img src="' + imgBox.eq(a).attr("src") + '" / ></div></div>');
      }
      $(".aiui-photo__preview").css({
        "z-index": 1000,
        opacity: "1"
      });
      mySwiper.slideTo(i, 0, false);
      return false;
    });
    $(".aiui-photo__preview").on("click", function () {
      $(this).css({
        "z-index": "-1",
        opacity: "0"
      });
    });
    //头部导航固定
    $(".headbar-sticky").sticky({ topSpacing: 0 });
    var $Dialog1 = $('#qrcodeDialog')
    // 关闭弹窗操作
    $(document).on('click', '.aiui-mask,.qrcode-img', function () {
      $(this)
        .parents('.aiui-dialog__wrap')
        .fadeOut(200);
    });
    // 打开弹窗操作
    $('#showQrcodeDialogBtn').on('click', function () {
      $Dialog1.fadeIn(200);
    });
    // 面板切换
    $(".toggle-panel__handle").bind("click", function (e) {
      $(this).parent(".toggle-panel").toggleClass("open");
    });
    $(".lifecycle-statistics__handle").bind("click", function (e) {
      $(this).parent(".lifecycle-statistics").toggleClass("open");
    });
    // 租种说明弹窗
    $("#showTipsDialogBtn").bind("click", function () {
      var descText = "说明文案描述，不限字数，超过固定高度往下滑。"
      aiui.alert(descText, {
        title: '租种说明',
        buttons: [{
          label: '好的',
          type: 'primary',
          // 回调事件
          onClick: function () { console.log('好的') }
        }]
      });
    });
  });
</script>
{% endblock %}