{% extends 'app.nunjucks' %}
{% block title %}店铺详情-商家{% endblock %}
{% block content %}
<div class="aiui-photo__thumb farmscene-photo__thumb">
  <ul class="thumb-list">
    <li><img src="../images/preview.png" /></li>
    <li><img src="../images/farm_header_bg02.png" /></li>
    <li><img src="../images/farm_tu01.png" /></li>
    <li><img src="../images/area_bg.png" /></li>
    <li><img src="../images/preview.png" /></li>
    <li><img src="../images/farm_header_bg02.png" /></li>
    <li><img src="../images/farm_tu01.png" /></li>
    <li><img src="../images/area_bg.png" /></li>
  </ul>
  <div class="thumb-mask">+8</div>
</div>

<!--图片预览区域 start-->
<div class="aiui-photo__preview">
  <div class="swiper-container">
    <div class="swiper-wrapper">
    </div>
    <div class="swiper-pagination"></div>
  </div>
</div>
<!--图片预览区域 end-->


{% endblock %}

{% block footer %}
<script>
  $(function () {
    // 查看相册
    var mySwiper = new Swiper(".swiper-container", {
      loop: false,
      pagination: {
        el: ".swiper-pagination",
        type: "fraction"
      },
      observer: true,
      observeParents: true
    });
    $(".aiui-photo__thumb").on("click", ".thumb-list img", function () {
      var imgBox = $(this)
        .parents(".thumb-list")
        .find("img");
      var i = $(imgBox).index(this);
      $(".aiui-photo__preview .swiper-wrapper").html("");
      for (var a = 0, b = imgBox.length; a < b; a++) {
        $(".aiui-photo__preview .swiper-wrapper").append('<div class="swiper-slide"><div class="item-list"><img src="' + imgBox.eq(a).attr("src") + '" / ></div></div>');
      }
      $(".aiui-photo__preview").css({
        "z-index": 1000,
        opacity: "1"
      });
      mySwiper.slideTo(i, 0, false);
      return false;
    });
    $(".aiui-photo__preview").on("click", function () {
      $(this).css({
        "z-index": "-1",
        opacity: "0"
      });
    });
  });
</script>
{% endblock %}