{% extends 'app.nunjucks' %}
{% block title %}商城-购物车{% endblock %}
{% block content %}

<!--头部导航 start-->
<div class="aiui-navbar-wrap">
  <div class="aiui-navbar aiui-navbar--primary aiui-navbar--fixed">
    <div class="aiui-navbar__item">
      <a href="javascript:history.back();" class="icon-return"></a>
    </div>
    <h3 class="aiui-navbar__title">购物车(3)</h3>
    <div class="aiui-navbar__item">
      <button type="button">管理</button>
    </div>
  </div>
</div>
<!--头部导航 end-->
<!-- 购物车列表 start -->
<ul class="shopcart-list">
  <li class="shopcart-list__item">
    <div class="aiui-cells aiui-cells--checkbox merchant-cells">
      <div class="aiui-cell">
        <label for="merchant-01" class="aiui-cell__hd">
          <input type="checkbox" name="checkbox1" class="aiui-check" id="merchant-01" />
          <i class="aiui-icon-checked"></i>
        </label>
        <div class="aiui-cell__bd">
          <div class="user-enter user-enter--normal">
            <div class="avatar avatar-38">
              <img src="../images/avatar.png" alt="商家">
            </div>
            <p class="name">这是商家名字</p>
            <i class="icon-arrow-right"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="aiui-cells aiui-cells--checkbox commodity-cells">
      <div class="aiui-cell">
        <label for="commodity-01" class="aiui-cell__hd">
          <input type="checkbox" name="checkbox2" class="aiui-check" id="commodity-01" />
          <i class="aiui-icon-checked"></i>
        </label>

        <div class="aiui-cell__bd">
          <div class="Grid">
            <a href="07.03-商品详情.html" class="thumb thumb-180">
              <img src="../images/mall/product-14.jpg" alt="猪脚">
            </a>
            <div class="Cell -fill">
              <a href="07.03-商品详情.html" class="desc">清真鸡大胸新鲜鸡脯肉冷冻鸡胸肉鸡肉营养</a>
              <div class="renew-select">4斤装<i class="icon-arrow-down"></i></div>
              <div class="Grid -middle">
                <div class="Cell -fill text-warn">¥108.00</div>
                <div class="aiui-count aiui-count--small">
                  <button type="button" class="aiui-count__btn aiui-count__decrease">
                    <i class="icon-decrease"></i>
                  </button>
                  <input type="number" class="aiui-count__number" value="1" readonly>
                  <button type="button" class="aiui-count__btn aiui-count__increase">
                    <i class="icon-add"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="aiui-cell">
        <label for="commodity-02" class="aiui-cell__hd">
          <input type="checkbox" name="checkbox3" class="aiui-check" id="commodity-02" />
          <i class="aiui-icon-checked"></i>
        </label>

        <div class="aiui-cell__bd">

          <div class="Grid">
            <a href="07.03-商品详情.html" class="thumb thumb-180">
              <img src="../images/mall/product-15.jpg" alt="鸡">
            </a>

            <div class="Cell -fill">
              <a href="07.03-商品详情.html" class="desc">清真鸡大胸新鲜鸡脯肉冷冻鸡胸肉鸡肉营养</a>
              <div class="renew-select">4斤装<i class="icon-arrow-down"></i></div>
              <div class="Grid -middle">
                <div class="Cell -fill text-warn">¥108.00</div>
                <div class="aiui-count aiui-count--small">
                  <button type="button" class="aiui-count__btn aiui-count__decrease">
                    <i class="icon-decrease"></i>
                  </button>
                  <input type="number" class="aiui-count__number" value="1" readonly>
                  <button type="button" class="aiui-count__btn aiui-count__increase">
                    <i class="icon-add"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>

          <div class="event-tips">
            <div class="mark-tips mark-tips__plain">活动</div>
            <p class="fz24 text-med-gray">满2件，享包邮</p>
          </div>

        </div>
      </div>

    </div>
  </li>
  <li class="shopcart-list__item">
    <div class="aiui-cells aiui-cells--checkbox merchant-cells">
      <div class="aiui-cell">
        <label for="merchant-02" class="aiui-cell__hd">
          <input type="checkbox" name="checkbox4" class="aiui-check" id="merchant-02" />
          <i class="aiui-icon-checked"></i>
        </label>
        <div class="aiui-cell__bd">
          <div class="user-enter user-enter--normal">
            <div class="avatar avatar-38">
              <img src="../images/avatar-01.png" alt="商家">
            </div>
            <p class="name">这是商家名字</p>
            <i class="icon-arrow-right"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="aiui-cells aiui-cells--checkbox commodity-cells">
      <div class="aiui-cell">
        <label for="commodity-03" class="aiui-cell__hd">
          <input type="checkbox" name="checkbox5" class="aiui-check" id="commodity-03" />
          <i class="aiui-icon-checked"></i>
        </label>

        <div class="aiui-cell__bd">
          <div class="Grid">
            <a href="07.03-商品详情.html" class="thumb thumb-180">
              <img src="../images/mall/product-14.jpg" alt="猪脚">
            </a>
            <div class="Cell -fill">
              <a href="07.03-商品详情.html" class="desc">清真鸡大胸新鲜鸡脯肉冷冻鸡胸肉鸡肉营养</a>
              <div class="renew-select">4斤装<i class="icon-arrow-down"></i></div>
              <div class="Grid -middle">
                <div class="Cell -fill text-warn">¥108.00</div>
                <div class="aiui-count aiui-count--small">
                  <button type="button" class="aiui-count__btn aiui-count__decrease">
                    <i class="icon-decrease"></i>
                  </button>
                  <input type="number" class="aiui-count__number" value="1" readonly>
                  <button type="button" class="aiui-count__btn aiui-count__increase">
                    <i class="icon-add"></i>
                  </button>
                </div>
              </div>
              </di>
            </div>
          </div>
        </div>
      </div>
      <div class="aiui-cell">
        <label for="commodity-04" class="aiui-cell__hd">
          <input type="checkbox" name="checkbox6" class="aiui-check" id="commodity-04" />
          <i class="aiui-icon-checked"></i>
        </label>

        <div class="aiui-cell__bd">
          <div class="Grid">
            <a href="07.03-商品详情.html" class="thumb thumb-180">
              <img src="../images/mall/product-15.jpg" alt="鸡">
            </a>
            <div class="Cell -fill">
              <a href="07.03-商品详情.html" class="desc">清真鸡大胸新鲜鸡脯肉冷冻鸡胸肉鸡肉营养</a>
              <div class="renew-select">4斤装<i class="icon-arrow-down"></i></div>
              <div class="Grid -middle">
                <div class="Cell -fill text-warn">¥108.00</div>
                <div class="aiui-count aiui-count--small">
                  <button type="button" class="aiui-count__btn aiui-count__decrease">
                    <i class="icon-decrease"></i>
                  </button>
                  <input type="number" class="aiui-count__number" value="1" readonly>
                  <button type="button" class="aiui-count__btn aiui-count__increase">
                    <i class="icon-add"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="event-tips">
            <div class="mark-tips mark-tips__plain">活动</div>
            <p class="fz24 text-med-gray">满2件，享包邮</p>
          </div>
        </div>
      </div>
    </div>
  </li>
</ul>
<!-- 购物车列表 end -->

<!-- 购物车操作栏 start -->
<div class="shopcart-bar-wrap">
  <div class="shopcart-bar aiui-cells--checkbox">
    <label for="selectAll" class="Grid -middle">
      <input type="checkbox" name="checkbox1" class="aiui-check" id="selectAll" />
      <i class="aiui-icon-checked"></i>
      <div class="ml10"><span class="fz26 text-med-gray">全选</span></div>
    </label>
    <div class="content">
      <div class="content-info">
        <span class="fz24 text-deep-gray mr10">不含运费</span>合计：<p class="fz26 text-orange">¥<span
            class="fz36">108</span>.00</span>
      </div>
      <button type="button" class="aiui-btn aiui-btn--primary aiui-btn--medium aiui-btn--pill">结算(1)</button>
    </div>
  </div>
</div>
<!-- 购物车操作栏 end -->

<!--tabbar start-->
<div class="aiui-tabbar-wrap">
  <div class="aiui-tabbar aiui-tabbar--fixed">
    <a href="javascript:;" class="aiui-tabbar__item">
      <div class="aiui-tabbar__icon aiui-tabbar__icon-01"></div>
      <p class="aiui-tabbar__label">首页</p>
    </a>
    <a href="javascript:;" class="aiui-tabbar__item">
      <div class="aiui-tabbar__icon aiui-tabbar__icon-02"></div>
      <p class="aiui-tabbar__label">附近</p>
    </a>
    <a href="javascript:;" class="aiui-tabbar__item aiui-tabbar__item--on">
      <div class="aiui-tabbar__icon aiui-tabbar__icon-03">
        <span class="aiui-badge">4</span>
      </div>
      <p class="aiui-tabbar__label">购物车</p>
    </a>
    <a href="javascript:;" class="aiui-tabbar__item">
      <div class="aiui-tabbar__icon aiui-tabbar__icon-04"></div>
      <p class="aiui-tabbar__label">我的</p>
    </a>
  </div>
</div>
<!--tabbar end-->


<!-- 立即购买弹窗 start -->
<div class="aiui-popup-wrap" id="buyPopup" style="display: block;">
  <div class="aiui-mask"></div>
  <div class="aiui-popup toggle">
    <div class="aiui-popup__content">
      <div class="aiui-cell popup-box_thumb -bottom">
        <div class="thumb thumb-180 mr30"><img src="../images/mall/product-15.jpg"></div>
        <div class="Cell -fill">
          <p class="fz34 mb10 text-orange">¥59.00</p>
          <p class="fz24 mb10 lh-noraml text-deep-gray">库存14353件</p>
          <p class="fz24 lh-noraml">配送至：岳麓区</p>
        </div>
      </div>
      <div class="popup-box__scroll">
        <div class="aiui-cells">
          <div class="aiui-cell">
            <ul class="chose-list">
              <li class="chose-list__item">
                <div class="content">
                  <p>1斤装</p>
                </div>
              </li>
              <li class="chose-list__item active">
                <div class="content">
                  <p>4斤装</p>
                </div>
              </li>
              <li class="chose-list__item">
                <div class="content">
                  <p>8斤装</p>
                </div>
              </li>
              <li class="chose-list__item">
                <div class="content">
                  <p>16斤装</p>
                </div>
              </li>
              <li class="chose-list__item">
                <div class="content">
                  <p>自定义请联系店主</p>
                </div>
              </li>
            </ul>
          </div>
          <a class="aiui-cell" href="04.02.02-选择配送地址.html">
            <div class="Cell -2of2 Grid -middle">
              <p class="mr20">配送区域</p>
              <p class="fz24 text-deep-gray">(配送地可能会影响库存，请正确选择)</p>
            </div>
            <div class="Cell -2of2 Grid -middle mt20">
              <i class="icon-address-2px"></i>
              <div class="Cell -fill">
                <p class="fz26 text-med-gray">长沙市 岳麓区 梅溪湖街道</p>
              </div>
              <i class="icon-arrow-right"></i>
            </div>
          </a>
          <div class="aiui-cell">
            <div class="Cell -fill"><span>购买数量：</span></div>
            <div class="aiui-count">
              <button type="button" class="aiui-count__btn aiui-count__decrease">
                <i class="icon-decrease"></i>
              </button>
              <input type="number" class="aiui-count__number" value="1" readonly>
              <button type="button" class="aiui-count__btn aiui-count__increase">
                <i class="icon-add"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="popup-box__ft">
        <button type="button"
          class="aiui-btn aiui-btn--block aiui-btn--primary aiui-btn--large aiui-btn--plain aiui-btn--pill">加入购物车</button>
        <button type="button" class="aiui-btn aiui-btn--block aiui-btn--primary aiui-btn--large aiui-btn--pill"
          id="confirmDialog">立即购买</button>
      </div>
    </div>
  </div>
</div>
<!-- 立即购买弹窗 end -->

{% endblock %}
{% block footer %}
<script>
  $(".chose-list__item").on("click", function () {
    $(this).siblings().removeClass("active");
    $(this).addClass("active");
  });
  // 打开Popup操作
  $('.renew-select').on('click', function () {
    $("#buyPopup").fadeIn(200);
    $("#buyPopup").find(".aiui-popup").addClass("toggle");;
  });
  // 关闭Popup操作
  $(document).on('click', '.aiui-mask,.close-popup__btn', function () {
    $(".aiui-popup").removeClass("toggle")
    $(this).parents('.aiui-popup-wrap').fadeOut(200);
  });
</script>
{% endblock %}