{% extends 'app.nunjucks' %}
{% block title %}蔬游-商城首页{% endblock %}
{% block content %}
<div class="mall-container">
  <!--头部导航 start-->
  <div class="headbar-sticky">
    <div class="aiui-navbar aiui-navbar--fixed aiui-navbar--transparent">
      <div class="aiui-navbar__item">
        <a href="javascript:history.back();" class="icon-return"></a>
      </div>
      <h3 class="aiui-navbar__title">蔬游商城</h3>
      <div class="aiui-navbar__item">
        <a href="03.01-片区列表-全部农场.html" class="icon-search"></a>
      </div>
    </div>
  </div>
  <!--头部导航 end-->
  <div class="mall-container__content">
    <!-- swiper begin -->
    <div class="swiper-container swiper-index_ad swiperIndexAd">
      <div class="swiper-wrapper">
        <div class="swiper-slide"><a href=""><img src="../images/mall/mall-banner.png" alt=""></a></div>
        <div class="swiper-slide"><a href=""><img src="../images/mall/mall-banner.png" alt=""></a></div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
    <!-- swiper end -->
    <!--malllist begin -->
    <div class="Grid  mall-list">
      <a href="" class="Cell -fill ">
        <img class="mall-list__img" src="../images/mall/mall-list_img01.png" alt="">
        <p class="title">粮油米面</p>
      </a>
      <a href="" class="Cell -fill">
        <img class="mall-list__img" src="../images/mall/mall-list_img02.png" alt="">
        <p class="title">五谷杂粮</p>
      </a>
      <a href="" class="Cell -fill">
        <img class="mall-list__img" src="../images/mall/mall-list_img03.png" alt="">
        <p class="title">生鲜果蔬</p>
      </a>
      <a href="" class="Cell -fill">
        <img class="mall-list__img" src="../images/mall/mall-list_img04.png" alt="">
        <p class="title">家禽肉食</p>
      </a>
    </div>
    <!--malllist end -->
    <!-- small swiper begin -->
    <div class="swiper-container swiper-index_ad_small swiperIndexAdSmall">
      <div class="swiper-wrapper">
        <div class="swiper-slide"><a href=""><img src="../images/mall/mall-banner_small.png" alt=""></a>
        </div>
        <div class="swiper-slide"><a href=""><img src="../images/mall/mall-banner_small.png" alt=""></a>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
    <!-- small swiper end -->
    <div class="mall-news">
      <div class="mall-news__title"></div>
      <div class="mall-mews__swiper">
        <div class="swiper-container swiperIndexNews">
          <div class="swiper-wrapper">
            <div class="swiper-slide"><a href="">蔬游商城版本升级啦！</a></div>
            <div class="swiper-slide"><a href="">蔬游商城版本升级啦！</a></div>
          </div>
        </div>
      </div>
      <a href="" class="link__more">更多</a>
    </div>
  </div>
</div>
<div class="mall-floor">
  <div class="swiper-container swiper-index__product swiperProduct">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <a class="mall-product__item " href="">
          <h3 class="title fz36 text-lightblue">明星产品</h3>
          <p class="desc fz24 text-deep-gray">致中和五加啤酒12瓶装</p>
          <div class="thumb-190"><img src="../images/mall/mall-product-190-01.png" alt=""></div>
        </a>
      </div>
      <div class="swiper-slide">
        <a class="mall-product__item" href="">
          <h3 class="title fz36 text-warn">农村特色</h3>
          <p class="desc fz24 text-deep-gray">农家散养土鸡蛋24枚</p>
          <div class="thumb-190"><img src="../images/mall/mall-product-190-02.png" alt=""></div>
        </a>
      </div>
      <div class="swiper-slide">
        <a class="mall-product__item" href="">
          <h3 class="title fz36 text-red">限时特卖</h3>
          <p class="desc fz24  text-deep-gray">十全十美有机礼盒</p>
          <div class="thumb thumb-190"><img src="../images/mall/mall-product-190-03.png" alt=""></div>
        </a></div>
    </div>
  </div>
</div>
<div class="mall-floor">
  <div class="mall-floor__hd">
    <h3 class="fs36">精品推荐</h3>
    <p class="Cell -fill fs24 text-deep-gray ml24">买手精选尖货</p>
    <a href="" class="link__more">更多</a>
  </div>
  <div class="content">
    <a class="thumb thumb-hot-recommend" href="#"><img src="../images/mall/mall-hot-recommend.png" alt=""></a>
    <div class="hot-recoment">
      <a class="mall-product__item Cell -1of4" href="">
        <p class="title text-gray">坚果炒货</p>
        <p class="desc fz24  text-purple">下单立减50</p>
        <div class="thumb thumb-120"><img src="../images/mall/mall-product-120-01.png" alt=""></div>
      </a>
      <a class="mall-product__item Cell -1of4" href="">
        <p class="title text-gray">饼干糕点</p>
        <p class="desc fz24  text-purple">2箱减20元</p>
        <div class="thumb thumb-120"><img src="../images/mall/mall-product-120-02.png" alt=""></div>
      </a>
      <a class="mall-product__item Cell -1of4" href="">
        <p class="title text-gray">卤味肉食</p>
        <p class="desc fz24  text-purple">下单立减20</p>
        <div class="thumb thumb-120"><img src="../images/mall/mall-product-120-03.png" alt=""></div>
      </a>
      <a class="mall-product__item Cell -1of4" href="">
        <p class="title text-gray">果干果铺</p>
        <p class="desc fz24  text-purple">低至4.9元</p>
        <div class="thumb thumb-120"><img src="../images/mall/mall-product-120-04.png" alt=""></div>
      </a>
    </div>
  </div>
</div>
<div class="mall-floor">
  <div class="mall-floor__hd">
    <h3 class="fs36">热销商家</h3>
    <p class="Cell -fill fs24 text-deep-gray ml24">逛一逛</p>
    <a href="" class="link__more">更多</a>
  </div>
  <div class="stores">
    <div class="stores__item">
      <div class="stores__item__hd">
        <div class="avatar avatar-80">
          <img src="../images/mall/mall-default-80.png" alt="">
        </div>
        <div class="Cell -fill ml24 mr24">
          <p>鄂尔多斯有机农场</p>
          <p class="fz24  text-deep-gray"><span>销量：</span><span>97890</span><span
              class="ml24">距离：</span><span>963.9km</span></p>
        </div>
        <div class="Cell">
          <button type="button"
            class="aiui-btn aiui-btn--plain aiui-btn--small aiui-btn--primary aiui-btn--pill">进店逛逛</button>
        </div>
      </div>
      <div class="stores__item__bd">
        <a class="stores__item__link Cell -1of3" href="">
          <div class="thumb thumb-227">
            <img src="../images/mall/mall-product-227-01.png" alt="">
          </div>
          <div class="desc">¥29.9</div>
        </a>
        <a class="stores__item__link Cell -1of3" href="">
          <div class="thumb thumb-227">
            <img src="../images/mall/mall-product-227-02.png" alt="">
          </div>
          <div class="desc">¥29.9</div>
        </a>
        <a class="stores__item__link Cell -1of3" href="">
          <div class="thumb thumb-227">
            <img src="../images/mall/mall-product-227-03.png" alt="">
          </div>
          <div class="desc">¥29.9</div>
        </a>
      </div>
    </div>
    <div class="stores__item">
      <div class="stores__item__hd">
        <div class="avatar avatar-80">
          <img src="../images/mall/mall-img-80.png" alt="">
        </div>
        <div class="Cell -fill ml24 mr24">
          <p>鄂尔多斯有机农场</p>
          <p class="fz24  text-deep-gray"><span>销量：</span><span>97890</span><span
              class="ml24">距离：</span><span>963.9km</span></p>
        </div>
        <div class="Cell">
          <button type="button"
            class="aiui-btn aiui-btn--plain aiui-btn--small aiui-btn--primary aiui-btn--pill">进店逛逛</button>
        </div>
      </div>
      <div class="stores__item__bd">
        <a class="stores__item__link Cell -1of3" href="">
          <div class="thumb thumb-227">
            <img src="../images/mall/mall-product-227-04.png" alt="">
          </div>
          <div class="desc">¥29.9</div>
        </a>
        <a class="stores__item__link Cell -1of3" href="">
          <div class="thumb thumb-227">
            <img src="../images/mall/mall-product-227-05.png" alt="">
          </div>
          <div class="desc">¥29.9</div>
        </a>
        <a class="stores__item__link Cell -1of3" href="">
          <div class="thumb thumb-227">
            <img src="../images/mall/mall-product-227-06.png" alt="">
          </div>
          <div class="desc">¥29.9</div>
        </a>
      </div>
    </div>
  </div>

</div>
<div class="footbar-sticky">
  <div class="aiui-tabbar aiui-tabbar__fixed">
    <a href="javascript:;" class="aiui-tabbar__item aiui-tabbar__item--on">
      <div class="aiui-tabbar__icon">
        <div class="icon-default icon-home"></div>
      </div>
      <p class="aiui-tabbar__label">首页</p>
    </a>
    <a href="javascript:;" class="aiui-tabbar__item ">
      <div class="aiui-tabbar__icon">
        <div class="icon-default icon-address-2px"></div>
      </div>
      <p class="aiui-tabbar__label">附近</p>
    </a>
    <a href="javascript:;" class="aiui-tabbar__item ">
      <div class="aiui-tabbar__icon">
        <div class="icon-default icon-shopping-cart"></div>
        <span class="aiui-badge">8</span>
      </div>
      <p class="aiui-tabbar__label">购物车</p>
    </a>
    <a href="javascript:;" class="aiui-tabbar__item ">
      <div class="aiui-tabbar__icon">
        <div class="icon-default icon-me-outline"></div>
      </div>
      <p class="aiui-tabbar__label">我的</p>
    </a>

  </div>
</div>
<!-- 返回顶部 start -->
<div class="aiui-gotop-wrap aiui-gotop-hook">
  <button class="aiui-gotop">
    <i class="icon-gotop"></i>
    <span class="text">回顶部</span>
  </button>
</div>
<!-- 返回顶部 end -->
</div>
{% endblock %}
{% block footer %}
<script>
  $(".headbar-sticky").sticky({ topSpacing: 0 });
  $(".footbar-sticky").sticky({ bottomSpacing: 0 });
  // banner
  var swiper = new Swiper('.swiperIndexAd', {
    observer: true,
    observeParents: true,
    pagination: {
      el: '.swiper-pagination',
      type: 'fraction',
    }
  });
  var smallswiper = new Swiper('.swiperIndexAdSmall', {
    observer: true,
    observeParents: true,
    pagination: {
      el: '.swiper-pagination',
    }
  });
  var newswiper = new Swiper('.swiperIndexNews', {
    direction: 'vertical',
    noSwiping: true,
    autoplay:
    {
      delay: 3000
    },
    loop: true,
    slidesPerView: 'auto'
  });
  var produvtswiper = new Swiper('.swiperProduct', {
    slidesPerView: 'auto',
    spaceBetween: 0,
  });
</script>
{% endblock %}