{% extends 'app.nunjucks' %}
{% block title %}蔬游-店铺列表{% endblock %}
{% block content %}
<div class="aiui-tab" id="tab">
  <div class="header-sticky-hook">
    <!--头部导航 start-->
    <div class="aiui-navbar aiui-navbar--default">
      <div class="aiui-navbar__item">
        <a href="javascript:history.back();" class="icon-return"></a>
      </div>
      <div class="aiui-search-bar" id="searchBar">
        <form class="aiui-search-bar__form" action="#">
          <div class="aiui-search-bar__box">
            <i class="icon-search"></i>
            <input type="search" class="aiui-search-bar__input" autocomplete="off" placeholder="请输入关键字搜索" />
            <button type="button" class="aiui-search-bar__clear-btn icon-close-fill"></button>
          </div>
        </form>
        <button class="aiui-search-bar__cancel-btn">取消</button>
      </div>
      <div class="aiui-navbar__item">
        <a href="#" class="icon-shopping-cart"></a>
      </div>
    </div>
    <!--头部导航 end-->
    <!--内容 start-->
    <!-- tab菜单 start -->
    <div class="aiui-tabmenu">
      <a href="javascript:;" class="aiui-tabmenu__item aiui-tabmenu__item--on">
        综合排序
      </a>
      <a href="javascript:;" class="aiui-tabmenu__item">
        销量优先
      </a>
      <a href="javascript:;" class="aiui-tabmenu__item">
        距离最近
      </a>
    </div>
    <!-- tab菜单 end -->
    <!-- tab内容 start -->
    <div class="aiui-tab__panel">
      <div class="aiui-tab__content">
        <div class="stores stores-space">
          <div class="stores__item">
            <div class="stores__item__hd">
              <div class="avatar avatar-80">
                <img src="../images/avatar-01.png" alt="">
              </div>
              <div class="Cell -fill ml24 mr24">
                <p>鄂尔多斯有机农场</p>
                <p class="fz24  text-deep-gray"><span>销量：</span><span>97890</span><span
                    class="ml24">距离：</span><span>963.9km</span></p>
              </div>
              <div class="Cell">
                <button type="button"
                  class="aiui-btn aiui-btn--plain aiui-btn--small aiui-btn--primary aiui-btn--pill">进店</button>
              </div>
            </div>
            <div class="stores__item__bd">
              <a class="stores__item__link Cell -1of4" href="">
                <div class="thumb thumb-156">
                  <img src="../images/mall/product-08.jpg" alt="">
                </div>
                <div class="desc">¥29.9</div>
              </a>
              <a class="stores__item__link Cell -1of4" href="">
                <div class="thumb thumb-156">
                  <img src="../images/mall/product-09.jpg" alt="">
                </div>
                <div class="desc">¥29.9</div>
              </a>
              <a class="stores__item__link Cell -1of4" href="">
                <div class="thumb thumb-156">
                  <img src="../images/mall/product-10.jpg" alt="">
                </div>
                <div class="desc">¥29.9</div>
              </a>
              <a class="stores__item__link Cell -1of4" href="">
                <div class="thumb thumb-156">
                  <img src="../images/mall/product-10.jpg" alt="">
                </div>
                <div class="desc">¥29.9</div>
              </a>
            </div>
          </div>
        </div>
        <div class="stores stores-space">
          <div class="stores__item">
            <div class="stores__item__hd">
              <div class="avatar avatar-80">
                <img src="../images/avatar-01.png" alt="">
              </div>
              <div class="Cell -fill ml24 mr24">
                <p>鄂尔多斯有机农场</p>
                <p class="fz24  text-deep-gray"><span>销量：</span><span>97890</span><span
                    class="ml24">距离：</span><span>963.9km</span></p>
              </div>
              <div class="Cell">
                <button type="button"
                  class="aiui-btn aiui-btn--plain aiui-btn--small aiui-btn--primary aiui-btn--pill">进店</button>
              </div>
            </div>
            <div class="stores__item__bd">
              <a class="stores__item__link Cell -1of4" href="">
                <div class="thumb thumb-156">
                  <img src="../images/mall/product-08.jpg" alt="">
                </div>
                <div class="desc">¥29.9</div>
              </a>
              <a class="stores__item__link Cell -1of4" href="">
                <div class="thumb thumb-156">
                  <img src="../images/mall/product-09.jpg" alt="">
                </div>
                <div class="desc">¥29.9</div>
              </a>
              <a class="stores__item__link Cell -1of4" href="">
                <div class="thumb thumb-156">
                  <img src="../images/mall/product-10.jpg" alt="">
                </div>
                <div class="desc">¥29.9</div>
              </a>
              <a class="stores__item__link Cell -1of4" href="">
                <div class="thumb thumb-156">
                  <img src="../images/mall/product-10.jpg" alt="">
                </div>
                <div class="desc">¥29.9</div>
              </a>
            </div>
          </div>
        </div>
        <div class="stores stores-space">
          <div class="stores__item">
            <div class="stores__item__hd">
              <div class="avatar avatar-80">
                <img src="../images/avatar-01.png" alt="">
              </div>
              <div class="Cell -fill ml24 mr24">
                <p>鄂尔多斯有机农场</p>
                <p class="fz24  text-deep-gray"><span>销量：</span><span>97890</span><span
                    class="ml24">距离：</span><span>963.9km</span></p>
              </div>
              <div class="Cell">
                <button type="button"
                  class="aiui-btn aiui-btn--plain aiui-btn--small aiui-btn--primary aiui-btn--pill">进店</button>
              </div>
            </div>
            <div class="stores__item__bd">
              <a class="stores__item__link Cell -1of4" href="">
                <div class="thumb thumb-156">
                  <img src="../images/mall/product-08.jpg" alt="">
                </div>
                <div class="desc">¥29.9</div>
              </a>
              <a class="stores__item__link Cell -1of4" href="">
                <div class="thumb thumb-156">
                  <img src="../images/mall/product-09.jpg" alt="">
                </div>
                <div class="desc">¥29.9</div>
              </a>
              <a class="stores__item__link Cell -1of4" href="">
                <div class="thumb thumb-156">
                  <img src="../images/mall/product-10.jpg" alt="">
                </div>
                <div class="desc">¥29.9</div>
              </a>
              <a class="stores__item__link Cell -1of4" href="">
                <div class="thumb thumb-156">
                  <img src="../images/mall/product-10.jpg" alt="">
                </div>
                <div class="desc">¥29.9</div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!-- tab内容2 -->
      <div class="aiui-tab__content">
          <div class="stores stores-space">
              <div class="stores__item">
                <div class="stores__item__hd">
                  <div class="avatar avatar-80">
                    <img src="../images/avatar-01.png" alt="">
                  </div>
                  <div class="Cell -fill ml24 mr24">
                    <p>鄂尔多斯有机农场</p>
                    <p class="fz24  text-deep-gray"><span>销量：</span><span>97890</span><span
                        class="ml24">距离：</span><span>963.9km</span></p>
                  </div>
                  <div class="Cell">
                    <button type="button"
                      class="aiui-btn aiui-btn--plain aiui-btn--small aiui-btn--primary aiui-btn--pill">进店</button>
                  </div>
                </div>
                <div class="stores__item__bd">
                  <a class="stores__item__link Cell -1of4" href="">
                    <div class="thumb thumb-156">
                      <img src="../images/mall/product-08.jpg" alt="">
                    </div>
                    <div class="desc">¥29.9</div>
                  </a>
                  <a class="stores__item__link Cell -1of4" href="">
                    <div class="thumb thumb-156">
                      <img src="../images/mall/product-09.jpg" alt="">
                    </div>
                    <div class="desc">¥29.9</div>
                  </a>
                  <a class="stores__item__link Cell -1of4" href="">
                    <div class="thumb thumb-156">
                      <img src="../images/mall/product-10.jpg" alt="">
                    </div>
                    <div class="desc">¥29.9</div>
                  </a>
                  <a class="stores__item__link Cell -1of4" href="">
                    <div class="thumb thumb-156">
                      <img src="../images/mall/product-10.jpg" alt="">
                    </div>
                    <div class="desc">¥29.9</div>
                  </a>
                </div>
              </div>
            </div>
      </div>
      <!-- tab内容2 -->
      <div class="aiui-tab__content">
          <div class="stores stores-space">
              <div class="stores__item">
                <div class="stores__item__hd">
                  <div class="avatar avatar-80">
                    <img src="../images/avatar-01.png" alt="">
                  </div>
                  <div class="Cell -fill ml24 mr24">
                    <p>鄂尔多斯有机农场</p>
                    <p class="fz24  text-deep-gray"><span>销量：</span><span>97890</span><span
                        class="ml24">距离：</span><span>963.9km</span></p>
                  </div>
                  <div class="Cell">
                    <button type="button"
                      class="aiui-btn aiui-btn--plain aiui-btn--small aiui-btn--primary aiui-btn--pill">进店</button>
                  </div>
                </div>
                <div class="stores__item__bd">
                  <a class="stores__item__link Cell -1of4" href="">
                    <div class="thumb thumb-156">
                      <img src="../images/mall/product-08.jpg" alt="">
                    </div>
                    <div class="desc">¥29.9</div>
                  </a>
                  <a class="stores__item__link Cell -1of4" href="">
                    <div class="thumb thumb-156">
                      <img src="../images/mall/product-09.jpg" alt="">
                    </div>
                    <div class="desc">¥29.9</div>
                  </a>
                  <a class="stores__item__link Cell -1of4" href="">
                    <div class="thumb thumb-156">
                      <img src="../images/mall/product-10.jpg" alt="">
                    </div>
                    <div class="desc">¥29.9</div>
                  </a>
                  <a class="stores__item__link Cell -1of4" href="">
                    <div class="thumb thumb-156">
                      <img src="../images/mall/product-10.jpg" alt="">
                    </div>
                    <div class="desc">¥29.9</div>
                  </a>
                </div>
              </div>
            </div>
      </div>
    </div>
    <!-- tab内容 end -->
    <!--内容 end-->
  </div>
</div>
{% endblock %}
{% block footer %}
<script type="text/javascript">
  $(function () {
    //搜索
    aiui.searchBar('#searchBar');
    $(".header-sticky-hook").sticky({ topSpacing: 0 });
    //tab
    aiui.tab('#tab', {
      defaultIndex: 0,
      onChange: function (index) {
        console.log(index);
      }
    });
  });
</script>
{% endblock %}