{% extends 'app.nunjucks' %}
{% block title %}蔬游-确认订单{% endblock %}
{% block content %}
<!--头部导航 start-->
<div class="aiui-navbar-wrap">
  <div class="aiui-navbar aiui-navbar--default aiui-navbar--fixed">
    <div class="aiui-navbar__item">
      <a href="javascript:history.back();" class="icon-return"></a>
    </div>
    <h3 class="aiui-navbar__title">确认订单</h3>
  </div>
</div>
<!--头部导航 end-->
<!--内容区域 start-->
<div class="aiui-cells address-cells mall-order-warp">
  <div class="aiui-cell ">
    <div class="aiui-cell__hd">
      <i class="icon-address icon-address-fill"></i>
    </div>
    <div class="aiui-cell__bd">
      <div class="address">
        <div class="hd">
          <h3 class="name">钱多多</h3>
          <p class="phone">13823456666</p>
        </div>
        <div class="bd Grid -middle">
          <p class="desc Cell -fill">北京北京市朝阳区奥运村街道测试地址范例a栋1342</p>
          <i class="icon-arrow-right"></i>
        </div>
        <p class="text-warn fz26 mt20">收货不便时，可选择免费暂存服务</p>
      </div>
    </div>
  </div>
</div>
<div class="aiui-cells address-cells mall-order-warp">
  <div class="aiui-cell ">
    <div class="Cell -2of2 Grid">
      <div class="avatar avatar-38">
        <img src="../images/farm_tu02.png" alt="农场">
      </div>
      <p class="fz26 ml20 text-med-gray">鄂尔多斯农场</p>
    </div>
    <div class="Cell -2of2 Grid mt20">
      <div class="thumb thumb-180">
        <img src="../images/mall/product-14.jpg" alt="">
      </div>
      <div class="Cell -fill ml20 ">
        <div class="Grid -between">
          <p class="Cell -fill fz26 ellipsisLnTwo">清真鸡大胸新鲜鸡脯肉冷冻鸡胸肉鸡肉营养健清真鸡大胸新鲜鸡脯肉冷冻鸡胸肉鸡肉营养健</p>
          <div class="ml20">
            <p class="price text-med-gray fz26 ">¥<span class="fz28">59</span>.00</p>
            <p class="text-deep-gray fz22 text-right">X1</p>
          </div>
        </div>
        <p class="text-warn fz24 mt10">发货时间：卖家承诺48小时</p>
      </div>

    </div>
    <div class="Cell -2of2 Grid -middle -between">
      <p class="Cell -1of4 text-right">购买数量</p>
      <div class="aiui-count aiui-count--small ">
        <button type="button" class="aiui-count__btn aiui-count__decrease" disabled="disabled">
          <i class="icon-decrease"></i>
        </button>
        <input type="number" class="aiui-count__number" value="1" readonly="">
        <button type="button" class="aiui-count__btn aiui-count__increase">
          <i class="icon-add"></i>
        </button>
      </div>
    </div>
    <a class="Cell -2of2 Grid -middle mt40">
      <p class="Cell -1of4 text-right">配送方式</p>
      <p class="Cell -fill text-deep-gray ml20">普通配送</p>
      <p class="">快递 免邮</p>
      <i class="icon-arrow-right"></i>
    </a>
    <div class="Cell -2of2 Grid  mt40">
      <p class="Cell -1of4 text-right">订单备注</p>
      <textarea class="aiui-textarea ml20 Cell -fill" placeholder="选填，请先和商家协商一致" rows="2"></textarea>
    </div>
    <div class="Cell -2of2 Grid -right mt20">
      <p class="fz26 text-med-gray">共1件商品 合计：<span class="text-red">¥108.00</span></p>
    </div>
  </div>
</div>

<div class="aiui-cells--checkbox aiui-cells--checkbox--warn mall-order-warp">
  <label for="selectAll" class="Grid -middle">
    <input type="checkbox" name="checkbox1" class="aiui-check" checked="checked" />
    <i class="aiui-icon-checked "></i>
    <div class="ml10"><span class="fz26 text-med-gray">匿名购买</span></div>
  </label>
</div>
<!--内容区域 end-->
<!--底部悬浮按钮 start-->
<div class="aiui-footbtn-wrap">
  <div class="aiui-footbtn aiui-footbtn__default Grid -right">
    <p class="fz26 text-med-gray">共1件商品<span class="ml10">合计：</span></p>
    <p class="fz26 text-orange mr20">¥<span class="fz36">108</span>.00
    </p>
    <button type="button" class="aiui-btn aiui-btn--primary aiui-btn--medium aiui-btn--pill"
      id="confirmDialog">提交订单</button>
  </div>
</div>
<!--底部悬浮按钮 end-->
{% endblock %}
{% block footer %}
<script>
  $(function () {
    //确认弹窗
    $("#confirmDialog").bind("click", function () {
      $("#selectLandPopup").hide();
      var descText = '<p>您需为您的订单支付：</p><p class="text-orange mr20"><span class="fz66">¥108</span>.00</p>';
      aiui.confirm(descText, {
        title: '确认支付',
        buttons: [{
          label: '取消',
          type: 'default',
          onClick: function () { alert('取消') }
        }, {
          label: '支付',
          type: 'primary',
          onClick: function () { window.location.href='07.05-购买成功.html' }
        }]
      });
    });
  });
</script>
{% endblock %}