{% extends 'app.nunjucks' %}
{% block title %}店铺详情-商家{% endblock %}
{% block content %}
<!--头部导航 start-->
<div class="header-sticky">
  <div class="aiui-navbar aiui-navbar--default">
    <div class="aiui-navbar__item">
      <a href="javascript:history.back();" class="icon-return"></a>
    </div>
    <h3 class="aiui-navbar__title">鄂尔多斯农场</h3>
    <div class="aiui-navbar__item">
      <a href="#" class="icon-shopping-cart"></a>
    </div>
  </div>
</div>
<!--头部导航 end-->
<!-- 店铺信息 start -->
<div class="my-store">
  <img src="../images/store-bg.png" class="response-img">
  <div class="content">
    <div class="Cell -2of2 Grid">
      <div class="avatar avatar-100 mr20">
        <img src="../images/avatar-01.png" alt="">
      </div>
      <div class="Cell -fill Grid ">
        <h3 class="Cell -2of2 fz36">鄂尔多斯农场</h3>
        <div class="mt20 ">
          <div class="mark-tips mark-tips--transparent"><span class="fz22">综合体验</span>
            <div class="aiui-star aiui-star--small ml10">
              <ul class="aiui-star__box star" score="4">
                <li class="aiui-star__item icon-star on"><a href="javascript:;">1</a></li>
                <li class="aiui-star__item icon-star on"><a href="javascript:;">2</a></li>
                <li class="aiui-star__item icon-star on"><a href="javascript:;">3</a></li>
                <li class="aiui-star__item icon-star on"><a href="javascript:;">4</a></li>
                <li class="aiui-star__item icon-star"><a href="javascript:;">5</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <a href="javascript:;" class="icon-share-3px"></a>
    </div>
    <div class="Cell -2of2 Grid -middle ">
      <div class=" mark">
        <span class="fz24  mr20">商品描述</span>
        <span class="fz24  mr10">4.9</span>
        <span class="mark-tips mark-tips--small  mark-tips__white">高</span>
      </div>
      <div class=" Cell -fill Grid -middle -center ">
        <span class="fz24  mr20">卖家服务</span>
        <span class="fz24  mr10">4.8</span>
        <span class="mark-tips mark-tips--small mark-tips__white">高</span>
      </div>
      <div class=" mark">
        <span class="fz24  mr20">物流服务</span>
        <span class="fz24  mr10">4.8</span>
        <span class="mark-tips mark-tips--small  mark-tips__white">高</span>
      </div>
    </div>
  </div>
</div>
<!-- 店铺信息 end -->

<!-- 相关信息 start -->

<div class="aiui-cell -primary">
  <div class="Cell -2of2 Grid">
    <span class="icon-shop"></span>
    <p class="Cell -fill ml20">营业时间：00:00—23:59</p>
  </div>
  <div class="Cell -2of2 Grid mt20">
    <span class="icon-address-2px"></span>
    <div class="Cell -fill ml20 mr20">
      <p>内蒙古鄂尔多斯市东胜区达拉特南路102号</p>
      <p class="text-deep-gray fz24 mt10">距您12.34km</p>
    </div>
    <span class="icon-telephone"></span>
  </div>
</div>

<!-- 相关信息 end -->

<!-- tab菜单 start -->
<div class="aiui-tabmenu aiui-tabmenu-b">
  <a href="javascript:;" class="aiui-tabmenu__item">商品</a>
  <a href="javascript:;" class="aiui-tabmenu__item">评价</a>
  <a href="javascript:;" class="aiui-tabmenu__item aiui-tabmenu__item--on">商家</a>
</div>
<!-- tab菜单 end -->

<div class="aiui-cells mt20">

  <div class="mall-floor__hd">
    <h3 class="fz30">农场实景</h3>
  </div>

  <div class="aiui-photo__thumb farmscene-photo__thumb">
    <ul class="thumb-list">
      <li><img src="../images/preview.png" /></li>
      <li><img src="../images/farm_header_bg02.png" /></li>
      <li><img src="../images/farm_tu01.png" /></li>
      <li><img src="../images/area_bg.png" /></li>
      <li><img src="../images/preview.png" /></li>
      <li><img src="../images/farm_header_bg02.png" /></li>
      <li><img src="../images/farm_tu01.png" /></li>
      <li><img src="../images/area_bg.png" /></li>
    </ul>
    <div class="thumb-mask">+8</div>
  </div>

</div>

<div class="aiui-cells mt20">
  <div class="mall-floor__hd">
    <h3 class="fz30">农场信息</h3>
  </div>
</div>
<div class="aiui-cells farm-information-cells">
  <div class="aiui-cell -center">
    <div class="Cell -11of12 Grid">
      <div class="Cell -1of3 text-center">
        <p class="fz30 text-med-gray">总面积(亩)</p>
        <h3 class="fz46">3494</h3>
      </div>
      <div class="Cell -1of3 text-center">
        <p class="fz30 text-med-gray">总耕地(块)</p>
        <h3 class="fz46">1.2万</h3>
      </div>
      <div class="Cell -1of3 text-center">
        <p class="fz30 text-med-gray">所在地</p>
        <h3 class="fz46">内蒙古</h3>
      </div>
    </div>
    <div class="Cell -11of12 mt20 mb20">
      <p class="text-med-gray">鄂尔多斯农场是内蒙古自治区下辖地级市，位于黄河几字湾河套腹地，独处内蒙古自治区西南部，西北东三面为黄河环绕，南临古长城，毗邻晋陕宁三省区。</p>
    </div>
  </div>
  <div class="aiui-cell">
    <div class="Cell -1of3"><span class="text-med-gray">详细地址</span></div>
    <div class="aiui-cell__bd">
      <p>内蒙古鄂尔多斯市东胜区达拉特南路102号</p>
    </div>
  </div>
  <div class="aiui-cell">
    <div class="Cell -1of3"><span class="text-med-gray">线上营业时间</span></div>
    <div class="aiui-cell__bd">
      <p>00:00 — 23:59</p>
    </div>
  </div>

  <div class="aiui-cell">
    <div class="Cell -1of3"><span class="text-med-gray">联系电话</span></div>
    <div class="aiui-cell__bd">
      <p>138 2345 9999</p>
      <button type="button" class="icon-telephone"></button>
    </div>
  </div>

  <div class="aiui-cell -top">
    <div class="Cell -1of3"><span class="text-med-gray">营业资质</span></div>
    <div class="aiui-cell__bd">
      <div class="thumb thumb-180">
        <img src="../images/license-01.jpg" alt="营业资质">
      </div>
      <div class="thumb thumb-180">
        <img src="../images/license-02.jpg" alt="营业资质">
      </div>
    </div>
  </div>

  <div class="aiui-cell">
    <div class="Cell -1of3"><span class="text-med-gray">店铺名称</span></div>
    <div class="aiui-cell__bd">
      <p>鄂尔多斯农场</p>
    </div>
  </div>

  <div class="aiui-cell">
    <div class="Cell -1of3"><span class="text-med-gray">开店时间</span></div>
    <div class="aiui-cell__bd">
      <p>2019-08-19 17:15:00</p>
    </div>
  </div>

</div>

<!--图片预览区域 start-->
<div class="aiui-photo__preview">
  <div class="swiper-container">
    <div class="swiper-wrapper">
    </div>
    <div class="swiper-pagination"></div>
  </div>
</div>
<!--图片预览区域 end-->


{% endblock %}

{% block footer %}
<script>
  $(function () {
    // 查看相册
    var mySwiper = new Swiper(".swiper-container", {
      loop: false,
      pagination: {
        el: ".swiper-pagination",
        type: "fraction"
      },
      observer: true,
      observeParents: true
    });
    $(".aiui-photo__thumb").on("click", ".thumb-list img", function () {
      var imgBox = $(this)
        .parents(".thumb-list")
        .find("img");
      var i = $(imgBox).index(this);
      $(".aiui-photo__preview .swiper-wrapper").html("");
      for (var a = 0, b = imgBox.length; a < b; a++) {
        $(".aiui-photo__preview .swiper-wrapper").append('<div class="swiper-slide"><div class="item-list"><img src="' + imgBox.eq(a).attr("src") + '" / ></div></div>');
      }
      $(".aiui-photo__preview").css({
        "z-index": 1000,
        opacity: "1"
      });
      mySwiper.slideTo(i, 0, false);
      return false;
    });
    $(".aiui-photo__preview").on("click", function () {
      $(this).css({
        "z-index": "-1",
        opacity: "0"
      });
    });
  });
</script>
{% endblock %}