{% extends 'app.nunjucks' %}
{% block title %}蔬游-商品详情{% endblock %}
{% block content %}
<!--头部导航 start-->
<div class="aiui-navbar-wrap">
  <div class="aiui-navbar aiui-navbar--primary aiui-navbar--fixed">
    <div class="aiui-navbar__item">
      <a href="javascript:history.back();" class="icon-return"></a>
    </div>
    <h3 class="aiui-navbar__title">商品详情</h3>
    <div class="aiui-navbar__item">
      <a href="#" class="icon-shopping-cart"></a>
      <a href="#" class="icon-share-2px ml20"></a>
    </div>
  </div>
</div>
<!--头部导航 end-->
<!--内容区域 start-->
<!-- swiper begin -->
<div class="swiper-mallproduct-ad">
  <div class="swiper-container  swiperIndexAd">
    <div class="swiper-wrapper">
      <div class="swiper-slide"><a href=""><img src="../images/mall/product-14.jpg" alt=""></a></div>
      <div class="swiper-slide"><a href=""><img src="../images/mall/product-14.jpg" alt=""></a></div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
</div>
<!-- swiper end -->
<div class="aiui-cells ">
  <div class="aiui-cell">
    <div class="fz34 ">清真鸡大胸新鲜鸡脯肉冷冻鸡胸肉 鸡肉营养健康瘦肉4斤简装包邮</div>
    <div class="Cell -2of2"><span class="fz34 text-red">¥<span class="fz48">59</span><small>.00</small></span><del
        class="fz30 text-deep-gray ml20">¥80.00</del></div>
    <div class="Cell -2of2 mark">
      <div class="mark-tips mark-tips__plain">限时优惠</div>
      <div class="mark-tips mark-tips__plain">包邮</div>
    </div>
  </div>
</div>
<div class="aiui-cells aiui-cells--gap">
  <div class="aiui-cell">
    <div class="Cell -2of2 Grid -middle">
      <span class="text-deep-gray mr20">发货</span>
      <div class="Cell -fill Grid -middle">
        <i class="icon-address address-cell--small"></i>
        <span>山东德州</span>
        <p class="split-line">快递：<span>0.00</span></p>

      </div>
      <p class="text-deep-gray">月销<span>279</span></p>
    </div>
  </div>
</div>
<div class="aiui-cells ">
  <div class="aiui-cell">
    <div class="aiui-cell__hd">
      <span class="text-deep-gray">活动</span>
    </div>
    <div class="aiui-cell__bd">
      <span>有运费险，退货最高可省25元</span>
    </div>
    <div class="aiui-cell__ft">
      <i class="icon-arrow-right"></i>
    </div>
  </div>
</div>
<div class="aiui-cells aiui-cells--gap">
  <div class="aiui-cell">
    <div class="aiui-cell__hd">
      <span class="text-deep-gray">服务</span>
    </div>
    <div class="aiui-cell__bd">
      <span>48小时内发货·坏单包赔</span>
    </div>
    <div class="aiui-cell__ft">
      <i class="icon-arrow-right"></i>
    </div>
  </div>
</div>

<div class="aiui-cells  aiui-cells--gap">
  <div class="aiui-cell">
    <div class="aiui-cell__hd">
      <span class="text-deep-gray">选择</span>
    </div>
    <div class="aiui-cell__bd">
      <span>配送至：岳麓区</span>
    </div>
    <div class="aiui-cell__ft">
      <i class="icon-arrow-right"></i>
    </div>
  </div>
</div>
<div class="aiui-cells  ">
  <div class="aiui-cell">
    <div class="aiui-cell__hd">
      <span class="text-deep-gray">参数</span>
    </div>
    <div class="aiui-cell__bd">
      <span>产地 省份…</span>
    </div>
    <div class="aiui-cell__ft">
      <i class="icon-arrow-right"></i>
    </div>
  </div>
</div>
<div class="aiui-cells  aiui-cells--gap">
  <div class="aiui-cell">
    <div class="Cell -2of2 Grid -between">
      <p>商品评价(<span>1234</span>)</p>
      <button class="text-warn Grid -middle">查看全部 <i class="icon-arrow-right icon-arrow-right--warn"></i></button>
    </div>
    <div class="Cell -2of2 mark mt30">
      <span class="mark-tips mark-tips--medium mark-tips--default">口感不错(36)</span>
      <span class="mark-tips mark-tips--medium mark-tips--default">实惠(31)</span>
      <span class="mark-tips mark-tips--medium mark-tips--default">包装挺好(31)</span>
    </div>
    <div class="Cell -2of2 Grid mt30">
      <div class="avatar avatar-38">
        <img src="../images/avatar.png" alt="头像">
      </div>
      <p class="text-deep-gray ml20">小石头的农场</p>
    </div>
    <div class="Cell -2of2 mt10">还可以，整体来说不错。包装也比较讲究，会考虑回购的。</div>
  </div>
  <div class="aiui-cell">
    <div class="Cell -2of2 Grid -between">
      <p>问大家(<span>4</span>)</p>
      <button class="text-warn Grid -middle">查看全部 <i class="icon-arrow-right icon-arrow-right--warn"></i></button>
    </div>
    <div class="Cell -2of2">
      <a class="Grid -middle mt30">
        <div class="mr20"><span class="mark-tips mark-tips--tiny mark-tips--red">问</span></div>
        <p class="Cell -fill txt-ellipsis">分量足不足？</p>
        <p class="text-deep-gray"><span>2</span>个回答</p>
      </a>
      <a class="Grid -middle mt30">
        <div class="mr20"><span class="mark-tips mark-tips--tiny mark-tips--red">问</span></div>
        <p class="Cell -fill">真的新鲜吗？</p>
        <p class="text-deep-gray"><span>2</span>个回答</p>
      </a>
    </div>
  </div>
</div>
<div class="aiui-cells  aiui-cells--gap">
  <div class="aiui-cell">
    <div class="Cell -2of2 Grid -middle">
      <div class="avatar avatar-100 mr20">
        <img src="../images/avatar-01.png" alt="">
      </div>
      <div class="Cell -fill Grid ">
        <h3 class="Cell -2of2">鄂尔多斯农场</h3>
        <div class="mt20 ">
          <div class="mark-tips mark-tips__org"><span class="text-deep-gray fz22">综合体验</span>
            <div class="aiui-star aiui-star--small ml10">
              <ul class="aiui-star__box star" score="4">
                <li class="aiui-star__item icon-star on"><a href="javascript:;">1</a></li>
                <li class="aiui-star__item icon-star on"><a href="javascript:;">2</a></li>
                <li class="aiui-star__item icon-star on"><a href="javascript:;">3</a></li>
                <li class="aiui-star__item icon-star on"><a href="javascript:;">4</a></li>
                <li class="aiui-star__item icon-star"><a href="javascript:;">5</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <button class="ml20 aiui-btn aiui-btn--plain aiui-btn--small aiui-btn--primary aiui-btn--pill">全部商品</button>
      <button class="ml10 aiui-btn  aiui-btn--small aiui-btn--primary aiui-btn--pill">进店逛逛</button>
    </div>
    <div class="Cell -2of2 Grid -middle mt40">
      <div class=" mark">
        <span class="fz24 text-deep-gray mr20">商品描述</span>
        <span class="fz24 text-warn mr10">4.9</span>
        <span class="mark-tips mark-tips--small  mark-tips__org">高</span>
      </div>
      <div class=" Cell -fill Grid -middle -center ">
        <span class="fz24 text-deep-gray mr20">卖家服务</span>
        <span class="fz24 text-warn mr10">4.8</span>
        <span class="mark-tips mark-tips--small mark-tips__org">高</span>
      </div>
      <div class=" mark">
        <span class="fz24 text-deep-gray mr20">物流服务</span>
        <span class="fz24 text-warn mr10">4.8</span>
        <span class="mark-tips mark-tips--small  mark-tips__org">高</span>
      </div>
    </div>
  </div>
</div>
<div class="mall-product-title"><span>商品详情</span></div>
<div class="thumb">
  <img src="../images/mall/product-14.jpg" alt="">
</div>
<div class="aiui-cells mb20">
  <div class="aiui-cell mall-product-info">
    <h2 >价格说明</h2>
      <div class="mall-product-info__item">
        <h3>划线价格</h3>
        <p>商品的专柜价、吊牌价、正品零售价、厂商指导价或该商品展示过的销售价等，<strong>并非原价</strong>，仅供参考。</p>
      </div>
      <div class="mall-product-info__item">
          <h3>未划线价格</h3>
          <p>商品的<strong>实时标价</strong>，不因表述的差异改变性质。具体成交价格根据商品参加活动，或会员食用优惠券、积分等发生变化，</p>
        </div>
    </div>
  </div>
<!--内容区域 end-->
<!--底部悬浮按钮 start-->
<div class="aiui-footbtn-wrap">
  <div class="aiui-footbtn  aiui-footbtn--nospace aiui-footbtn__default Grid --right">
    <a href="#" class="aiui-footbtn__item">
      <div class="icon-shop"></div>
      <p>店铺主页</p>
    </a>
    <a href="javascript:;" class="aiui-footbtn__item" id="btnFavorite">
        <div class="icon-favorite"></div>
        <p>收藏</p>
      </a>
    <button type="button" class="aiui-btn  aiui-btn--giant aiui-btn--lightgreen">加入购物车</button>
    <a href="07.04-确认订单.html" class="aiui-btn  aiui-btn--giant aiui-btn--green" >立即购买</a>
  </div>
</div>
<!--底部悬浮按钮 end-->
{% endblock %}
{% block footer %}
<script>
  $(function () {
    // banner
    var swiper = new Swiper('.swiperIndexAd', {
      observer: true,
      observeParents: true,
      pagination: {
        el: '.swiper-pagination',
        type: 'fraction',
      }
    });
    // 收藏
    $('#btnFavorite').click(function(){
      var statusFavoriteBtn=$(this).find('.icon-favorite');
      var favoriteTxt=$(this).find('p');
      if(statusFavoriteBtn.hasClass('icon-favorite-fill')){
        statusFavoriteBtn.removeClass('icon-favorite-fill');
        favoriteTxt.html('收藏');
      }else{
        statusFavoriteBtn.addClass('icon-favorite-fill');
        favoriteTxt.html('已收藏');
      }
    })
  });
</script>
{% endblock %}