{% extends 'app.nunjucks' %}
{% block title %}蔬游-商品详情{% endblock %}
{% block content %}
<!--头部导航 start-->
<div class="aiui-navbar-wrap">
  <div class="aiui-navbar aiui-navbar--primary aiui-navbar--fixed">
    <div class="aiui-navbar__item">
      <a href="javascript:history.back();" class="icon-return"></a>
    </div>
    <h3 class="aiui-navbar__title">商品详情</h3>
    <div class="aiui-navbar__item">
      <a href="#" class="icon-shopping-cart"></a>
      <a href="#" class="icon-share-2px ml20"></a>
    </div>
  </div>
</div>
<!--头部导航 end-->
<!--内容区域 start-->
<!-- swiper begin -->
<div class="swiper-container swiper-mallproduct-ad swiperIndexAd">
  <div class="swiper-wrapper">
    <div class="swiper-slide"><a href=""><img src="../images/mall/mall-product-big.png" alt=""></a></div>
    <div class="swiper-slide"><a href=""><img src="../images/mall/mall-product-big.png" alt=""></a></div>
  </div>
  <div class="swiper-pagination"></div>
</div>
<!-- swiper end -->
<div class="aiui-cells ">
  <div class="aiui-cell">
    <div class="fz34 ">清真鸡大胸新鲜鸡脯肉冷冻鸡胸肉 鸡肉营养健康瘦肉4斤简装包邮</div>
    <div class="Cell -2of2"><span class="fz34 text-red">¥<span class="fz48">59</span><small>.00</small></span><del
        class="fz30 text-deep-gray ml20">¥80.00</del></div>
    <div class="Cell -2of2 mark">
      <div class="mark-tips mark-tips__plain">限时优惠</div>
      <div class="mark-tips mark-tips__plain">包邮</div>
    </div>
  </div>
</div>
<div class="aiui-cells aiui-cells--gap">
  <div class="aiui-cell">
    <div class="Cell -2of2 Grid -middle">
      <span class="text-deep-gray mr20">发货</span>
      <div class="Cell -fill Grid -middle">
        <i class="icon-address address-cell--small"></i>
        <span>山东德州</span>
        <p class="split-line">快递：<span>0.00</span></p>

      </div>
      <p class="text-deep-gray">月销<span>279</span></p>
    </div>
  </div>
</div>
<div class="aiui-cells ">
  <div class="aiui-cell">
    <div class="aiui-cell__hd">
      <span class="text-deep-gray">活动</span>
    </div>
    <div class="aiui-cell__bd">
      <span>有运费险，退货最高可省25元</span>
    </div>
    <div class="aiui-cell__ft">
      <i class="icon-arrow-right"></i>
    </div>
  </div>
</div>
<div class="aiui-cells aiui-cells--gap">
  <div class="aiui-cell">
    <div class="aiui-cell__hd">
      <span class="text-deep-gray">服务</span>
    </div>
    <div class="aiui-cell__bd">
      <span>48小时内发货·坏单包赔</span>
    </div>
    <div class="aiui-cell__ft">
      <i class="icon-arrow-right"></i>
    </div>
  </div>
</div>

<div class="aiui-cells  aiui-cells--gap">
  <div class="aiui-cell">
    <div class="aiui-cell__hd">
      <span class="text-deep-gray">选择</span>
    </div>
    <div class="aiui-cell__bd">
      <span>配送至：岳麓区</span>
    </div>
    <div class="aiui-cell__ft">
      <i class="icon-arrow-right"></i>
    </div>
  </div>
</div>
<div class="aiui-cells  ">
  <div class="aiui-cell">
    <div class="aiui-cell__hd">
      <span class="text-deep-gray">参数</span>
    </div>
    <div class="aiui-cell__bd">
      <span>产地 省份…</span>
    </div>
    <div class="aiui-cell__ft">
      <i class="icon-arrow-right"></i>
    </div>
  </div>
</div>
<div class="aiui-cells  aiui-cells--gap">
  <div class="aiui-cell">
    <div class="Cell -2of2 Grid -between">
      <p>商品评价(<span>1234</span>)</p>
      <button class="text-warn Grid -middle">查看全部 <i class="icon-arrow-right icon-arrow-right--warn"></i></button>
    </div>
    <div class="Cell -2of2 mark mt30">
      <span class="mark-tips mark-tips--medium mark-tips--default">口感不错(36)</span>
      <span class="mark-tips mark-tips--medium mark-tips--default">实惠(31)</span>
      <span class="mark-tips mark-tips--medium mark-tips--default">包装挺好(31)</span>
    </div>
    <div class="Cell -2of2 Grid mt30">
        <div class="avatar avatar-38">
            <img src="../images/avatar.png" alt="头像">
        </div>
        <p class="name">这是租户名字</p>
    </div>
  </div>

</div>
<!--内容区域 end-->
<!--底部悬浮按钮 start-->
<div class="aiui-footbtn-wrap">
  <div class="aiui-footbtn aiui-footbtn__default Grid -right">
    <button type="button" onclick="window.location.href='04.12.04-物流详情.html'"
      class="aiui-btn aiui-btn--plain aiui-btn--small aiui-btn--default aiui-btn--pill">查看物流</button>
    <button type="button" class="aiui-btn aiui-btn--plain aiui-btn--small aiui-btn--primary aiui-btn--pill"
      id="confirmDialog">确认收货</button>
  </div>
</div>
<!--底部悬浮按钮 end-->
{% endblock %}
{% block footer %}
<script>
  $(function () {
    // banner
    var swiper = new Swiper('.swiperIndexAd', {
      observer: true,
      observeParents: true,
      pagination: {
        el: '.swiper-pagination',
        type: 'fraction',
      }
    });
    //确认弹窗
    $("#confirmDialog").bind("click", function () {
      $("#selectLandPopup").hide();
      var descText = '<p>您的蔬菜已配送成功，确定收货请点确认按钮。</p>';
      aiui.confirm(descText, {
        title: '提示',
        buttons: [{
          label: '取消',
          type: 'default',
          onClick: function () { alert('取消') }
        }, {
          label: '确认',
          type: 'primary',
          onClick: function () { alert('确认') }
        }]
      });
    });
  });
</script>
{% endblock %}