// prettier-ignore
@maxWidth:768PX;

.fixed-default {
  position: fixed;
  left: auto;
  right: auto;
  width: 100%;
  max-width: @maxWidth;
  margin: auto;
}

// align
.text-center {
  text-align: center !important;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}
// color
.text-primary {
  color: @aiuiColorPrimary;
}
.img-percentage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
//padding
.pt30 {
  padding-top: 30px;
}
//height
.h88 {
  height: 88px;
}
.abs-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.placeholder(@color: #999999) {
  &::-webkit-input-placeholder {
    color: @color;
  }

  &::-moz-placeholder {
    color: @color;
  }

  &:-ms-input-placeholder {
    color: @color;
  }
}
