// prettier-ignore
@maxWidth:768PX;

// align
.text-center {
  text-align: center !important;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}
// color
.text-primary {
  color: @aiuiColorPrimary;
}
.text-warn {
  color: @aiuiColorWarn;
}
.text-blue {
  color: @aiuiColorBlue;
}
.text-lightblue{
  color:@aiuiColorLightBlue;
}
.text-purple{
  color:@aiuiColorPurple;
}
.text-red {
  color: @aiuiColorRed;
}
.text__gray {
  color: @aiuiColorGray;
}
.text-deep__gray {
  color: @aiuiColorDeepGray;
}
.text-med__gray {
  color: @aiuiColorMedGray;
}

.response-img {
  width: 100%;
}

//font-weight
.font-weight {
  font-weight: bolder;
}

.htmltagwrap {
  padding: 30px 24px;
}

.img-percentage() {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.thumb {
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.thumb-40 {
  width: 40px;
  height: 40px;
}
.thumb-48 {
  width: 48px;
  height: 48px;
}
.thumb-100 {
  width: 100px;
  height: 100px;
}
.thumb-120 {
  width: 120px;
  height: 120px;
}
.thumb-128 {
  width: 128px;
  height: 128px;
}
.thumb-180 {
  width: 180px;
  height: 180px;
}
.thumb-190 {
  width: 190px;
  height: 190px;
}
.thumb-200 {
  width: 200px;
  height: 200px;
}
.thumb-227 {
  width: 227px;
  height: 227px;
}
.avatar {
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.avatar-28 {
  width: 28px;
  height: 28px;
}
.avatar-32 {
  width: 32px;
  height: 32px;
}
.avatar-38 {
  width: 38px;
  height: 38px;
}
.avatar-40 {
  width: 40px;
  height: 40px;
}
.avatar-45 {
  width: 45px;
  height: 45px;
}
.avatar-50 {
  width: 50px;
  height: 50px;
}
.avatar-80 {
  width: 80px;
  height: 80px;
}
.avatar-100 {
  width: 100px;
  height: 100px;
}
.avatar-130 {
  width: 130px;
  height: 130px;
}
.avatar-180 {
  width: 180px;
  height: 180px;
}

// mixins
.flex-grow() {
  width: 0;
  min-width: 0;
  flex-grow: 1;
}
.fixed-default() {
  position: fixed;
  left: auto;
  right: auto;
  width: 100%;
  max-width: @maxWidth;
  margin: auto;
}

.abs-center() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.placeholder(@color: #999999) {
  &::-webkit-input-placeholder {
    color: @color;
  }

  &::-moz-placeholder {
    color: @color;
  }

  &:-ms-input-placeholder {
    color: @color;
  }
}

//margin

.ml24 {
  margin-left: 24px;
}
.mr24 {
  margin-right: 24px;
}

.Margin(@Number, @i: 5) when (@i =< @Number) {
  .mt@{i} {
    margin-top: @i * 1px;
  }
  .mr@{i} {
    margin-right: @i * 1px;
  }
  .mb@{i} {
    margin-bottom: @i * 1px;
  }
  .ml@{i} {
    margin-left: @i * 1px;
  }
  .Margin(@Number, (@i + 5));
}
.Margin(30);

// padding

.Padding(@Number, @i: 5) when (@i =< @Number) {
  .pt@{i} {
    padding-top: @i * 1px;
  }
  .pr@{i} {
    padding-right: @i * 1px;
  }
  .pb@{i} {
    padding-bottom: @i * 1px;
  }
  .pl@{i} {
    padding-left: @i * 1px;
  }
  .Padding(@Number, (@i + 5));
}
.Padding(30);

// font-size
.FontSize(@Number, @i: 20) when (@i =< @Number) {
  .fz@{i} {
    font-size: @i * 1px;
  }
  .FontSize(@Number, (@i + 2));
}

.FontSize(70);
