{% extends 'example.nunjucks' %}
{% block title %}Button{% endblock %}
{% block content %}
  <div class="page button">
    <div class="page__hd">
      <h1 class="page__title">Button</h1>
      <p class="page__desc">按钮</p>
    </div>
    <div class="page__bd page__bd_spacing">

      <div class="button-sp-area">
        <p>颜色</p>
        <button type="button" class="aiui-btn aiui-btn--block aiui-btn--large aiui-btn--default">默认</button>
        <button type="button" class="aiui-btn aiui-btn--block aiui-btn--large aiui-btn--primary">主要</button>
        <button type="button" class="aiui-btn aiui-btn--block aiui-btn--large aiui-btn--disabled">禁用</button>
      </div>

      <div class="button-sp-area">
        <p>圆角</p>
        <button type="button" class="aiui-btn aiui-btn--block aiui-btn--large aiui-btn--default">正常</button>
        <button type="button" class="aiui-btn aiui-btn--block aiui-btn--large aiui-btn--primary aiui-btn--rounded">小圆角</button>
        <button type="button" class="aiui-btn aiui-btn--block aiui-btn--large aiui-btn--disabled aiui-btn--pill">大圆角</button>
      </div>

      <div class="button-sp-area">
        <p>尺寸</p>
        <button type="button" class="aiui-btn aiui-btn--tiny aiui-btn--primary aiui-btn--rounded">迷你</button>
        <button type="button" class="aiui-btn aiui-btn--small aiui-btn--primary aiui-btn--rounded">小</button>
        <button type="button" class="aiui-btn aiui-btn--medium aiui-btn--primary aiui-btn--rounded">中等</button>
        <button type="button" class="aiui-btn aiui-btn--large aiui-btn--primary aiui-btn--rounded">大</button>
        <button type="button" class="aiui-btn aiui-btn--giant aiui-btn--primary aiui-btn--rounded">巨大</button>
      </div>

      <div class="button-sp-area">
        <p>线条</p>
        <button type="button" class="aiui-btn aiui-btn--plain aiui-btn--tiny aiui-btn--default aiui-btn--pill">默认</button>
        <button type="button" class="aiui-btn aiui-btn--plain aiui-btn--small aiui-btn--primary aiui-btn--pill">主要</button>
      </div>

    </div>

  </div>

{% endblock %}