{% extends 'example.nunjucks' %}
{% block title %}Footer{% endblock %}
{% block content %}
  <div class="page">
    <div class="page__hd">
      <h1 class="page__title">Footer</h1>
      <p class="page__desc">页脚</p>
    </div>
    <div class="page__bd page__bd_spacing">
      <div class="aiui-footer">
        <p class="aiui-footer__text">Copyright &copy; 2008-2016 aiui.io</p>
      </div>
      <br>
      <br>
      <div class="aiui-footer">
        <p class="aiui-footer__links">
          <a href="javascript:void(0);" class="aiui-footer__link">底部链接</a>
        </p>
        <p class="aiui-footer__text">Copyright &copy; 2008-2016 aiui.io</p>
      </div>
      <br>
      <br>
      <div class="aiui-footer">
        <p class="aiui-footer__links">
          <a href="javascript:void(0);" class="aiui-footer__link">底部链接</a>
          <a href="javascript:void(0);" class="aiui-footer__link">底部链接</a>
        </p>
        <p class="aiui-footer__text">Copyright &copy; 2008-2016 aiui.io</p>
      </div>
      <div class="aiui-footer aiui-footer_fixed-bottom">
        <p class="aiui-footer__links">
          <a href="javascript:home();" class="aiui-footer__link">WeUI首页</a>
        </p>
        <p class="aiui-footer__text">Copyright &copy; 2008-2016 aiui.io</p>
      </div>
    </div>
  </div>
{% endblock %}