{% extends 'example.nunjucks' %}
{% block title %}Gallery{% endblock %}
{% block content %}
  <div class="page">
    <div class="page__hd">
      <h1 class="page__title">Gallery</h1>
      <p class="page__desc">画廊，可实现上传图片的展示或幻灯片播放</p>
    </div>
    <div class="aiui-gallery" style="display: block">
      <span class="aiui-gallery__img" style="background-image: url(./images/pic_article.png);"></span>
      <div class="aiui-gallery__opr">
        <a href="javascript:" class="aiui-gallery__del">
          <i class="aiui-icon-delete aiui-icon_gallery-delete"></i>
        </a>
      </div>
    </div>
  </div>
{% endblock %}