{% extends 'example.nunjucks' %}
{% block title %}Half-screen Dialog{% endblock %}
{% block content %}
  <div class="page">
    <div class="page__hd">
      <h1 class="page__title">Half-screen Dialog</h1>
      <p class="page__desc">半屏组件</p>
    </div>
    <div class="page__bd page__bd_spacing">
      <a href="javascript:;" class="aiui-btn aiui-btn_default" id="showIOSDialog1">样式一</a>
      <a href="javascript:;" class="aiui-btn aiui-btn_default" id="showIOSDialog2">样式二</a>
    </div>

    <div id="dialogs">
      <!--BEGIN dialog1-->
      <div class="js_dialog" id="iosDialog1" style="display: none;">
        <div class="aiui-mask"></div>
        <div class="aiui-half-screen-dialog">
          <div class="aiui-half-screen-dialog__hd">
            <div class="aiui-half-screen-dialog__hd__side">
              <button class="aiui-icon-btn aiui-icon-btn_close">关闭</button>
            </div>
            <div class="aiui-half-screen-dialog__hd__main">
              <strong class="aiui-half-screen-dialog__title">标题</strong>
            </div>
          </div>
          <div class="aiui-half-screen-dialog__bd">
            <br>
            <br>
            可放自定义内容
            <br>
            <br>
            <br>
            <br>
          </div>
        </div>
      </div>
      <!--END dialog1-->
      <!--BEGIN dialog2-->
      <div class="js_dialog" id="iosDialog2" style="display: none;">
        <div class="aiui-mask"></div>
        <div class="aiui-half-screen-dialog">
          <div class="aiui-half-screen-dialog__hd">
            <div class="aiui-half-screen-dialog__hd__side">
              <button style="display:none;" class="aiui-icon-btn aiui-icon-btn_goback">返回</button>
              <button class="aiui-icon-btn aiui-icon-btn_close">关闭</button>
            </div>
            <div class="aiui-half-screen-dialog__hd__main">
              <strong class="aiui-half-screen-dialog__title">标题</strong>
              <span class="aiui-half-screen-dialog__subtitle">标题</span>
            </div>
            <div class="aiui-half-screen-dialog__hd__side">
              <button class="aiui-icon-btn aiui-icon-btn_more">更多</button>
            </div>
          </div>
          <div class="aiui-half-screen-dialog__bd">
            <p class="aiui-half-screen-dialog__desc">
                    辅助描述内容，可根据实际需要安排
                  </p>
            <p class="aiui-half-screen-dialog__tips">
                    辅助提示内容，可根据实际需要安排
                  </p>
          </div>
          <div class="aiui-half-screen-dialog__ft">
            <a href="javascript:;" class="aiui-btn aiui-btn_default">辅助操作</a>
            <a href="javascript:;" class="aiui-btn aiui-btn_primary">主操作</a>
          </div>
        </div>
      </div>
      <!--END dialog2-->
    </div>
  </div>
{% endblock %}
{% block footer %}
  <script type="text/javascript">
    $(function () {
      var $iosDialog1 = $('#iosDialog1'),
        $iosDialog2 = $('#iosDialog2');

      $('.js_dialog').on('click', '.aiui-mask', function () {
        $(".aiui-half-screen-dialog").removeClass("aiui-half-screen-dialog_toggle")
        $(this)
          .parents('.js_dialog')
          .fadeOut(200);
      });

      $('#showIOSDialog1').on('click', function () {
        $iosDialog1.fadeIn();
        $iosDialog1
          .find(".aiui-half-screen-dialog")
          .addClass("aiui-half-screen-dialog_toggle");
      });
      $('#showIOSDialog2').on('click', function () {
        $iosDialog2.fadeIn();
        $iosDialog2
          .find(".aiui-half-screen-dialog")
          .addClass("aiui-half-screen-dialog_toggle");
      });
    });
  </script>
{% endblock %}