{% extends 'example.nunjucks' %}
{% block title %}Flex{% endblock %}
{% block content %}
  <div class="page flex">
    <div class="page__hd">
      <h1 class="page__title">Flex</h1>
      <p class="page__desc">Flex布局</p>
    </div>
    <div class="page__bd page__bd_spacing">
      <div class="aiui-flex">
        <div class="aiui-flex__item">
          <div class="placeholder">aiui</div>
        </div>
      </div>
      <div class="aiui-flex">
        <div class="aiui-flex__item">
          <div class="placeholder">aiui</div>
        </div>
        <div class="aiui-flex__item">
          <div class="placeholder">aiui</div>
        </div>
      </div>
      <div class="aiui-flex">
        <div class="aiui-flex__item">
          <div class="placeholder">aiui</div>
        </div>
        <div class="aiui-flex__item">
          <div class="placeholder">aiui</div>
        </div>
        <div class="aiui-flex__item">
          <div class="placeholder">aiui</div>
        </div>
      </div>
      <div class="aiui-flex">
        <div class="aiui-flex__item">
          <div class="placeholder">aiui</div>
        </div>
        <div class="aiui-flex__item">
          <div class="placeholder">aiui</div>
        </div>
        <div class="aiui-flex__item">
          <div class="placeholder">aiui</div>
        </div>
        <div class="aiui-flex__item">
          <div class="placeholder">aiui</div>
        </div>
      </div>
      <div class="aiui-flex">
        <div>
          <div class="placeholder">aiui</div>
        </div>
        <div class="aiui-flex__item">
          <div class="placeholder">aiui</div>
        </div>
        <div>
          <div class="placeholder">aiui</div>
        </div>
      </div>
    </div>

  </div>
{% endblock %}