{% extends 'example.nunjucks' %}
{% block title %}AIUI{% endblock %}
{% block content %}
  <div class="page home">
    <div class="page__hd">
      <h1 class="page__title">AIUI</h1>
      <p class="page__desc">AIUI 是一套同微信原生视觉体验一致的基础样式库，由微信官方设计团队为微信内网页和微信小程序量身设计，令用户的使用感知更加统一。</p>
    </div>
    <div class="page__bd page__bd_spacing">
      <ul>
        <li>
          <div class="aiui-flex js_category">
            <p class="aiui-flex__item">表单</p>
            <img src="./images/icon_nav_form.png" alt="">
          </div>
          <div class="page__category js_categoryInner">
            <div class="aiui-cells page__category-content">
              <a class="aiui-cell aiui-cell_access js_item" href="button.html">
                <div class="aiui-cell__bd">
                  <p>Button</p>
                </div>
                <div class="aiui-cell__ft"></div>
              </a>
              <a class="aiui-cell aiui-cell_access js_item" href="input.html">
                <div class="aiui-cell__bd">
                  <p>Input</p>
                </div>
                <div class="aiui-cell__ft"></div>
              </a>
              <a class="aiui-cell aiui-cell_access js_item" href="list.html">
                <div class="aiui-cell__bd">
                  <p>List</p>
                </div>
                <div class="aiui-cell__ft"></div>
              </a>
              <a class="aiui-cell aiui-cell_access js_item" href="slider.html">
                <div class="aiui-cell__bd">
                  <p>Slider</p>
                </div>
                <div class="aiui-cell__ft"></div>
              </a>
              <a class="aiui-cell aiui-cell_access js_item" href="uploader.html">
                <div class="aiui-cell__bd">
                  <p>Uploader</p>
                </div>
                <div class="aiui-cell__ft"></div>
              </a>
            </div>
          </div>
        </li>
        <li>
          <div class="aiui-flex js_category">
            <p class="aiui-flex__item">基础组件</p>
            <img src="./images/icon_nav_layout.png" alt="">
          </div>
          <div class="page__category js_categoryInner">
            <div class="aiui-cells page__category-content">
              <a class="aiui-cell aiui-cell_access js_item" href="article.html">
                <div class="aiui-cell__bd">
                  <p>Article</p>
                </div>
                <div class="aiui-cell__ft"></div>
              </a>
              <a class="aiui-cell aiui-cell_access js_item" href="badge.html">
                <div class="aiui-cell__bd">
                  <p>Badge</p>
                </div>
                <div class="aiui-cell__ft"></div>
              </a>
              <a class="aiui-cell aiui-cell_access js_item" href="flex.html">
                <div class="aiui-cell__bd">
                  <p>Flex</p>
                </div>
                <div class="aiui-cell__ft"></div>
              </a>
              <a class="aiui-cell aiui-cell_access js_item" href="footer.html">
                <div class="aiui-cell__bd">
                  <p>Footer</p>
                </div>
                <div class="aiui-cell__ft"></div>
              </a>
              <a class="aiui-cell aiui-cell_access js_item" href="gallery.html">
                <div class="aiui-cell__bd">
                  <p>Gallery</p>
                </div>
                <div class="aiui-cell__ft"></div>
              </a>
              <a class="aiui-cell aiui-cell_access js_item" href="grid.html">
                <div class="aiui-cell__bd">
                  <p>Grid</p>
                </div>
                <div class="aiui-cell__ft"></div>
              </a>
              <a class="aiui-cell aiui-cell_access js_item" href="icons.html">
                <div class="aiui-cell__bd">
                  <p>Icons</p>
                </div>
                <div class="aiui-cell__ft"></div>
              </a>
              <a class="aiui-cell aiui-cell_access js_item" href="loadmore.html">
                <div class="aiui-cell__bd">
                  <p>Loadmore</p>
                </div>
                <div class="aiui-cell__ft"></div>
              </a>
              <a class="aiui-cell aiui-cell_access js_item" href="panel.html">
                <div class="aiui-cell__bd">
                  <p>Panel</p>
                </div>
                <div class="aiui-cell__ft"></div>
              </a>
              <a class="aiui-cell aiui-cell_access js_item" href="preview.html">
                <div class="aiui-cell__bd">
                  <p>Preview</p>
                </div>
                <div class="aiui-cell__ft"></div>
              </a>
              <a class="aiui-cell aiui-cell_access js_item" href="progress.html">
                <div class="aiui-cell__bd">
                  <p>Progress</p>
                </div>
                <div class="aiui-cell__ft"></div>
              </a>
            </div>
          </div>
        </li>
        <li>
          <div class="aiui-flex js_category">
            <p class="aiui-flex__item">操作反馈</p>
            <img src="./images/icon_nav_feedback.png" alt="">
          </div>
          <div class="page__category js_categoryInner">
            <div class="aiui-cells page__category-content">
              <a class="aiui-cell aiui-cell_access js_item" href="actionsheet.html">
                <div class="aiui-cell__bd">
                  <p>Actionsheet</p>
                </div>
                <div class="aiui-cell__ft"></div>
              </a>
              <a class="aiui-cell aiui-cell_access js_item" href="dialog.html">
                <div class="aiui-cell__bd">
                  <p>Dialog</p>
                </div>
                <div class="aiui-cell__ft"></div>
              </a>
              <a class="aiui-cell aiui-cell_access js_item" href="half-screen-dialog.html">
                <div class="aiui-cell__bd">
                  <p>Half-screen Dialog</p>
                </div>
                <div class="aiui-cell__ft"></div>
              </a>
              <a class="aiui-cell aiui-cell_access js_item" href="msg.html">
                <div class="aiui-cell__bd">
                  <p>Msg</p>
                </div>
                <div class="aiui-cell__ft"></div>
              </a>
              <a class="aiui-cell aiui-cell_access js_item" href="picker.html">
                <div class="aiui-cell__bd">
                  <p>Picker</p>
                </div>
                <div class="aiui-cell__ft"></div>
              </a>
              <a class="aiui-cell aiui-cell_access js_item" href="toast.html">
                <div class="aiui-cell__bd">
                  <p>Toast</p>
                </div>
                <div class="aiui-cell__ft"></div>
              </a>
            </div>
          </div>
        </li>
        <li>
          <div class="aiui-flex js_category">
            <p class="aiui-flex__item">导航相关</p>
            <img src="./images/icon_nav_nav.png" alt="">
          </div>
          <div class="page__category js_categoryInner">
            <div class="aiui-cells page__category-content">
              <a class="aiui-cell aiui-cell_access js_item" href="navbar.html">
                <div class="aiui-cell__bd">
                  <p>Navbar</p>
                </div>
                <div class="aiui-cell__ft"></div>
              </a>
              <a class="aiui-cell aiui-cell_access js_item" href="tabbar.html">
                <div class="aiui-cell__bd">
                  <p>Tabbar</p>
                </div>
                <div class="aiui-cell__ft"></div>
              </a>
            </div>
          </div>
        </li>
        <li>
          <div class="aiui-flex js_category">
            <p class="aiui-flex__item">搜索相关</p>
            <img src="./images/icon_nav_search.png" alt="">
          </div>
          <div class="page__category js_categoryInner">
            <div class="aiui-cells page__category-content">
              <a class="aiui-cell aiui-cell_access js_item" href="searchbar.html">
                <div class="aiui-cell__bd">
                  <p>Search Bar</p>
                </div>
                <div class="aiui-cell__ft"></div>
              </a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
{% endblock %}

{% block footer %}
  <script type="text/javascript">
    $(function () {

      var winH = $(window).height();
      var categorySpace = 10;

      $('.js_category').on('click', function () {
        var $this = $(this),
          $inner = $this.next('.js_categoryInner'),
          $page = $this.parents('.page'),
          $parent = $(this).parent('li');
        var innerH = $inner.data('height');
        bear = $page;

        if (!innerH) {
          $inner.css('height', 'auto');
          innerH = $inner.height();
          $inner.removeAttr('style');
          $inner.data('height', innerH);
        }

        if ($parent.hasClass('js_show')) {
          $parent.removeClass('js_show');
        } else {
          $parent
            .siblings()
            .removeClass('js_show');

          $parent.addClass('js_show');
          if (this.offsetTop + this.offsetHeight + innerH > $page.scrollTop() + winH) {
            var scrollTop = this.offsetTop + this.offsetHeight + innerH - winH + categorySpace;

            if (scrollTop > this.offsetTop) {
              scrollTop = this.offsetTop - categorySpace;
            }

            $page.scrollTop(scrollTop);
          }
        }

        var winH = $(window).height();
        var $foot = $('body').find('.page__ft');
        if ($foot.length < 1) 
          return;
        
        if ($foot.position().top + $foot.height() < winH) {
          $foot.addClass('j_bottom');
        } else {
          $foot.removeClass('j_bottom');
        }
      });
    });
  </script>
{% endblock %}