{% extends 'example.nunjucks' %}
{% block title %}Headbar{% endblock %}
{% block content %}
<div class="page">
  <div class="page__hd">
    <h1 class="page__title">Tabbar</h1>
    <p class="page__desc">底部导航</p>
  </div>
  <div class="page__bd">
    <div class="aiui-tabbar">
      <a href="javascript:;" class="aiui-tabbar__item aiui-bar__item_on">
        <div class="aiui-tabbar__icon">
          <img src="./images/icon_tabbar.png">
          <span class="aiui-badge" style="position: absolute;top: -2px;right: -13px;">8</span>
        </div>
        <p class="aiui-tabbar__label">首页</p>
      </a>
      <a href="javascript:;" class="aiui-tabbar__item aiui-bar__item_on">
        <div class="aiui-tabbar__icon">
          <img src="./images/icon_tabbar.png">
          <span class="aiui-badge" style="position: absolute;top: -2px;right: -13px;">8</span>
        </div>
        <p class="aiui-tabbar__label">附件</p>
      </a>
      <a href="javascript:;" class="aiui-tabbar__item aiui-bar__item_on">
        <div class="aiui-tabbar__icon">
          <img src="./images/icon_tabbar.png">
          <span class="aiui-badge" style="position: absolute;top: -2px;right: -13px;">8</span>
        </div>
        <p class="aiui-tabbar__label">购物车</p>
      </a>
      <a href="javascript:;" class="aiui-tabbar__item aiui-bar__item_on">
        <div class="aiui-tabbar__icon">
          <img src="./images/icon_tabbar.png">
          <span class="aiui-badge" style="position: absolute;top: -2px;right: -13px;">8</span>
        </div>
        <p class="aiui-tabbar__label">我的</p>
      </a>

    </div>
  </div>

</div>
{% endblock %}