{% extends 'example.nunjucks' %}
{% block title %}Headbar{% endblock %}
{% block content %}
<div class="page">
  <div class="page__hd">
    <h1 class="page__title">Tabbar</h1>
    <p class="page__desc">底部导航</p>
  </div>
  <div class="page__bd">
    <div class="aiui-tabbar">
      <a href="javascript:;" class="aiui-tabbar__item aiui-bar__item_on">
        <span style="display: inline-block;position: relative;">
          <img src="./images/icon_tabbar.png" alt="" class="aiui-tabbar__icon">
          <span class="aiui-badge" style="position: absolute;top: -2px;right: -13px;">8</span>
        </span>
        <p class="aiui-tabbar__label">微信</p>
      </a>
      <a href="javascript:;" class="aiui-tabbar__item">
        <img src="./images/icon_tabbar.png" alt="" class="aiui-tabbar__icon">
        <p class="aiui-tabbar__label">通讯录</p>
      </a>
      <a href="javascript:;" class="aiui-tabbar__item">
        <span style="display: inline-block;position: relative;">
          <img src="./images/icon_tabbar.png" alt="" class="aiui-tabbar__icon">
          <span class="aiui-badge aiui-badge_dot" style="position: absolute;top: 0;right: -6px;"></span>
        </span>
        <p class="aiui-tabbar__label">发现</p>
      </a>
      <a href="javascript:;" class="aiui-tabbar__item">
        <img src="./images/icon_tabbar.png" alt="" class="aiui-tabbar__icon">
        <p class="aiui-tabbar__label">我</p>
      </a>
    </div>
  </div>

</div>
{% endblock %}