@import "../../base/fn";

@aiuiTabbarHeight: 98px;
@aiuiTabbarIconSize: 48px;
@aiuiTabbarBgColor: #ffffff;
.aiui-tabbar {
  display: flex;
  z-index: 500;
  background-color: @aiuiTabbarBgColor;

  &:before {
    .setTopLine(@aiuiLineColorLight);
  }

  &__icon {
    width: @aiuiTabbarIconSize;
    height: @aiuiTabbarIconSize;
    position: relative;
    img {
      width: 100%;
      height: 100%;
    }
    .aiui-badge {
      position: absolute;
      right: 0;
      top: 0;
      transform: translateX(100%);
      transform-origin: 100%;
    }
  }

  &__label {
    color: @aiuiTextColorTitle;
    font-size: 20px;
    line-height: 20px;
  }

  &__item {
    flex: 1;
    color: @aiuiTextColorDesc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: @aiuiTabbarHeight;

    &--on {
      .aiui-tabbar__label {
        color: @aiuiColorPrimary;
      }
    }
  }
}
