.aiui-headbar__wrap {
  height: 88px;
}
.aiui-headbar {
  .fixed-default;
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 88px;
  &__title {
    .abs-center;
    max-width: 50%;
    .ellipsis;
  }
}
